Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Fixing prepare-environment script
  manifests/modules/security/cam/.workshop/terraform/main.tf
Labels: none

Fixing prepare-environment
  manifests/modules/security/cam/.workshop/terraform/main.tf
Labels: none

e2e validation for managing section
  website/docs/security/cluster-access-management/managing.md
Labels: content/security

e2e validation for cluster-creator section
  website/docs/security/cluster-access-management/cluster-creator.md
Labels: content/security

Commenting rolebinding from prepare-env. e2e validation for migration section
  manifests/modules/security/cam/.workshop/terraform/main.tf
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

Adjusting rolebinding from prepare-env. e2e validation for combining section
  manifests/modules/security/cam/.workshop/terraform/main.tf
  website/docs/security/cluster-access-management/combining.md
Labels: content/security

Running pre-commit
  website/docs/security/cluster-access-management/cluster-creator.md
  website/docs/security/cluster-access-management/combining.md
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/understanding.md
Labels: content/security

chore: Update RDS TF module to 6.5
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/main.tf
Labels: none

chore: Update RDS TF module to 6.5 (#930)
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/main.tf
Labels: none

Updated lattice controller to 1.0.5, improved cleanup
  manifests/modules/networking/vpc-lattice/.workshop/cleanup.sh
  website/docs/networking/vpc-lattice/setup.md
Labels: content/networking

update: Upgraded VPC Lattice controller to 1.0.5 (#932)
  manifests/modules/networking/vpc-lattice/.workshop/cleanup.sh
  website/docs/networking/vpc-lattice/setup.md
Labels: content/networking

add link for the access modes docs that would redirect to kubernetes docs
  website/docs/fundamentals/storage/index.md
Labels: content/fundamentals

Restructured sections
  lab/bin/reset-environment
  manifests/modules/security/cam/.workshop/cleanup.sh
  manifests/modules/security/cam/.workshop/terraform/main.tf
  manifests/modules/security/cam/.workshop/terraform/outputs.tf
  manifests/modules/security/cam/rbac/kustomization.yaml
  manifests/modules/security/cam/rbac/role.yaml
  manifests/modules/security/cam/rbac/rolebinding.yaml
  website/docs/security/cluster-access-management/.cluster-creator.md
  website/docs/security/cluster-access-management/associating-policies.md
  website/docs/security/cluster-access-management/combining.md
  website/docs/security/cluster-access-management/index.md
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
  website/docs/security/cluster-access-management/understanding.md
Labels: content/security

Some clarifications in rbac section
  website/docs/security/cluster-access-management/kubernetes-rbac.md
Labels: content/security

Tweaked migration section
  manifests/modules/security/cam/.workshop/cleanup.sh
  manifests/modules/security/cam/.workshop/terraform/main.tf
  manifests/modules/security/cam/.workshop/terraform/outputs.tf
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

Fixed flow and tests
  lab/bin/reset-environment
  website/docs/security/cluster-access-management/.cluster-creator.md
  website/docs/security/cluster-access-management/associating-policies.md
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
  website/docs/security/cluster-access-management/tests/hook-suite.sh
Labels: content/security

update: Add link for the PVC access modes docs (#933)
  website/docs/fundamentals/storage/index.md
Labels: content/fundamentals

Adding final step on associating
  website/docs/security/cluster-access-management/associating-policies.md
Labels: content/security

Fixed ARNs
  website/docs/security/cluster-access-management/associating-policies.md
Labels: content/security

new: Cluster Access Management API on Security (#919)
  lab/bin/reset-environment
  manifests/modules/security/cam/.workshop/cleanup.sh
  manifests/modules/security/cam/.workshop/terraform/main.tf
  manifests/modules/security/cam/.workshop/terraform/outputs.tf
  manifests/modules/security/cam/.workshop/terraform/vars.tf
  manifests/modules/security/cam/rbac/kustomization.yaml
  manifests/modules/security/cam/rbac/role.yaml
  manifests/modules/security/cam/rbac/rolebinding.yaml
  website/docs/security/cluster-access-management/assets/cam-workflow.png
  website/docs/security/cluster-access-management/associating-policies.md
  website/docs/security/cluster-access-management/index.md
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
  website/docs/security/cluster-access-management/tests/hook-suite.sh
  website/docs/security/cluster-access-management/understanding.md
  website/docs/security/iam-roles-for-service-accounts/add_irsa.md
  website/docs/security/iam-roles-for-service-accounts/introduction.md
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/verifying-dynamo.md
Labels: content/security

Update MySQL statefulset & deploy to 8.0
  manifests/base-application/catalog/statefulset-mysql.yaml
  manifests/base-application/orders/deployment-mysql.yaml
  manifests/modules/fundamentals/storage/ebs/statefulset-mysql.yaml
  website/docs/fundamentals/storage/ebs/statefulset.md
Labels: content/fundamentals

Remove extra space from command
  website/docs/security/pod-security-standards/restricted.md
Labels: content/security

Added lab timing for cluster access management
  website/lab-timing-data.json
Labels: none

Remove extra space from command (#936)
  website/docs/security/pod-security-standards/restricted.md
Labels: content/security

Update MySQL statefulset & deployments to 8.0 (#935)
  manifests/base-application/catalog/statefulset-mysql.yaml
  manifests/base-application/orders/deployment-mysql.yaml
  manifests/modules/fundamentals/storage/ebs/statefulset-mysql.yaml
  website/docs/fundamentals/storage/ebs/statefulset.md
Labels: content/fundamentals

update FSxN csi driver version and install method
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
Labels: content/fundamentals

Update orders database connection string for MySQL 8
  manifests/base-application/orders/secrets.yaml
Labels: none

Ignore website build from prettier checks
  .prettierignore
Labels: none

update: Changed Karpenter lab to install via helm chart
  manifests/modules/autoscaling/compute/karpenter/.workshop/cleanup.sh
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
  renovate.json
  website/docs/autoscaling/compute/karpenter/configure.md
Labels: content/autoscaling

Updated install explanation
  website/docs/autoscaling/compute/karpenter/index.md
Labels: content/autoscaling

Link for karpenter install docs
  website/docs/autoscaling/compute/karpenter/configure.md
Labels: content/autoscaling

Set replicas to 1
  website/docs/autoscaling/compute/karpenter/configure.md
Labels: content/autoscaling

update: Changed Karpenter lab to install via helm chart (#954)
  manifests/modules/autoscaling/compute/karpenter/.workshop/cleanup.sh
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
  renovate.json
  website/docs/autoscaling/compute/karpenter/configure.md
  website/docs/autoscaling/compute/karpenter/index.md
Labels: content/autoscaling

update: Changed Cluster Autoscaler lab to install via helm chart
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/cleanup.sh
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/main.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/outputs.tf
  website/docs/autoscaling/compute/cluster-autoscaler/index.md
  website/docs/autoscaling/compute/cluster-autoscaler/install.md
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

Fix renovatebot configuration
  renovate.json
Labels: none

Fix renovatebot configuration
  renovate.json
Labels: none

Fix renovatebot configuration
  renovate.json
Labels: none

Source chart and image versions from TF for updates
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  website/docs/autoscaling/compute/cluster-autoscaler/install.md
Labels: content/autoscaling

update: Changed Cluster Autoscaler lab to install via helm chart (#956)
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/cleanup.sh
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/main.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  website/docs/autoscaling/compute/cluster-autoscaler/index.md
  website/docs/autoscaling/compute/cluster-autoscaler/install.md
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

Handle helm charts in TF vars via renovatebot
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  renovate.json
Labels: none
