Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Clear docusaurus in netlify build
  website/netlify-build.sh
Labels: none

Clear docusaurus in netlify build
  website/netlify-build.sh
Labels: none

Fixed migrating old self-service environments to newer TF model
  lab/bin/reset-environment
Labels: none

Fixed migrating old self-service environments to newer TF model
  lab/bin/reset-environment
Labels: none

Update karpenter chart_version to match with EKS
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

0.35 dropped the v in version
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

Fix pod identity cleanup for incomplete lab
  manifests/modules/security/eks-pod-identity/.workshop/cleanup.sh
Labels: none

fix: Pod Identity cleanup issue when lab not complete (#885)
  manifests/modules/security/eks-pod-identity/.workshop/cleanup.sh
Labels: none

Fix TF formatting warning
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

update: Upgrade Karpenter to 0.35.4
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

Fix missing ACK provider block, make cleanup script handle incomplete lab
  manifests/modules/automation/controlplanes/ack/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
Labels: none

update: Fix ACK lab provisioning (#886)
  manifests/modules/automation/controlplanes/ack/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
Labels: none

Update first.md
  website/docs/introduction/getting-started/first.md
Labels: content/introduction

Update ip-mode.md
  website/docs/fundamentals/exposing/loadbalancer/ip-mode.md
Labels: content/fundamentals

Update deployment-with-efs.md
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
Labels: content/fundamentals

Update index.md
  website/docs/fundamentals/managed-node-groups/index.md
Labels: content/fundamentals

Update deployments.md
  website/docs/fundamentals/storage/efs/deployments.md
Labels: content/fundamentals

Update instance-diversification.md
  website/docs/fundamentals/managed-node-groups/spot/instance-diversification.md
Labels: content/fundamentals

Update create-spot-capacity.md
  website/docs/fundamentals/managed-node-groups/spot/create-spot-capacity.md
Labels: content/fundamentals

Update test-ca.md
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

Update test-ca.md
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

Update how-it-works.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/how-it-works.md
Labels: content/autoscaling

Update setting-up.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

Update first.md (#888)
  website/docs/introduction/getting-started/first.md
Labels: content/introduction

Update ip-mode.md (#889)
  website/docs/fundamentals/exposing/loadbalancer/ip-mode.md
Labels: content/fundamentals

Update index.md (#891)
  website/docs/fundamentals/managed-node-groups/index.md
Labels: content/fundamentals

Update deployment-with-efs.md (#890)
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
Labels: content/fundamentals

Update deployments.md (#892)
  website/docs/fundamentals/storage/efs/deployments.md
Labels: content/fundamentals

Update instance-diversification.md
  website/docs/fundamentals/managed-node-groups/spot/instance-diversification.md
Labels: content/fundamentals

Fix precommit warning
  website/docs/fundamentals/exposing/loadbalancer/ip-mode.md
Labels: content/fundamentals

update: Fix typos in Spot instance diversification description (#893)
  website/docs/fundamentals/managed-node-groups/spot/instance-diversification.md
Labels: content/fundamentals

Update vpc-cni to default version 1.16.0
  cluster/eksctl/cluster.yaml
Labels: none

Update test-ca.md (#895)
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

Update vpc-cni to default version 1.16.0 in eksctl instructions creation (#907)
  cluster/eksctl/cluster.yaml
Labels: none

Enable GitHub Actions in renovatebot
  renovate.json
Labels: none

Update how-it-works.md (#897)
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/how-it-works.md
Labels: content/autoscaling

Refactor installer renovatebot regex implementation
  lab/scripts/installer.sh
  renovate.json
Labels: none

Pin remaining Terraform modules to specific versions
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/main.tf
  manifests/modules/networking/network-policies/.workshop/terraform/main.tf
  manifests/modules/security/eks-pod-identity/.workshop/terraform/main.tf
  manifests/modules/security/irsa/.workshop/terraform/main.tf
  manifests/modules/security/kyverno/.workshop/terraform/main.tf
Labels: none

Enabled Terraform renovatebot manager
  renovate.json
Labels: none

Ignore legacy blueprints repository
  renovate.json
Labels: none
