Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

fixed the readme content
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/pod_stuck.md
Labels: none

fixed pre-commit errors
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/main.tf
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/pod_stuck.md
Labels: none

pod troubleshooting scenarios
  manifests/modules/troubleshooting/pod/crash/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/deployment.yaml.tpl
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/image/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/image/deployment.yaml
  manifests/modules/troubleshooting/pod/permissions/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/deployment.yaml.tpl
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/vars.tf
  website/docs/troubleshooting/pod/assets/rep-not-found.webp
  website/docs/troubleshooting/pod/assets/repo-found.webp
  website/docs/troubleshooting/pod/image_pull_1.md
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/pod/pod_stuck.md
Labels: none

added hook scripts
  website/docs/troubleshooting/pod/image_pull_1.md
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/pod_stuck.md
  website/docs/troubleshooting/pod/tests/hook-fix-1.sh
  website/docs/troubleshooting/pod/tests/hook-fix-2.sh
  website/docs/troubleshooting/pod/tests/hook-fix-3.sh
  website/docs/troubleshooting/pod/tests/hook-suite.sh
  website/test-durations.json
Labels: none

fixed pre-commit errors
  manifests/modules/troubleshooting/pod/crash/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/image/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/image/deployment.yaml
  manifests/modules/troubleshooting/pod/permissions/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/vars.tf
  website/docs/troubleshooting/pod/image_pull_1.md
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/pod/pod_stuck.md
  website/test-durations.json
Labels: none

fix pod crash
  website/docs/troubleshooting/pod/pod_stuck.md
Labels: none

Fixed text, added code, add clean up scripts.
  manifests/modules/automation/controlplanes/ack/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/outputs.tf
  website/docs/automation/controlplanes/ack/index.md
  website/docs/automation/controlplanes/ack/introduction.md
Labels: none

edited web texts
  website/docs/automation/controlplanes/ack/introduction.md
Labels: none

edited text
  website/docs/automation/controlplanes/ack/introduction.md
Labels: none

module troubleshooting/dns all files
  manifests/modules/troubleshooting/dns/.workshop/cleanup.sh
  manifests/modules/troubleshooting/dns/.workshop/lab-setup.sh
  website/docs/troubleshooting/dns/index.md
  website/docs/troubleshooting/dns/step1-config.md
  website/docs/troubleshooting/dns/step2-check-coredns.md
  website/docs/troubleshooting/dns/step3-check-kube-dns.md
  website/docs/troubleshooting/dns/step4-check-vpc.md
Labels: none

module dns format updates
  website/docs/troubleshooting/dns/index.md
  website/docs/troubleshooting/dns/step1-config.md
  website/docs/troubleshooting/dns/step2-check-coredns.md
  website/docs/troubleshooting/dns/step3-check-kube-dns.md
  website/docs/troubleshooting/dns/step4-check-vpc.md
  website/test-durations.json
Labels: none

tuning test timers module dns
  manifests/modules/troubleshooting/dns/.workshop/cleanup.sh
  manifests/modules/troubleshooting/dns/.workshop/lab-setup.log
  manifests/modules/troubleshooting/dns/.workshop/lab-setup.sh
  website/docs/troubleshooting/dns/step2-check-coredns.md
  website/docs/troubleshooting/dns/step3-check-kube-dns.md
Labels: none

Adding folders to the troubleshooting pod scenarios so the autmated test can work per scenario
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/main.tf
  website/docs/troubleshooting/pod/crash/index.md
  website/docs/troubleshooting/pod/crash/tests/hook-fix-3.sh
  website/docs/troubleshooting/pod/image/index.md
  website/docs/troubleshooting/pod/image/tests/hook-fix-1.sh
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/pod/permissions/index.md
  website/docs/troubleshooting/pod/permissions/tests/hook-fix-2.sh
Labels: none

fixing hook timeout
  website/docs/troubleshooting/pod/crash/index.md
  website/docs/troubleshooting/pod/crash/tests/hook-fix-3.sh
Labels: none

fixed exported variables and add output of command
  website/docs/troubleshooting/cni/cni_fix_1.md
  website/docs/troubleshooting/cni/cni_fix_5.md
  website/docs/troubleshooting/cni/cni_fix_9.md
  website/docs/troubleshooting/cni/index.md
Labels: none

fix: typos and rewording
  website/docs/networking/vpc-cni/network-policies/egress.md
Labels: content/networking

made all changes for troubleshooting module workernodes. Created website, manifests, and completed all tests
  manifests/modules/troubleshooting/workernodes/one/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/one/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/one/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/one/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/testcleanup.sh
  manifests/modules/troubleshooting/workernodes/two/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/vars.tf
  website/docs/troubleshooting/workernodes/index.md
  website/docs/troubleshooting/workernodes/one/index.md
  website/docs/troubleshooting/workernodes/one/tests/hook-fix-1-1.sh
  website/docs/troubleshooting/workernodes/one/tests/hook-fix-1-2.sh
  website/docs/troubleshooting/workernodes/one/tests/hook-suite.sh
  website/docs/troubleshooting/workernodes/three/index.md
  website/docs/troubleshooting/workernodes/three/tests/hook-fix-3-1.sh
  website/docs/troubleshooting/workernodes/three/tests/hook-fix-3-2.sh
  website/docs/troubleshooting/workernodes/three/tests/hook-suite.sh
  website/docs/troubleshooting/workernodes/two/index.md
  website/docs/troubleshooting/workernodes/two/tests/hook-fix-2-1.sh
  website/docs/troubleshooting/workernodes/two/tests/hook-fix-2-2.sh
  website/docs/troubleshooting/workernodes/two/tests/hook-fix-2-3.sh
  website/docs/troubleshooting/workernodes/two/tests/hook-suite.sh
  website/test-durations.json
Labels: none

modified aws-auth script to modify existing entries and not create a brand new aws-auth entry
  manifests/modules/troubleshooting/workernodes/three/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/testcleanup.sh
Labels: none

Update policy_view.md
  website/docs/observability/resource-view/workloads-view/policy_view.md
Labels: content/observability

fix: Policy view spelling error (#1179)
  website/docs/observability/resource-view/workloads-view/policy_view.md
Labels: content/observability

fix: VPC CNI language fixes (#1178)
  website/docs/networking/vpc-cni/network-policies/egress.md
Labels: content/networking

edited clean up text, codes in intro page
  manifests/modules/automation/controlplanes/ack/.workshop/cleanup.sh
  website/docs/automation/controlplanes/ack/introduction.md
Labels: none

Updating page indexes and adding CNI automated test timeout
  manifests/modules/troubleshooting/alb/.workshop/cleanup.sh
  website/docs/troubleshooting/cni/cni_fix_1.md
  website/docs/troubleshooting/cni/cni_fix_5.md
  website/docs/troubleshooting/cni/cni_fix_9.md
  website/docs/troubleshooting/cni/index.md
  website/docs/troubleshooting/dns/index.md
  website/docs/troubleshooting/dns/step1-config.md
  website/docs/troubleshooting/dns/step2-check-coredns.md
  website/docs/troubleshooting/dns/step3-check-kube-dns.md
  website/docs/troubleshooting/dns/step4-check-vpc.md
  website/docs/troubleshooting/index.md
  website/docs/troubleshooting/pod/crash/index.md
  website/docs/troubleshooting/pod/image/index.md
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/pod/permissions/index.md
  website/test-durations.json
Labels: none

made all changes for troubleshooting module workernodes. Created website, manifests, and completed all tests
  manifests/modules/troubleshooting/workernodes/one/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/one/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/one/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/one/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/testcleanup.sh
  manifests/modules/troubleshooting/workernodes/two/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/vars.tf
  website/docs/troubleshooting/workernodes/index.md
  website/docs/troubleshooting/workernodes/one/index.md
  website/docs/troubleshooting/workernodes/one/tests/hook-fix-1-1.sh
  website/docs/troubleshooting/workernodes/one/tests/hook-fix-1-2.sh
  website/docs/troubleshooting/workernodes/one/tests/hook-suite.sh
  website/docs/troubleshooting/workernodes/three/index.md
  website/docs/troubleshooting/workernodes/three/tests/hook-fix-3-1.sh
  website/docs/troubleshooting/workernodes/three/tests/hook-fix-3-2.sh
  website/docs/troubleshooting/workernodes/three/tests/hook-suite.sh
  website/docs/troubleshooting/workernodes/two/index.md
  website/docs/troubleshooting/workernodes/two/tests/hook-fix-2-1.sh
  website/docs/troubleshooting/workernodes/two/tests/hook-fix-2-2.sh
  website/docs/troubleshooting/workernodes/two/tests/hook-fix-2-3.sh
  website/docs/troubleshooting/workernodes/two/tests/hook-suite.sh
  website/test-durations.json
Labels: none

modified aws-auth script to modify existing entries and not create a brand new aws-auth entry
  manifests/modules/troubleshooting/workernodes/three/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/testcleanup.sh
Labels: none

Adding corect index weight and title of the new sub-module to the main page.
  website/docs/troubleshooting/index.md
  website/docs/troubleshooting/workernodes/index.md
  website/docs/troubleshooting/workernodes/one/index.md
  website/docs/troubleshooting/workernodes/three/index.md
  website/docs/troubleshooting/workernodes/two/index.md
Labels: none

fixed image for efs console
  website/docs/troubleshooting/pod/crash/index.md
  website/static/img/services/efs.png
Labels: none

removed comments and changed workernodes website weights
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/main.tf
  website/docs/troubleshooting/workernodes/three/index.md
  website/docs/troubleshooting/workernodes/two/index.md
Labels: none

Removed "section", "step" from titles
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_7.md
  website/docs/troubleshooting/cni/cni_fix_1.md
  website/docs/troubleshooting/cni/cni_fix_5.md
  website/docs/troubleshooting/cni/cni_fix_9.md
  website/docs/troubleshooting/dns/step1-config.md
  website/docs/troubleshooting/dns/step2-check-coredns.md
  website/docs/troubleshooting/dns/step3-check-kube-dns.md
  website/docs/troubleshooting/dns/step4-check-vpc.md
Labels: none

Spellcheck completed for workernodes scenario index.md files.
  website/docs/troubleshooting/workernodes/one/index.md
  website/docs/troubleshooting/workernodes/three/index.md
  website/docs/troubleshooting/workernodes/two/index.md
Labels: none

Spellcheck completed for workernodes scenario index.md files.
  website/docs/troubleshooting/workernodes/three/index.md
Labels: none

fixed spelling and add unknown words into dictionary
  .spelling
  manifests/modules/troubleshooting/cni/.workshop/terraform/outputs.tf
  website/docs/troubleshooting/cni/cni_fix_5.md
  website/docs/troubleshooting/cni/cni_fix_9.md
  website/docs/troubleshooting/dns/index.md
  website/docs/troubleshooting/dns/step1-config.md
  website/docs/troubleshooting/dns/step2-check-coredns.md
  website/docs/troubleshooting/dns/step3-check-kube-dns.md
  website/docs/troubleshooting/dns/step4-check-vpc.md
  website/docs/troubleshooting/pod/crash/index.md
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/pod/permissions/index.md
Labels: none

added more words to dictionary
  .spelling
Labels: none

fix: replace deprecated argon-cli npm package with argon2
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

Remove unused content from RIV24 branch
  website/docs/aiml/chatbot/_category_.json
  website/docs/aiml/chatbot/add-llama2.md
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/gradio.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/intro.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/tests/hook-suite.sh
  website/docs/introduction/navigating-labs.md
  website/docs/introduction/setup/aws-event.md
  website/docs/introduction/setup/index.md
  website/docs/introduction/setup/your-account/assets/acknowledge-iam.webp
  website/docs/introduction/setup/your-account/assets/cloud9-splash.webp
  website/docs/introduction/setup/your-account/assets/cloudshell.webp
  website/docs/introduction/setup/your-account/assets/create-stack.webp
  website/docs/introduction/setup/your-account/assets/delete-stack.webp
  website/docs/introduction/setup/your-account/assets/outputs.webp
  website/docs/introduction/setup/your-account/assets/terminal-open.webp
  website/docs/introduction/setup/your-account/assets/terminal.webp
  website/docs/introduction/setup/your-account/assets/vscode-outputs.webp
  website/docs/introduction/setup/your-account/assets/vscode-password-retrieve.webp
  website/docs/introduction/setup/your-account/assets/vscode-password-visible.webp
  website/docs/introduction/setup/your-account/assets/vscode-password.webp
  website/docs/introduction/setup/your-account/assets/vscode-splash.webp
  website/docs/introduction/setup/your-account/cleanup.md
  website/docs/introduction/setup/your-account/index.md
  website/docs/introduction/setup/your-account/using-eksctl.md
  website/docs/introduction/setup/your-account/using-terraform.md
Labels: content/introduction

Remove explore module
  website/docs/fundamentals/cluster-upgrades/index.md
Labels: content/fundamentals

kub307 on home page
  website/src/pages/index.js
Labels: none

add kub307 to nav bar
  website/docusaurus.config.js
Labels: none

Added RIV specific urls
  website/docusaurus.config.js
  website/src/pages/index.js
Labels: none

Specific changes for ReInvent (#1186)
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  website/docs/aiml/chatbot/_category_.json
  website/docs/aiml/chatbot/add-llama2.md
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/gradio.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/intro.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/tests/hook-suite.sh
  website/docs/fundamentals/cluster-upgrades/index.md
  website/docs/introduction/navigating-labs.md
  website/docs/introduction/setup/aws-event.md
  website/docs/introduction/setup/index.md
  website/docs/introduction/setup/your-account/assets/acknowledge-iam.webp
  website/docs/introduction/setup/your-account/assets/cloud9-splash.webp
  website/docs/introduction/setup/your-account/assets/cloudshell.webp
  website/docs/introduction/setup/your-account/assets/create-stack.webp
  website/docs/introduction/setup/your-account/assets/delete-stack.webp
  website/docs/introduction/setup/your-account/assets/outputs.webp
  website/docs/introduction/setup/your-account/assets/terminal-open.webp
  website/docs/introduction/setup/your-account/assets/terminal.webp
  website/docs/introduction/setup/your-account/assets/vscode-outputs.webp
  website/docs/introduction/setup/your-account/assets/vscode-password-retrieve.webp
  website/docs/introduction/setup/your-account/assets/vscode-password-visible.webp
  website/docs/introduction/setup/your-account/assets/vscode-password.webp
  website/docs/introduction/setup/your-account/assets/vscode-splash.webp
  website/docs/introduction/setup/your-account/cleanup.md
  website/docs/introduction/setup/your-account/index.md
  website/docs/introduction/setup/your-account/using-eksctl.md
  website/docs/introduction/setup/your-account/using-terraform.md
  website/docs/networking/vpc-cni/network-policies/egress.md
  website/docs/observability/resource-view/workloads-view/policy_view.md
  website/docusaurus.config.js
  website/src/pages/index.js
Labels: content/introduction, content/fundamentals, content/networking, content/observability

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
