Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Fix Karpenter consolidation logging
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

Fix
  website/docs/troubleshooting/workernodes/two.md
Labels: none

Adding wait to the command
  website/docs/troubleshooting/workernodes/one.md
Labels: none

Removing hardcoded region.
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/outputs.tf
  website/docs/troubleshooting/workernodes/three.md
Labels: none

[create-pull-request] automated change
  website/docs/security/cluster-access-management/associating-policies.md
  website/docs/security/cluster-access-management/index.md
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
  website/docs/security/cluster-access-management/understanding.md
Labels: content/security

increasing node status validation for troubleshooting module workernodes scenario two
  website/docs/troubleshooting/workernodes/tests/hook-fix-2-3.sh
  website/docs/troubleshooting/workernodes/two.md
Labels: none

fix: Bugbash troubleshooting module bug fixes (#1556)
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/outputs.tf
  website/docs/troubleshooting/workernodes/one.md
  website/docs/troubleshooting/workernodes/tests/hook-fix-2-3.sh
  website/docs/troubleshooting/workernodes/three.md
  website/docs/troubleshooting/workernodes/two.md
Labels: none

Fix default title of auto review PRs
  .github/workflows/auto-review.yaml
Labels: none

Remove label from auto review PR
  .github/workflows/auto-review.yaml
Labels: none

[create-pull-request] automated change
  website/docs/networking/vpc-cni/security-groups-for-pods/add-sg.md
  website/docs/networking/vpc-cni/security-groups-for-pods/index.md
  website/docs/networking/vpc-cni/security-groups-for-pods/inspecting-pod.md
  website/docs/networking/vpc-cni/security-groups-for-pods/introduction.md
  website/docs/networking/vpc-cni/security-groups-for-pods/using-rds.md
Labels: content/networking

[create-pull-request] automated change
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/autoscaling-coredns-usecase.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/index.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
Labels: content/autoscaling

Fix catalog URLs
  website/docs/fundamentals/exposing/ingress/multiple-ingress.md
  website/docs/networking/vpc-cni/network-policies/ingress.md
Labels: content/fundamentals, content/networking

Small change : schedule on pods
  website/docs/aiml/chatbot/nodepool.md
Labels: none

Restructure intro section
  website/docs/introduction/advanced-concepts/index.md
  website/docs/introduction/advanced-concepts/nodes/index.md
  website/docs/introduction/advanced-concepts/nodes/selectors.md
  website/docs/introduction/advanced-concepts/nodes/taints-tolerations.md
  website/docs/introduction/advanced-concepts/rbac/bindings.md
  website/docs/introduction/advanced-concepts/rbac/index.md
  website/docs/introduction/advanced-concepts/rbac/roles.md
  website/docs/introduction/advanced-concepts/workloads/daemonsets.md
  website/docs/introduction/advanced-concepts/workloads/index.md
  website/docs/introduction/advanced-concepts/workloads/jobs.md
  website/docs/introduction/advanced-concepts/workloads/statefulsets.md
  website/docs/introduction/getting-started/about.md
  website/docs/introduction/getting-started/exploration.md
  website/docs/introduction/getting-started/finish.md
  website/docs/introduction/getting-started/first.md
  website/docs/introduction/getting-started/full-deployment.md
  website/docs/introduction/getting-started/index.md
  website/docs/introduction/getting-started/sample-application.md
  website/docs/introduction/helm/index.md
  website/docs/introduction/kubernetes-fundamentals/concepts/index.md
  website/docs/introduction/kubernetes-fundamentals/configuration/index.md
  website/docs/introduction/kubernetes-fundamentals/deployments/index.md
  website/docs/introduction/kubernetes-fundamentals/index.md
  website/docs/introduction/kubernetes-fundamentals/pods/index.md
  website/docs/introduction/kubernetes-fundamentals/services/index.md
  website/docs/introduction/kustomize/index.md
Labels: content/introduction

Adding better explanations for YAML files in the Fundamentals section
  website/docs/fundamentals/exposing/ingress/multiple-ingress.md
  website/docs/fundamentals/exposing/loadbalancer/index.md
  website/docs/fundamentals/storage/ebs/statefulset-with-ebs.md
Labels: content/fundamentals

Added a new lab of advance troubleshooting with Q CLI
  manifests/modules/aiml/q-cli/.workshop/cleanup.sh
  manifests/modules/aiml/q-cli/.workshop/terraform/main.tf
  manifests/modules/aiml/q-cli/.workshop/terraform/outputs.tf
  manifests/modules/aiml/q-cli/troubleshoot/dynamo/carts-configMap.yaml
  manifests/modules/aiml/q-cli/troubleshoot/dynamo/config.properties
  manifests/modules/aiml/q-cli/troubleshoot/dynamo/kustomization.yaml
  website/docs/aiml/q-cli/advance-troubleshooting.md
  website/docs/aiml/q-cli/assets/q-cli-response-4.jpg
  website/docs/aiml/q-cli/basic-troubleshooting.md
  website/docs/aiml/q-cli/q-cli-setup.md
  website/docs/aiml/q-cli/retrieve-cluster-details.md
Labels: none

update: Fix typo in chat bot lab explanation (#1559)
  website/docs/aiml/chatbot/nodepool.md
Labels: none

update: Better explain YAML files for Exposing labs #1389 (#1560)
  website/docs/fundamentals/exposing/ingress/multiple-ingress.md
  website/docs/fundamentals/exposing/loadbalancer/index.md
  website/docs/fundamentals/storage/ebs/statefulset-with-ebs.md
Labels: content/fundamentals

Update .mergify.yml
  .mergify.yml
Labels: none

Incorporated the suggestions given by toolkit-md
  website/docs/aiml/q-cli/advance-troubleshooting.md
  website/docs/aiml/q-cli/basic-troubleshooting.md
  website/docs/aiml/q-cli/index.md
  website/docs/aiml/q-cli/q-cli-setup.md
  website/docs/aiml/q-cli/retrieve-cluster-details.md
Labels: none

Cropped images
  website/docs/aiml/q-cli/assets/q-cli-response-1-5.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-1.jpg
Labels: none

Updated the prompt language to be more direct
  website/docs/aiml/q-cli/advance-troubleshooting.md
  website/docs/aiml/q-cli/basic-troubleshooting.md
  website/docs/aiml/q-cli/retrieve-cluster-details.md
Labels: none

Updated prepare-environment description
  website/docs/aiml/q-cli/index.md
Labels: none

Updating links broken due to Autoscaling move
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/inferentia/karpenter.md
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/resource-view/workloads-view/policy_view.md
  website/docs/troubleshooting/workernodes/index.md
Labels: content/observability

Dont default collapse Compute section
  website/docs/fundamentals/compute/_category_.json
Labels: content/fundamentals

YAML file explanations for Observability section
  website/docs/observability/open-source-metrics/adot.md
Labels: content/observability

Revert helm provider upgrade
  manifests/.workshop/terraform/base.tf
Labels: none

Fix Karpenter TF module usage
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
Labels: none

Fix Karpenter TF module usage
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

Fix EC2 TF module usage
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/main.tf
Labels: none

Fix EC2 TF module usage
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/main.tf
Labels: none

Log temp directory
  hack/validate-terraform.sh
Labels: none

Minor lint fixes
  website/src/components/ConsoleButton/index.tsx
Labels: none

Minor language fix
  website/docs/fundamentals/exposing/ingress/index.md
Labels: content/fundamentals

Minor language fix
  website/docs/introduction/setup/your-account/using-terraform.md
Labels: content/introduction

Remove reporters
  testing/util/package-lock.json
  testing/util/package.json
  testing/util/src/lib/markdownsh.ts
Labels: none

Minor language fix
  website/docs/introduction/setup/your-account/using-terraform.md
Labels: content/introduction

Fix tracking
  manifests/modules/exposing/ingress/.workshop/terraform/vars.tf
Labels: none

Minor lint fixes
  website/src/components/ConsoleButton/index.tsx
Labels: none

Minor language fix
  website/docs/fundamentals/exposing/ingress/index.md
Labels: content/fundamentals
