Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

removed automated asg VAR. Confirmed
  website/docs/troubleshooting/workernodes/one.md
  website/docs/troubleshooting/workernodes/three.md
  website/docs/troubleshooting/workernodes/two.md
Labels: none

fix: Minor edits to MNG affinity docs (#1416)
  website/docs/fundamentals/managed-node-groups/basics/affinity/index.md
Labels: content/fundamentals

fix: Troubleshooting worker node issue (#1417)
  lab/iam/policies/troubleshoot.yaml
  manifests/modules/troubleshooting/dns/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/yaml/configmaps.yaml
  website/docs/troubleshooting/workernodes/one.md
  website/docs/troubleshooting/workernodes/three.md
  website/docs/troubleshooting/workernodes/two.md
Labels: none

added clusterid variable to ecr_ec2_role
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
Labels: none

typo
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
Labels: none

Update renovate.json
  renovate.json
Labels: none

fix: Troubleshooting module all scenarios - pods permission (#1424)
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
Labels: none

eks-workshop ENV variable added
  website/docs/troubleshooting/pod/private_image.md
Labels: none

wait added for albc pods
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

increase test hook time for alb and workernodes
  website/docs/troubleshooting/alb/tests/hook-fix-7.sh
  website/docs/troubleshooting/workernodes/tests/hook-fix-3-1.sh
Labels: none

fix: Test Scripts and Variable in Troubleshooting Modules (#1427)
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/tests/hook-fix-7.sh
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/workernodes/tests/hook-fix-3-1.sh
Labels: none

Moved file system creation to Terraform, updated lab4 IAM.
  lab/iam/policies/labs4.yaml
  manifests/modules/fundamentals/storage/fsxz/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fs-deployment.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fsxz-fs-pvc.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/fsxz-fs-sc.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-vol/fsxz-vol-sc.yaml
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/ephemeral-container-storage.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-openzfs/index.md
Labels: content/fundamentals

Updated Terraform formatting in main.tf of FSxZ module
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/main.tf
Labels: none

Updated Terraform formatting in main.tf for FSxZ module
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/main.tf
Labels: none

Updated main.tf in FSxZ module
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/main.tf
Labels: none

troubleshooting minor fixes
  manifests/modules/troubleshooting/dns/.workshop/terraform/lab-setup.sh
  manifests/modules/troubleshooting/dns/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/dns/.workshop/terraform/vars.tf
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/dns/index.md
Labels: none

fix terraform validation
  manifests/modules/troubleshooting/dns/.workshop/terraform/outputs.tf
Labels: none

further terraform val fix
  manifests/modules/troubleshooting/dns/.workshop/terraform/outputs.tf
Labels: none

trigger build
  manifests/modules/troubleshooting/dns/.workshop/terraform/outputs.tf
Labels: none

empty main.tf
  manifests/modules/troubleshooting/dns/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/terraform/outputs.tf
Labels: none

fix: troubleshooting minor fixes to cleanup and misc (#1429)
  manifests/modules/troubleshooting/dns/.workshop/terraform/lab-setup.sh
  manifests/modules/troubleshooting/dns/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/dns/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/dns/.workshop/terrraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/terrraform/outputs.tf
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/dns/index.md
Labels: none

update: Streamlined FSxZ module flow (#1428)
  lab/iam/policies/labs4.yaml
  manifests/modules/fundamentals/storage/fsxz/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fs-deployment.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fsxz-fs-pvc.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/fsxz-fs-sc.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-vol/fsxz-vol-sc.yaml
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/ephemeral-container-storage.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-openzfs/index.md
Labels: content/fundamentals

Update renovate.json
  renovate.json
Labels: none

Ignore extension failures
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

FSxL module ready for testing, separated out FSx file system creation and DRA
  manifests/modules/fundamentals/storage/fsxl/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxl/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxl/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxl/workshop_flow.txt
Labels: none

Pin sample app tag
  website/docs/automation/gitops/flux/ci.md
Labels: none

Update(external-dns.md)
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

Update(external-dns.md)
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

Update(index.md)
  website/docs/fundamentals/exposing/ingress/index.md
Labels: content/fundamentals

Update(external-dns.md)
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

Update(external-dns.md)
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

Update(index.md)
  website/docs/fundamentals/exposing/ingress/index.md
Labels: content/fundamentals

fix: Use youtube-nocookie for embedded videos
  website/docs/automation/gitops/index.md
  website/docs/introduction/index.md
  website/docs/networking/vpc-cni/index.md
  website/docs/observability/index.md
  website/src/components/HomepageVideo/index.js
Labels: content/introduction, content/networking, content/observability

Remove old cost optimization content
  website/docs/costoptimization/index.md
  website/docs/costoptimization/savingsplans/assets/figure1.webp
  website/docs/costoptimization/savingsplans/assets/figure2.webp
  website/docs/costoptimization/savingsplans/assets/figure3.webp
  website/docs/costoptimization/savingsplans/estimatingandbuying.md
  website/docs/costoptimization/savingsplans/index.md
Labels: content/cost-optimization

update: Various language fixes to Ray Serve lab
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  website/docs/aiml/chatbot/add-mistral.md
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/mistral.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/setup.md
  website/docs/aiml/chatbot/using.md
  website/docs/aiml/index.md
Labels: none

add ConsoleButton r53 icon
  website/docs/fundamentals/exposing/ingress/external-dns.md
  website/static/img/services/route53.png
Labels: content/fundamentals

Update ascp.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
Labels: content/security

update homepage link
  website/src/components/HomepageBanner/index.js
Labels: none

chore: Update homepage promo link (#1448)
  website/src/components/HomepageBanner/index.js
Labels: none

Update setting-up.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
