Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Not needed
  manifests/modules/autoscaling/compute/cluster-autoscaler/deployment.yaml
Labels: none

fix: Fix replicas needed for over-provisioning (#1639)
  manifests/modules/autoscaling/compute/overprovisioning/scale/deployment.yaml
  website/docs/fundamentals/compute/managed-node-groups/cluster-autoscaler/overprovisioning/scaling.md
Labels: content/fundamentals

update: Updating the IAM Policy fix to share the right IAM permissions used (#1602)
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Port fix for hybrid nodes lab
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/main.tf
Labels: none

Port fix for hybrid nodes lab
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/main.tf
Labels: none

Fix race condition in CodePipeline setup
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/main.tf
Labels: none

Fix race condition in CodePipeline setup
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/main.tf
Labels: none

Fix race condition in CodePipeline setup
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/main.tf
Labels: none

Update devenv
  devenv.lock
Labels: none

Fix postgres dependency in Flux and Argo labs
  manifests/modules/automation/gitops/argocd/gitea/values.yaml
  manifests/modules/automation/gitops/flux/gitea/values.yaml
Labels: none

Fix postgres dependency in Flux and Argo labs
  manifests/modules/automation/gitops/argocd/gitea/values.yaml
  manifests/modules/automation/gitops/flux/gitea/values.yaml
Labels: none

Fix postgres dependency in Flux and Argo labs
  manifests/modules/automation/gitops/argocd/gitea/values.yaml
  manifests/modules/automation/gitops/flux/gitea/values.yaml
Labels: none

Fix flakey flux test
  .spelling
  website/docs/automation/gitops/flux/gitea.md
Labels: none

Restructure Intro
  website/docs/introduction/application-overview/index.md
  website/docs/introduction/concepts/configuration.md
  website/docs/introduction/concepts/deployments.md
  website/docs/introduction/concepts/index.md
  website/docs/introduction/concepts/namespaces.md
  website/docs/introduction/concepts/pods.md
  website/docs/introduction/concepts/services.md
  website/docs/introduction/getting-started/assets/catalog-microservice.webp
  website/docs/introduction/getting-started/assets/ide-base.webp
  website/docs/introduction/getting-started/assets/ide-initial.webp
  website/docs/introduction/getting-started/assets/ide-modules.webp
  website/docs/introduction/getting-started/assets/microservices.webp
  website/docs/introduction/getting-started/exploration.md
  website/docs/introduction/getting-started/first.md
  website/docs/introduction/getting-started/full-deployment.md
  website/docs/introduction/getting-started/index.md
  website/docs/introduction/getting-started/kubernetes-basics/index.md
  website/docs/introduction/getting-started/kubernetes-basics/pods.md
  website/docs/introduction/getting-started/microservices.md
  website/docs/introduction/helm/index.md
  website/docs/introduction/helm/tests/hook-install.sh
  website/docs/introduction/helm/tests/hook-replicas.sh
  website/docs/introduction/helm/tests/hook-suite.sh
  website/docs/introduction/kustomize/index.md
  website/docs/introduction/navigating-labs.md
  yarn.lock
Labels: content/introduction

update: Convert LLM lab to use vLLM instead of Ray
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/deployment/deployment.yaml
  manifests/modules/aiml/chatbot/deployment/kustomization.yaml
  manifests/modules/aiml/chatbot/gradio-mistral/gradio-ui.yaml
  manifests/modules/aiml/chatbot/gradio/gradio-ui.yaml
  manifests/modules/aiml/chatbot/gradio/kustomization.yaml
  manifests/modules/aiml/chatbot/neuron-values.yaml
  manifests/modules/aiml/chatbot/nodepool-trn1.yaml
  manifests/modules/aiml/chatbot/nodepool/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/kustomization.yaml
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/mistral1.py
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/ray_service_mistral.yaml
  manifests/modules/aiml/chatbot/vllm.yaml
  website/docs/aiml/chatbot/add-mistral.md
  website/docs/aiml/chatbot/assets/chat-bot.webp
  website/docs/aiml/chatbot/assets/home-chat.webp
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/mistral.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/setup.md
  website/docs/aiml/chatbot/testing.md
  website/docs/aiml/chatbot/using.md
Labels: none

Content improvements
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/mistral.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/setup.md
  website/docs/aiml/chatbot/testing.md
  website/docs/aiml/chatbot/using.md
Labels: none

Fixing typo in the Lab Troubleshooting > ALB Controller > ALB not creating > Step 3 (#1606)
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

fix: Updated the list of security group rules (#1619)
  website/docs/troubleshooting/dns/4-check-vpc.md
Labels: none

Some fixes
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/testing.md
  website/docs/aiml/chatbot/using.md
Labels: none

code updates
  .yarn/releases/yarn-4.9.4.cjs
  manifests/modules/introduction/basics/backup-cronjob.yaml
  manifests/modules/introduction/basics/log-collector.yaml
  manifests/modules/introduction/basics/migration-job.yaml
  manifests/modules/introduction/basics/ui-pod.yaml
  website/docs/introduction/basics/configuration.md
  website/docs/introduction/basics/index.md
  website/docs/introduction/basics/namespaces.md
  website/docs/introduction/basics/pods.md
  website/docs/introduction/basics/services.md
  website/docs/introduction/basics/workload-management/daemonsets.md
  website/docs/introduction/basics/workload-management/deployments.md
  website/docs/introduction/basics/workload-management/index.md
  website/docs/introduction/basics/workload-management/jobs.md
  website/docs/introduction/basics/workload-management/statefulsets.md
  website/docs/introduction/concepts/deployments.md
  website/docs/introduction/concepts/namespaces.md
  website/docs/introduction/concepts/pods.md
  website/docs/introduction/concepts/services.md
  website/docs/introduction/getting-started/index.md
  website/docs/introduction/navigating-labs.md
Labels: content/introduction

Push renovate strategy to 7-14 to account for delayed releases
  renovate.json
Labels: none

Fix tests, update timings
  manifests/modules/aiml/chatbot/deployment/deployment.yaml
  website/docs/aiml/chatbot/testing.md
  website/docs/aiml/chatbot/tests/hook-model.sh
  website/test-durations.json
Labels: none

Fix title
  website/docs/aiml/chatbot/index.md
Labels: none

Tweak curl command and test
  manifests/modules/aiml/chatbot/post.json
  website/docs/aiml/chatbot/testing.md
  website/docs/aiml/chatbot/tests/hook-model.sh
Labels: none

Replace GenAI platform explore link with AI on EKS
  website/docs/aiml/ai-on-eks/index.md
  website/docs/aiml/chatbot/testing.md
  website/docs/aiml/genai-platform-aiml-delivery/index.md
Labels: none

Fix paths
  manifests/modules/fastpath/developers/.workshop/cleanup.sh
  manifests/modules/fastpath/developers/.workshop/terraform/autoscaling.tf
  manifests/modules/fastpath/developers/.workshop/terraform/exposing.tf
  manifests/modules/fastpath/developers/.workshop/terraform/main.tf
  manifests/modules/fastpath/developers/.workshop/terraform/outputs.tf
  manifests/modules/fastpath/developers/.workshop/terraform/pod_identity.tf
  manifests/modules/fastpath/developers/.workshop/terraform/preprovision/main.tf
  manifests/modules/fastpath/developers/.workshop/terraform/preprovision/vars.tf
  manifests/modules/fastpath/developers/.workshop/terraform/storage.tf
  manifests/modules/fastpath/developers/.workshop/terraform/vars.tf
  manifests/modules/fastpath/developers/ingress/.workshop/cleanup.sh
  manifests/modules/fastpath/developers/ingress/creating-ingress/ingress.yaml
  manifests/modules/fastpath/developers/ingress/creating-ingress/kustomization.yaml
  manifests/modules/fastpath/developers/ingress/external-dns/ingress.yaml
  manifests/modules/fastpath/developers/ingress/external-dns/kustomization.yaml
  manifests/modules/fastpath/developers/ingress/multiple-ingress/ingress-catalog.yaml
  manifests/modules/fastpath/developers/ingress/multiple-ingress/ingress-ui.yaml
  manifests/modules/fastpath/developers/ingress/multiple-ingress/kustomization.yaml
  website/docs/fastpaths/developer/index.md
Labels: none

Remove hook
  website/docs/aiml/chatbot/testing.md
  website/docs/aiml/chatbot/tests/hook-model.sh
Labels: none

update: Convert LLM lab to use vLLM instead of Ray (#1645)
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/deployment/deployment.yaml
  manifests/modules/aiml/chatbot/deployment/kustomization.yaml
  manifests/modules/aiml/chatbot/gradio-mistral/gradio-ui.yaml
  manifests/modules/aiml/chatbot/gradio/gradio-ui.yaml
  manifests/modules/aiml/chatbot/gradio/kustomization.yaml
  manifests/modules/aiml/chatbot/neuron-values.yaml
  manifests/modules/aiml/chatbot/nodepool-trn1.yaml
  manifests/modules/aiml/chatbot/nodepool/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/chatbot/post.json
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/kustomization.yaml
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/mistral1.py
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/ray_service_mistral.yaml
  manifests/modules/aiml/chatbot/vllm.yaml
  website/docs/aiml/ai-on-eks/index.md
  website/docs/aiml/chatbot/add-mistral.md
  website/docs/aiml/chatbot/assets/chat-bot.webp
  website/docs/aiml/chatbot/assets/home-chat.webp
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/mistral.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/setup.md
  website/docs/aiml/chatbot/testing.md
  website/docs/aiml/chatbot/using.md
  website/docs/aiml/genai-platform-aiml-delivery/index.md
  website/test-durations.json
Labels: none

Updates
  manifests/modules/fastpath/developers/.workshop/cleanup.sh
  website/docs/fastpaths/developer/efs/tests/hook-suite.sh
  website/docs/fastpaths/developer/ingress/external-dns.md
  website/docs/fastpaths/developer/ingress/multiple-ingress.md
  website/docs/fastpaths/developer/ingress/tests/hook-suite.sh
  website/docs/fastpaths/developer/keda/tests/hook-suite.sh
  website/docs/fastpaths/developer/tests/hook-suite.sh
  website/test-durations.json
Labels: none

Fixed flux lab
  manifests/modules/automation/gitops/flux/basic/apps.yaml
  website/docs/automation/gitops/flux/gitea.md
  website/test-durations.json
Labels: none

Use SOCI for vLLM lab
  manifests/modules/aiml/chatbot/nodepool-trn1.yaml
  website/docs/aiml/chatbot/setup.md
  website/docs/aiml/chatbot/using.md
  website/test-durations.json
Labels: none

Add icon to time estimate
  website/src/remark/time.js
Labels: none

Fix Argo prepare description
  website/docs/automation/gitops/argocd/index.md
Labels: none

update: Inferentia lab uses SOCI parallel pull
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
  manifests/modules/aiml/inferentia/nodepool/nodepool.yaml
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/index.md
  website/docs/aiml/inferentia/inference.md
  website/docs/aiml/inferentia/karpenter.md
  website/test-durations.json
Labels: none

Better Karpenter cleanup
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
Labels: none

update: Inferentia lab uses SOCI parallel pull (#1657)
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
  manifests/modules/aiml/inferentia/nodepool/nodepool.yaml
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/index.md
  website/docs/aiml/inferentia/inference.md
  website/docs/aiml/inferentia/karpenter.md
  website/test-durations.json
Labels: none

Various fixes to Inferentia lab
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/inference.md
  website/docs/aiml/inferentia/karpenter.md
  website/docs/aiml/inferentia/wrapup.md
Labels: none

Revert OTel upgrade
  manifests/modules/observability/container-insights/.workshop/terraform/vars.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/vars.tf
Labels: none

Add Kubernetes basics pages(ns, pods, deploy, ss & ds)
  lab/bin/reset-environment
  website/docs/introduction/basics/namespaces/index.md
  website/docs/introduction/basics/pods/index.md
  website/docs/introduction/basics/workload-management/daemonsets.md
  website/docs/introduction/basics/workload-management/deployments.md
  website/docs/introduction/basics/workload-management/index.md
  website/docs/introduction/basics/workload-management/statefulsets.md
Labels: content/introduction

Kubernetes basics content update
  website/docs/introduction/basics/configuration.md
  website/docs/introduction/basics/configuration/configmaps/index.md
  website/docs/introduction/basics/configuration/index.md
  website/docs/introduction/basics/configuration/secrets/index.md
  website/docs/introduction/basics/index.md
  website/docs/introduction/basics/namespaces.md
  website/docs/introduction/basics/pods.md
  website/docs/introduction/basics/services/index.md
  website/docs/introduction/basics/workload-management/jobs.md
Labels: content/introduction

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
