Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Fix formatting
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/outputs.tf
Labels: none

Fix Flux test timings
  website/test-durations.json
Labels: none

new: Add module for CodePipeline EKS action (#1412)
  lab/iam/policies/labs2.yaml
  lab/iam/policies/labs3.yaml
  lab/scripts/installer.sh
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/cleanup.sh
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/main.tf
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/outputs.tf
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/pipeline.yaml
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/vars.tf
  manifests/modules/automation/continuousdelivery/codepipeline/repo/Dockerfile
  manifests/modules/automation/continuousdelivery/codepipeline/repo/values.yaml
  website/docs/automation/continuousdelivery/_category_.json
  website/docs/automation/continuousdelivery/codepipeline/assets/change_history.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ecr_action_input.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ecr_image.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/eks_action_logs.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline-complete.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline-deploy-detail.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ui_first_change.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ui_second_change.webp
  website/docs/automation/continuousdelivery/codepipeline/deploy_application.md
  website/docs/automation/continuousdelivery/codepipeline/git.md
  website/docs/automation/continuousdelivery/codepipeline/index.md
  website/docs/automation/continuousdelivery/codepipeline/other_features.md
  website/docs/automation/continuousdelivery/codepipeline/pipeline_setup.md
  website/docs/automation/continuousdelivery/codepipeline/tests/hook-deployment.sh
  website/docs/automation/continuousdelivery/codepipeline/tests/hook-suite.sh
  website/docs/automation/continuousdelivery/index.md
Labels: none

chore: Improved styling of reset-environment command
  lab/bin/reset-environment
  lab/scripts/banner.sh
  lab/scripts/setup.sh
Labels: none

Update reset-environment
  lab/bin/reset-environment
Labels: none

chore: Improved styling of reset-environment command (#1497)
  lab/bin/reset-environment
  lab/scripts/banner.sh
  lab/scripts/setup.sh
Labels: none

Update README.md
  README.md
Labels: none

Update .mergify.yml
  .mergify.yml
Labels: none

Remove HomepageBanner component
  website/src/components/HomepageBanner/index.js
  website/src/components/HomepageBanner/styles.module.css
  website/src/pages/index.js
Labels: none

Add dismissable notification with configurable content
  website/src/components/GlobalNotification/index.js
  website/src/components/GlobalNotification/styles.module.css
  website/src/config/notification.json
  website/src/theme/Root/index.js
Labels: none

Add dismissable notification with configurable content
  website/src/components/GlobalNotification/index.js
  website/src/components/GlobalNotification/styles.module.css
  website/src/config/notification.json
  website/src/theme/Root/index.js
Labels: none

enable CTA notification for stable
  website/src/config/notification.json
Labels: none

feat: Add dismissable notification with configurable content (#1503)
  website/src/components/GlobalNotification/index.js
  website/src/components/GlobalNotification/styles.module.css
  website/src/config/notification.json
  website/src/theme/Root/index.js
Labels: none

stable: remove old banner, add new notification (#1504)
  website/src/components/GlobalNotification/index.js
  website/src/components/GlobalNotification/styles.module.css
  website/src/components/HomepageBanner/index.js
  website/src/components/HomepageBanner/styles.module.css
  website/src/config/notification.json
  website/src/pages/index.js
  website/src/theme/Root/index.js
Labels: none

read build env to show/hide notification
  hack/publish-content.sh
  website/docusaurus.config.js
  website/src/components/GlobalNotification/index.js
  website/src/config/notification.json
Labels: none

fix: read build env to show/hide notification (#1507)
  hack/publish-content.sh
  website/docusaurus.config.js
  website/src/components/GlobalNotification/index.js
  website/src/config/notification.json
Labels: none

read build env to show/hide notification
  hack/publish-content.sh
  website/docusaurus.config.js
  website/src/components/GlobalNotification/index.js
  website/src/config/notification.json
Labels: none

show CTA notification based on build config
  hack/publish-content.sh
  website/docusaurus.config.js
  website/src/components/GlobalNotification/index.js
  website/src/config/notification.json
Labels: none

Update providers.tf
  cluster/terraform/providers.tf
Labels: none

Remove FSx weekly tests
  .github/workflows/test-fundamentals.yaml
Labels: none

Created website markdown for lustre workshop
  website/docs/fundamentals/storage/fsx-for-lustre/10-ephemeral-container-storage.md
  website/docs/fundamentals/storage/fsx-for-lustre/20-introduction-to-fsxl.md
  website/docs/fundamentals/storage/fsx-for-lustre/30-fsxl-and-s3-dra.md
  website/docs/fundamentals/storage/fsx-for-lustre/assets/assets-emptydir.webp
  website/docs/fundamentals/storage/fsx-for-lustre/assets/assets-fsxl.pdn
  website/docs/fundamentals/storage/fsx-for-lustre/assets/assets-fsxl.webp
  website/docs/fundamentals/storage/fsx-for-lustre/assets/assets-s3.webp
  website/docs/fundamentals/storage/fsx-for-lustre/index.md
Labels: content/fundamentals

Delete manifests/modules/fundamentals/storage/fsxl/workshop_flow.txt
  manifests/modules/fundamentals/storage/fsxl/workshop_flow.txt
Labels: none

Delete website/docs/fundamentals/storage/fsx-for-lustre/assets/assets-fsxl.pdn
  website/docs/fundamentals/storage/fsx-for-lustre/assets/assets-fsxl.pdn
Labels: content/fundamentals

chore: Added local IDE for testing
  Makefile
  docs/authoring_content.md
  hack/ide.sh
  hack/shell.sh
  lab/Dockerfile
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/scripts/code-server.sh
  lab/scripts/entrypoint.sh
  lab/scripts/setup.sh
Labels: none

Fix sample output
  docs/authoring_content.md
Labels: none

chore: Added local IDE for testing (#1538)
  Makefile
  docs/authoring_content.md
  hack/ide.sh
  hack/shell.sh
  lab/Dockerfile
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/scripts/code-server.sh
  lab/scripts/entrypoint.sh
  lab/scripts/setup.sh
Labels: none

Adding alb reload after permissions fix
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Update EKS to 1.33
  cluster/eksctl/cluster.yaml
  cluster/terraform/variables.tf
  docs/authoring_content.md
  hack/lib/kubectl-version.sh
  lab/scripts/installer.sh
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  renovate.json
  website/docusaurus.config.js
Labels: none

Detect arch and install the right vs-code
  lab/scripts/code-server.sh
Labels: none

feat: Update EKS to 1.33 (#1541)
  cluster/eksctl/cluster.yaml
  cluster/terraform/variables.tf
  docs/authoring_content.md
  hack/lib/kubectl-version.sh
  lab/scripts/code-server.sh
  lab/scripts/installer.sh
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  renovate.json
  website/docusaurus.config.js
Labels: none

Update ALB troubleshooting documentation and IAM policies
  lab/iam/policies/troubleshoot.yaml
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Adding kubectl wait to handle validations correctly
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Addding reload of the controller to accelerate the validation
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Add CloudFormation permissions and increase wait time for ALB controller logs
  lab/iam/policies/troubleshoot.yaml
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Update deployment.yaml - Increase rplicas to 2
  manifests/base-application/ui/deployment.yaml
Labels: none

Better explain YAML files for the Storage Section
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
  website/docs/fundamentals/storage/efs/efs-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/deployment-with-fsxn.md
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
Labels: content/fundamentals

Fix EBS volume mount
  manifests/modules/fundamentals/storage/ebs/statefulset-mysql.yaml
Labels: none

Fix PSS lab
  manifests/modules/security/pss-psa/.workshop/cleanup.sh
  manifests/modules/security/pss-psa/baseline-namespace/deployment.yaml
  manifests/modules/security/pss-psa/baseline-namespace/namespace.yaml
  manifests/modules/security/pss-psa/baseline-workload/namespace.yaml
  manifests/modules/security/pss-psa/privileged-workload/deployment.yaml
  manifests/modules/security/pss-psa/restricted-namespace/namespace.yaml
  manifests/modules/security/pss-psa/restricted-workload/deployment.yaml
  manifests/modules/security/pss-psa/restricted-workload/namespace.yaml
  manifests/modules/security/pss-psa/workload/deployment.yaml
  manifests/modules/security/pss-psa/workload/kustomization.yaml
  manifests/modules/security/pss-psa/workload/namespace.yaml
  website/docs/security/amazon-eks-pod-identity/introduction.md
  website/docs/security/pod-security-standards/baseline.md
  website/docs/security/pod-security-standards/privileged.md
  website/docs/security/pod-security-standards/restricted.md
  website/docs/security/pod-security-standards/tests/hook-baseline-deploy-no-changes.sh
  website/docs/security/pod-security-standards/tests/hook-baseline-deploy-with-changes.sh
  website/docs/security/pod-security-standards/tests/hook-baseline-namespace-no-labels.sh
  website/docs/security/pod-security-standards/tests/hook-baseline-namespace.sh
  website/docs/security/pod-security-standards/tests/hook-no-pods.sh
  website/docs/security/pod-security-standards/tests/hook-privileged-deploy-with-changes.sh
  website/docs/security/pod-security-standards/tests/hook-privileged-namespace-no-labels.sh
  website/docs/security/pod-security-standards/tests/hook-restricted-deploy-no-changes.sh
  website/docs/security/pod-security-standards/tests/hook-restricted-deploy-with-changes.sh
  website/docs/security/pod-security-standards/tests/hook-restricted-namespace-no-labels.sh
  website/docs/security/pod-security-standards/tests/hook-restricted-namespace.sh
  website/docs/security/pod-security-standards/tests/hook-violate.sh
  website/docs/security/pod-security-standards/workload.md
Labels: content/security

Separate IDE setup
  lab/Dockerfile
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/scripts/entrypoint.sh
  lab/scripts/setup-ide.sh
  lab/scripts/setup.sh
Labels: none

Fix flux tests
  website/docs/automation/gitops/flux/tests/hook-flux-deployment.sh
Labels: none
