Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Update flux lab for new sample app repo structure
  manifests/modules/automation/gitops/flux/buildspec.yml
  website/docs/automation/gitops/flux/ci.md
Labels: none

Update link of Dockerfile in docs
  website/docs/introduction/getting-started/packaging-application.md
Labels: content/introduction

Updating docs
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/workloads/keda/scaledobject/scaledobject.yaml
  website/docs/autoscaling/workloads/keda/configure-keda.md
  website/docs/autoscaling/workloads/keda/index.md
  website/docs/autoscaling/workloads/keda/install-keda.md
  website/docs/autoscaling/workloads/keda/test-keda.md
  website/docs/autoscaling/workloads/keda/validate-ingress.md
Labels: content/autoscaling

Adding KEDA lab
  manifests/modules/autoscaling/workloads/keda/.workshop/cleanup.sh
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/workloads/keda/creating-ingress/ingress.yaml
  manifests/modules/autoscaling/workloads/keda/scaledobject/kustomization.yaml
  manifests/modules/autoscaling/workloads/keda/scaledobject/scaledobject.yaml
  website/docs/autoscaling/workloads/index.md
  website/docs/autoscaling/workloads/keda/configure-keda.md
  website/docs/autoscaling/workloads/keda/index.md
  website/docs/autoscaling/workloads/keda/install-keda.md
  website/docs/autoscaling/workloads/keda/test-keda.md
  website/docs/autoscaling/workloads/keda/tests/hook-keda-pod-scaleout.sh
  website/docs/autoscaling/workloads/keda/tests/hook-suite.sh
  website/docs/autoscaling/workloads/keda/tests/hook-validate-ingress.sh
  website/docs/autoscaling/workloads/keda/validate-ingress.md
  website/static/img/keda/keda-cloudwatch.png
Labels: content/autoscaling

configured nodepools, runs in local env
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/addons.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
  manifests/modules/aiml/chatbot/compiler/compiler.yaml
  manifests/modules/aiml/chatbot/compiler/kustomization.yaml
  manifests/modules/aiml/chatbot/compiler/trace.py
  manifests/modules/aiml/chatbot/inference/inference.py
  manifests/modules/aiml/chatbot/inference/inference.yaml
  manifests/modules/aiml/chatbot/inference/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-inf2.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool.yaml
  manifests/modules/aiml/chatbot/ray-service-llama2.yaml
  manifests/modules/aiml/chatbot/ray.io_rayservices.yaml
  manifests/modules/fundamentals/mng/graviton/nodegroup.yaml
  output.log
Labels: none

works on local environment, need to add nlb
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/vars.tf
  manifests/modules/aiml/chatbot/base/kustomization.yaml
  manifests/modules/aiml/chatbot/base/namespace.yaml
  manifests/modules/aiml/chatbot/base/serviceaccount.yaml
  manifests/modules/aiml/chatbot/k8s-neuron-device-plugin-rbac.yaml
  manifests/modules/aiml/chatbot/k8s-neuron-device-plugin.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-inf2.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/Dockerfile
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/kustomization.yaml
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/ray-service-llama2.yaml
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/ray_serve_llama2.py
Labels: none

Use yaml file component
  manifests/modules/autoscaling/workloads/keda/scaledobject/scaledobject.yaml
  website/docs/autoscaling/workloads/keda/configure-keda.md
Labels: content/autoscaling

Yaml component: Slight refactor, added zoomPath
  website/src/components/YamlFile/index.tsx
  website/src/remark/include-yaml.js
Labels: none

feat: Added Console button component to display links to AWS console
  docs/images/console-button.png
  docs/style_guide.md
  docs/ui_components.md
  website/src/components/ConsoleButton/index.tsx
  website/src/components/ConsoleButton/styles.module.css
  website/src/theme/MDXComponents.js
  website/static/img/services/cloudwatch.png
  website/static/img/services/codebuild.png
  website/static/img/services/codepipeline.png
  website/static/img/services/console.png
  website/static/img/services/dynamodb.png
  website/static/img/services/ec2.png
  website/static/img/services/ecr.png
  website/static/img/services/eks.png
  website/static/img/services/elb.png
  website/static/img/services/rds.png
  website/static/img/services/vpc-lattice.png
  website/static/img/services/vpc.png
Labels: none

Adding links and yaml file annotations
  manifests/modules/autoscaling/workloads/keda/scaledobject/scaledobject.yaml
  website/docs/autoscaling/workloads/keda/configure-keda.md
  website/docs/autoscaling/workloads/keda/index.md
Labels: content/autoscaling

feat: Added Console button component to display links to AWS console (#1016)
  docs/images/console-button.png
  docs/style_guide.md
  docs/ui_components.md
  website/src/components/ConsoleButton/index.tsx
  website/src/components/ConsoleButton/styles.module.css
  website/src/theme/MDXComponents.js
  website/static/img/services/cloudwatch.png
  website/static/img/services/codebuild.png
  website/static/img/services/codepipeline.png
  website/static/img/services/console.png
  website/static/img/services/dynamodb.png
  website/static/img/services/ec2.png
  website/static/img/services/ecr.png
  website/static/img/services/eks.png
  website/static/img/services/elb.png
  website/static/img/services/rds.png
  website/static/img/services/vpc-lattice.png
  website/static/img/services/vpc.png
Labels: none

update: Migrate OSS metrics lab to OpenTelemetry operator pending addon support
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/vars.tf
  manifests/modules/observability/oss-metrics/adot/opentelemetrycollector.yaml
Labels: none

update: Update Container Insights lab based on enhanced observability dashboards
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/container-insights/.workshop/terraform/vars.tf
  manifests/modules/observability/container-insights/adot-deployment/kustomization.yaml
  manifests/modules/observability/container-insights/adot-deployment/opentelemetrycollector.yaml
  manifests/modules/observability/container-insights/adot/clusterrole.yaml
  manifests/modules/observability/container-insights/adot/opentelemetrycollector.yaml
  website/docs/observability/container-insights/assets/container-inisghts-metrics-console.webp
  website/docs/observability/container-insights/assets/container-insights-metrics-console.webp
  website/docs/observability/container-insights/collect-metrics-adot-ci.md
  website/docs/observability/container-insights/logs-insights.md
  website/docs/observability/container-insights/tests/hook-metrics.sh
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
  website/docs/observability/container-insights/visualize-metrics-cloudwatch.md
Labels: content/observability

update: Migrate OSS metrics lab to OpenTelemetry operator (#1017)
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/vars.tf
  manifests/modules/observability/oss-metrics/adot/opentelemetrycollector.yaml
Labels: none

Fixed spelling error
  website/docs/observability/container-insights/collect-metrics-adot-ci.md
Labels: content/observability

update: Update Container Insights lab based on enhanced observability dashboards (#1018)
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/container-insights/.workshop/terraform/vars.tf
  manifests/modules/observability/container-insights/adot-deployment/kustomization.yaml
  manifests/modules/observability/container-insights/adot-deployment/opentelemetrycollector.yaml
  manifests/modules/observability/container-insights/adot/clusterrole.yaml
  manifests/modules/observability/container-insights/adot/opentelemetrycollector.yaml
  website/docs/observability/container-insights/assets/container-inisghts-metrics-console.webp
  website/docs/observability/container-insights/assets/container-insights-metrics-console.webp
  website/docs/observability/container-insights/collect-metrics-adot-ci.md
  website/docs/observability/container-insights/logs-insights.md
  website/docs/observability/container-insights/tests/hook-metrics.sh
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
  website/docs/observability/container-insights/visualize-metrics-cloudwatch.md
Labels: content/observability

Add keda to dictionary
  .spelling
Labels: none

Remove escape workaround
  manifests/modules/autoscaling/workloads/keda/scaledobject/scaledobject.yaml
Labels: none

Added renovatebot annotation for chart
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/vars.tf
Labels: none

Fixed formatting
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/main.tf
Labels: none

Fix formatting
  manifests/modules/autoscaling/workloads/keda/scaledobject/kustomization.yaml
  manifests/modules/autoscaling/workloads/keda/scaledobject/scaledobject.yaml
  website/docs/autoscaling/workloads/keda/index.md
  website/docs/autoscaling/workloads/keda/install-keda.md
  website/docs/autoscaling/workloads/keda/test-keda.md
  website/docs/autoscaling/workloads/keda/validate-ingress.md
Labels: content/autoscaling

new: Lab for Kubernetes Event-Driven Autoscaler (KEDA) (#1011)
  .spelling
  manifests/modules/autoscaling/workloads/keda/.workshop/cleanup.sh
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/workloads/keda/creating-ingress/ingress.yaml
  manifests/modules/autoscaling/workloads/keda/scaledobject/kustomization.yaml
  manifests/modules/autoscaling/workloads/keda/scaledobject/scaledobject.yaml
  website/docs/autoscaling/workloads/index.md
  website/docs/autoscaling/workloads/keda/configure-keda.md
  website/docs/autoscaling/workloads/keda/index.md
  website/docs/autoscaling/workloads/keda/install-keda.md
  website/docs/autoscaling/workloads/keda/test-keda.md
  website/docs/autoscaling/workloads/keda/tests/hook-keda-pod-scaleout.sh
  website/docs/autoscaling/workloads/keda/tests/hook-suite.sh
  website/docs/autoscaling/workloads/keda/tests/hook-validate-ingress.sh
  website/docs/autoscaling/workloads/keda/validate-ingress.md
  website/static/img/keda/keda-cloudwatch.png
Labels: content/autoscaling

Remove debug statement
  website/src/components/YamlFile/index.tsx
Labels: none

Improve reliability of tests for observability labs
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  website/docs/observability/container-insights/index.md
  website/docs/observability/container-insights/tests/hook-install.sh
  website/docs/observability/open-source-metrics/index.md
Labels: content/observability

Add wait to ArgoCD test while investigating flakiness
  website/docs/automation/gitops/argocd/access_argocd.md
Labels: none

- adding test automation validation to each section
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_7.md
  website/docs/troubleshooting/alb/tests/hook-fix-1.sh
  website/docs/troubleshooting/alb/tests/hook-fix-5.sh
  website/docs/troubleshooting/alb/tests/hook-fix-7.sh
Labels: none

Correct how OTel operator installed
  website/docs/observability/container-insights/index.md
  website/docs/observability/open-source-metrics/index.md
Labels: content/observability

Add lab timings for keda
  website/src/components/Terminal/index.tsx
  website/test-durations.json
Labels: none

Revert change
  website/src/components/Terminal/index.tsx
Labels: none

Revert change
  website/src/components/Terminal/index.tsx
Labels: none

update: Migrate OSS metrics lab to OpenTelemetry operator (#1017)
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/vars.tf
  manifests/modules/observability/oss-metrics/adot/opentelemetrycollector.yaml
Labels: none

Fix kubectl completion setup to be idempotent
  lab/scripts/setup.sh
Labels: none

feat: Added Console button component to display links to AWS console (#1016)
  docs/images/console-button.png
  docs/style_guide.md
  docs/ui_components.md
  website/src/components/ConsoleButton/index.tsx
  website/src/components/ConsoleButton/styles.module.css
  website/src/theme/MDXComponents.js
  website/static/img/services/cloudwatch.png
  website/static/img/services/codebuild.png
  website/static/img/services/codepipeline.png
  website/static/img/services/console.png
  website/static/img/services/dynamodb.png
  website/static/img/services/ec2.png
  website/static/img/services/ecr.png
  website/static/img/services/eks.png
  website/static/img/services/elb.png
  website/static/img/services/rds.png
  website/static/img/services/vpc-lattice.png
  website/static/img/services/vpc.png
Labels: none

Improve reliability of tests for observability labs
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  website/docs/observability/container-insights/index.md
  website/docs/observability/container-insights/tests/hook-install.sh
  website/docs/observability/open-source-metrics/index.md
Labels: content/observability

Add lab timings for keda
  website/src/components/Terminal/index.tsx
  website/test-durations.json
Labels: none

update: Update Container Insights lab based on enhanced observability dashboards (#1018)
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/container-insights/.workshop/terraform/vars.tf
  manifests/modules/observability/container-insights/adot-deployment/kustomization.yaml
  manifests/modules/observability/container-insights/adot-deployment/opentelemetrycollector.yaml
  manifests/modules/observability/container-insights/adot/clusterrole.yaml
  manifests/modules/observability/container-insights/adot/opentelemetrycollector.yaml
  website/docs/observability/container-insights/assets/container-inisghts-metrics-console.webp
  website/docs/observability/container-insights/assets/container-insights-metrics-console.webp
  website/docs/observability/container-insights/collect-metrics-adot-ci.md
  website/docs/observability/container-insights/logs-insights.md
  website/docs/observability/container-insights/tests/hook-metrics.sh
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
  website/docs/observability/container-insights/visualize-metrics-cloudwatch.md
Labels: content/observability

Update flux lab for new sample app repo structure
  manifests/modules/automation/gitops/flux/buildspec.yml
  website/docs/automation/gitops/flux/ci.md
Labels: none

Correct how OTel operator installed
  website/docs/observability/container-insights/index.md
  website/docs/observability/open-source-metrics/index.md
Labels: content/observability

Remove debug statement
  website/src/components/YamlFile/index.tsx
Labels: none

new: Lab for Kubernetes Event-Driven Autoscaler (KEDA) (#1011)
  .spelling
  manifests/modules/autoscaling/workloads/keda/.workshop/cleanup.sh
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/workloads/keda/creating-ingress/ingress.yaml
  manifests/modules/autoscaling/workloads/keda/scaledobject/kustomization.yaml
  manifests/modules/autoscaling/workloads/keda/scaledobject/scaledobject.yaml
  website/docs/autoscaling/workloads/index.md
  website/docs/autoscaling/workloads/keda/configure-keda.md
  website/docs/autoscaling/workloads/keda/index.md
  website/docs/autoscaling/workloads/keda/install-keda.md
  website/docs/autoscaling/workloads/keda/test-keda.md
  website/docs/autoscaling/workloads/keda/tests/hook-keda-pod-scaleout.sh
  website/docs/autoscaling/workloads/keda/tests/hook-suite.sh
  website/docs/autoscaling/workloads/keda/tests/hook-validate-ingress.sh
  website/docs/autoscaling/workloads/keda/validate-ingress.md
  website/static/img/keda/keda-cloudwatch.png
Labels: content/autoscaling
