Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Remove old use-cluster
  lab/iam-policy-base.json
  lab/iam-policy-labs.json
  lab/scripts/entrypoint.sh
Labels: none

Fix network policies logging
  cluster/eksctl/cluster.yaml
Labels: none

Fixed steering file formatting
  governance/steering.md
Labels: none

Revert "chore(deps): update helm release opentelemetry-operator to v0.65.1 (#1040)"
  manifests/modules/observability/container-insights/.workshop/terraform/vars.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/vars.tf
Labels: none

Fix test utility to inject proper test output to after hooks
  test/util/src/lib/markdownsh.ts
  test/util/src/lib/shell/shell.ts
  test/util/test-content/basics/expect-error.md
  test/util/test-content/basics/tests/hook-expect-error.sh
Labels: none

Name of the deployment is wrong. It is mentioned "orders" but it should be "carts"
  website/docs/observability/resource-view/workloads-view/deployment_view.md
Labels: content/observability

style format
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
Labels: content/security

WIP commit
  hack/build-ide-cfn.sh
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/iam-policy-base.json
  lab/iam-policy-labs.json
  lab/iam/iam-policy-base.yaml
  lab/iam/iam-policy-labs.yaml
Labels: none

Properly scope precommit, fix ARN check
  .pre-commit-config.yaml
  docs/authoring_content.md
  website/docs/autoscaling/compute/.descheduler/.notest
  website/docs/autoscaling/compute/.descheduler/configuration.md
  website/docs/autoscaling/compute/.descheduler/index.md
  website/docs/autoscaling/compute/.descheduler/podlife_usecase.md
  website/docs/autoscaling/compute/.descheduler/taint_usecase.md
  website/docs/autoscaling/compute/.descheduler/tests/hook-descheduler-taint.sh
  website/docs/security/amazon-eks-pod-identity/understanding.md
  website/docs/security/amazon-eks-pod-identity/use-pod-identity.md
  website/docs/security/cluster-access-management/associating-policies.md
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/cluster-access-management/migrating.md
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
Labels: content/autoscaling, content/security

update: Fix inconsistent deployment name in Resource View section (#1045)
  website/docs/observability/resource-view/workloads-view/deployment_view.md
Labels: content/observability

use AI to update autoscaling module
  website/docs/autoscaling/compute/cluster-autoscaler/index.md
  website/docs/autoscaling/compute/cluster-autoscaler/install.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/how-it-works.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
  website/docs/autoscaling/workloads/keda/index.md
Labels: content/autoscaling

Test
  website/docs/autoscaling/compute/cluster-autoscaler/index.md
  website/docs/autoscaling/compute/cluster-autoscaler/install.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/index.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/scaling.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

restored cluster name
  cluster/terraform/variables.tf
Labels: none

fix: Corrected typo in ADOT manifest breakdowns
  website/docs/observability/container-insights/collect-metrics-adot-ci.md
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
Labels: content/observability

removed unnecessary permissions and policies
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
Labels: none

changed limits and removed instance types
  manifests/modules/aiml/chatbot/nodepool/nodepool-inf2.yaml
Labels: none

changed limits and removed instance types - x86 pool
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
Labels: none

Delete output.log
  output.log
Labels: none

Update cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
Labels: none

removed LBC environment variables
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
Labels: none

removed load balancer controller chart
  manifests/modules/aiml/chatbot/.workshop/terraform/vars.tf
Labels: none

removed comments
  manifests/modules/aiml/chatbot/gradio/gradio-ui.yaml
Labels: none

added deprecation field comments
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/ray-service-llama2.yaml
Labels: none

Delete manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
Labels: none

Delete manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
Labels: none

Delete manifests/modules/fundamentals/mng/graviton/nodegroup.yaml
  manifests/modules/fundamentals/mng/graviton/nodegroup.yaml
Labels: none

removed comment on load balancer role
  website/docs/aiml/chatbot/index.md
Labels: none

Update expose.md
  website/docs/aiml/chatbot/expose.md
Labels: none

Update nodepool.md
  website/docs/aiml/chatbot/nodepool.md
Labels: none

Update intro.md
  website/docs/aiml/chatbot/intro.md
Labels: none

Update add-llama2.md
  website/docs/aiml/chatbot/add-llama2.md
Labels: none

Update gradio.md
  website/docs/aiml/chatbot/gradio.md
Labels: none

Resiliency PR initial commit
  cluster/eksctl/cluster.yaml
  manifests/modules/resiliency/.workshop/cleanup.sh
  manifests/modules/resiliency/.workshop/terraform/main.tf
  manifests/modules/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/resiliency/.workshop/terraform/vars.tf
  manifests/modules/resiliency/high-availability/config/kustomization.yaml
  manifests/modules/resiliency/high-availability/config/scale_and_affinity_patch.yaml
  manifests/modules/resiliency/high-availability/rbac/chaos-mesh-role.yaml
  manifests/modules/resiliency/high-availability/rbac/chaos-mesh-rolebinding.yaml
  manifests/modules/resiliency/scripts/get-pods-by-az.sh
  manifests/modules/resiliency/scripts/node-failure.sh
  manifests/modules/resiliency/scripts/pod-failure.sh
  manifests/modules/resiliency/scripts/verify-cluster.sh
  website/docs/resiliency/high-availability/01-setup.md
  website/docs/resiliency/high-availability/02-pod-failure.md
  website/docs/resiliency/high-availability/03-node-failure-no-fis.md
  website/docs/resiliency/high-availability/04-node-failure-partial-fis.md
  website/docs/resiliency/high-availability/05-node-failure-complete-fis.md
  website/docs/resiliency/high-availability/06-az-failure.md
  website/docs/resiliency/high-availability/index.md
  website/docs/resiliency/index.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: none

Reverting some lab scripts
  lab/bin/reset-environment
  lab/scripts/entrypoint.sh
  lab/scripts/setup.sh
Labels: none

fix: Corrected typo in ADOT manifest breakdowns (#1051)
  website/docs/observability/container-insights/collect-metrics-adot-ci.md
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
Labels: content/observability

update: Update IRSA and Pod Identity to new sample application version 0.8.1 (#1022)
  website/docs/security/amazon-eks-pod-identity/understanding.md
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
Labels: content/security

Refactoring how IAM role is created for local dev and testing
  hack/destroy-infrastructure.sh
  hack/run-tests.sh
  hack/update-iam-role.sh
  lab/bin/reset-environment
  lab/iam/iam-policy-base.yaml
  lab/iam/iam-policy-labs.yaml
  lab/iam/iam-role-cfn.yaml
  lab/scripts/entrypoint.sh
  lab/scripts/setup.sh
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/networking/custom-networking/.workshop/cleanup.sh
Labels: none

Fixed destroy script
  .github/workflows/test-cleanup.yaml
  lab/scripts/entrypoint.sh
Labels: none

llm auto updates
  website/docs/aiml/chatbot/add-llama2.md
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/gradio.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/intro.md
  website/docs/aiml/chatbot/nodepool.md
Labels: none

add llm updates to add-llama2 file
  website/docs/aiml/chatbot/add-llama2.md
Labels: none
