Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Fix MNG scale command missing $
  website/docs/fundamentals/managed-node-groups/basics/adding-nodes/index.md
  website/docs/fundamentals/managed-node-groups/basics/adding-nodes/tests/hook-wait-node.sh
Labels: content/fundamentals

removed neuron from manifest & update expose.md
  manifests/modules/aiml/chatbot/neuron-device-plugin/k8s-neuron-device-plugin-rbac.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/k8s-neuron-device-plugin.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/kustomization.yaml
  website/docs/aiml/chatbot/expose.md
  website/docusaurus.config.js
Labels: none

updated kubectl apply -f with tag and cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  website/docs/aiml/chatbot/expose.md
Labels: none

adding --ignore-not-found tag for cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
Labels: none

Update Neuron Device Plugin Deployment to Use Direct YAML URLs (#1060)
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/neuron-device-plugin/k8s-neuron-device-plugin-rbac.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/k8s-neuron-device-plugin.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/kustomization.yaml
  website/docs/aiml/chatbot/expose.md
  website/docusaurus.config.js
Labels: none

Switch out kubectl commands in navigating page
  website/docs/introduction/navigating-labs.md
Labels: content/introduction

Changes to account for VSCode option
  website/docs/automation/gitops/argocd/codecommit.md
  website/docs/automation/gitops/flux/codecommit.md
  website/docs/introduction/getting-started/first.md
  website/docs/introduction/getting-started/index.md
  website/docs/introduction/index.md
  website/docs/introduction/navigating-labs.md
  website/docs/introduction/setup/your-account/using-eksctl.md
  website/docs/introduction/setup/your-account/using-terraform.md
  website/docs/networking/vpc-lattice/testing-routing.md
  website/docs/security/secrets-management/sealed-secrets/installing-sealed-secrets.md
Labels: content/introduction, content/security, content/networking

Fix lattice cleanup for incomplete sessions
  manifests/modules/networking/vpc-lattice/.workshop/cleanup.sh
  website/docs/networking/vpc-lattice/index.md
Labels: content/networking

Remove 1.30 upgrade header
  website/docusaurus.config.js
Labels: none

Set EKS cluster name in CFN
  lab/cfn/eks-workshop-ide-cfn.yaml
Labels: none

Chnages made to document to have UI as the default than CLI
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
Labels: content/observability

Fix terminal copy on firefox
  website/src/components/Terminal/index.tsx
Labels: none

chore: Auto-approve renovatebot PRs
  .mergify.yml
Labels: none

Replacing codeowners with mergify
  CODEOWNERS
Labels: none

Automerge regex managers
  renovate.json
Labels: none

Migrate automerge to mergify
  .mergify.yml
  renovate.json
Labels: none

Tweak auto merge status check conditions
  .mergify.yml
Labels: none

Reverting mergify auto merge
  .mergify.yml
Labels: none

Reinstate renovate auto merge
  renovate.json
Labels: none

added documentation for observability accelerators
  website/docs/observability/index.md
  website/docs/observability/kubecost/index.md
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
  website/docs/observability/logging/cluster-logging/log-insights.md
  website/docs/observability/logging/pod-logging/index.md
  website/docs/observability/open-source-metrics/index.md
Labels: content/observability

adding new lines at end of file
  website/docs/observability/kubecost/index.md
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
  website/docs/observability/logging/cluster-logging/log-insights.md
  website/docs/observability/logging/pod-logging/index.md
Labels: content/observability

fix prettier issue
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
Labels: content/observability

Expand renovatebot to first week of the month
  renovate.json
Labels: none

Revert schedule change
  renovate.json
Labels: none

add DCGM to dictionary
  .spelling
Labels: none

add search and dynamic resize navbar
  .github/workflows/release.yaml
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/css/custom.scss
Labels: none

fix formatting
  website/docusaurus.config.js
Labels: none

more formatting fix
  website/docusaurus.config.js
Labels: none

ran precommit checks locally this time
  website/docusaurus.config.js
  website/src/css/custom.scss
Labels: none

Automerge regex manager dependencies
  renovate.json
Labels: none

Enable npm manager
  renovate.json
Labels: none

Ignore docusaurus dependencies
  renovate.json
Labels: none

Remove dependabot config
  .github/dependabot.yml
Labels: none

search text more readable in dark mode
  website/src/css/custom.scss
Labels: none

feat: Implement search (and dynamic nav bar resizing) (#1083)
  .github/workflows/release.yaml
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/css/custom.scss
Labels: none

Working through lab, need to fix mounting part
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/commands.txt
  manifests/modules/fundamentals/storage/s3/deployment/custom-deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/example.yaml
  manifests/modules/fundamentals/storage/s3/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
Labels: none

Moved Karpenter installation into the preinstall script
  cluster/eksctl/cluster.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/cleanup.sh
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/terraform/main.tf
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/terraform/output.tf
  manifests/modules/aiml/deploy-monitor-genai-model/jupyterhub/jupyter.py
  manifests/modules/aiml/deploy-monitor-genai-model/karpenter/g5-x86-gpu-nodepool-nodeclass.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/karpenter/x86-cpu-nodepool-nodeclass.yaml
  website/docs/aiml/deploy-monitor-genai-model/depoly-prerequesite.md
  website/docs/aiml/deploy-monitor-genai-model/index.md
  website/docs/aiml/deploy-monitor-genai-model/modelinference.md
  website/docs/aiml/deploy-monitor-genai-model/modeltraining.md
Labels: none

chore: Re-named test directory to avoid ignore issues
  .github/workflows/test-util-ci.yml
  hack/run-tests.sh
  testing/Dockerfile
  testing/run.sh
  testing/util/.dockerignore
  testing/util/.gitignore
  testing/util/.npmignore
  testing/util/README.md
  testing/util/package-lock.json
  testing/util/package.json
  testing/util/src/cli.ts
  testing/util/src/lib/gatherer/gatherer.ts
  testing/util/src/lib/markdownsh.ts
  testing/util/src/lib/shell/shell.ts
  testing/util/test-content/_index.md
  testing/util/test-content/basics/_index.md
  testing/util/test-content/basics/empty.md
  testing/util/test-content/basics/expect-error.md
  testing/util/test-content/basics/introduction.md
  testing/util/test-content/basics/multiline.md
  testing/util/test-content/basics/tests/hook-expect-error.sh
  testing/util/test-content/hooks/_index.md
  testing/util/test-content/hooks/introduction.md
  testing/util/test-content/hooks/tests/hook-suite.sh
  testing/util/test-content/hooks/tests/hook-test.sh
  testing/util/tests/fixtures/basic/a.md
  testing/util/tests/fixtures/basic/b.md
  testing/util/tests/fixtures/basic/empty/block.md
  testing/util/tests/fixtures/basic/empty/index.md
  testing/util/tests/fixtures/basic/ignoreme.yml
  testing/util/tests/fixtures/basic/index.md
  testing/util/tests/fixtures/basic/nested/index.md
  testing/util/tests/gatherer.test.ts
  testing/util/tests/markdownsh.test.ts
  testing/util/tsconfig.build.json
  testing/util/tsconfig.json
Labels: none

fix: Remove broken documentation link
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

fix: Allow appropriate IDE KMS permissions for Terraform cluster creation
  lab/iam/policies/base.yaml
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
