Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

added wait command for kuberay pod
  website/docs/aiml/chatbot/expose.md
Labels: none

Added steps explaining nodepools
  website/docs/aiml/chatbot/nodepool.md
Labels: none

Updated load balancer command
  website/docs/aiml/chatbot/gradio.md
Labels: none

Remove unnecessary packages from installer
  lab/scripts/installer.sh
Labels: none

Added 1.30 upgrade notice
  website/docusaurus.config.js
Labels: none

Migrated own account set up to use CloudFormation quick launch links
  website/docs/introduction/setup/your-account/assets/acknowledge-iam.webp
  website/docs/introduction/setup/your-account/assets/create-stack.webp
  website/docs/introduction/setup/your-account/assets/delete-stack.webp
  website/docs/introduction/setup/your-account/assets/outputs.webp
  website/docs/introduction/setup/your-account/cleanup.md
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

Add upgrade header
  website/docusaurus.config.js
Labels: none

Fix network policies logging
  cluster/eksctl/cluster.yaml
Labels: none

Fixed steering file formatting
  governance/steering.md
Labels: none

fix: Corrected typo in ADOT manifest breakdowns (#1051)
  website/docs/observability/container-insights/collect-metrics-adot-ci.md
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
Labels: content/observability

update: Update IRSA and Pod Identity to new sample application version 0.8.1 (#1022)
  website/docs/security/amazon-eks-pod-identity/understanding.md
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
Labels: content/security

Fix test utility to inject proper test output to after hooks
  test/util/src/lib/markdownsh.ts
  test/util/src/lib/shell/shell.ts
  test/util/test-content/basics/expect-error.md
  test/util/test-content/basics/tests/hook-expect-error.sh
Labels: none

Revert "chore(deps): update helm release opentelemetry-operator to v0.65.1 (#1040)"
  manifests/modules/observability/container-insights/.workshop/terraform/vars.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/vars.tf
Labels: none

6-month steering committee rotation
  governance/steering.md
Labels: none

update: Fix inconsistent deployment name in Resource View section (#1045)
  website/docs/observability/resource-view/workloads-view/deployment_view.md
Labels: content/observability

Fixing formatting
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_7.md
  website/docs/troubleshooting/index.md
Labels: none

More IAM permissions
  lab/iam/iam-role-cfn.yaml
Labels: none

fix new line characters at start of files
  website/docs/aiml/chatbot/add-llama2.md
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/gradio.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/intro.md
  website/docs/aiml/chatbot/nodepool.md
Labels: none

add warning label to lab
  website/docs/aiml/chatbot/index.md
Labels: none

More IAM permissions
  lab/iam/iam-role-cfn.yaml
Labels: none

update
  manifests/modules/resiliency/.workshop/cleanup.sh
  manifests/modules/resiliency/.workshop/terraform/main.tf
  manifests/modules/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/resiliency/high-availability/multi_az/add_us_east_2_patch.yaml
  manifests/modules/resiliency/high-availability/multi_az/kustomization.yaml
  manifests/modules/resiliency/high-availability/rbac/chaos-mesh-role.yaml
  manifests/modules/resiliency/high-availability/rbac/chaos-mesh-rolebinding.yaml
  manifests/modules/resiliency/scripts/create-second-az.sh
  manifests/modules/resiliency/scripts/eks_workshop_canary_script.js
  manifests/modules/resiliency/scripts/multi-az-get-pods.sh
  manifests/modules/resiliency/scripts/verify-cluster.sh
  website/docs/resiliency/high-availability/01-setup.md
  website/docs/resiliency/high-availability/02-pod-failure.md
  website/docs/resiliency/high-availability/03-node-failure-no-fis.md
  website/docs/resiliency/high-availability/04-node-failure-partial-fis.md
  website/docs/resiliency/high-availability/05-node-failure-complete-fis.md
  website/docs/resiliency/high-availability/06-az-failure.md
  website/docs/resiliency/high-availability/06-az-setup.md
  website/docs/resiliency/high-availability/07-az-failure.md
  website/docs/resiliency/high-availability/index.md
  website/docs/resiliency/high-availability/tests/hook-suite.sh
  website/docs/resiliency/index.md
Labels: none

remove warning label
  website/docs/aiml/chatbot/index.md
Labels: none

test framework fixes and beta tag
  website/docs/aiml/chatbot/add-llama2.md
  website/docs/aiml/chatbot/gradio.md
  website/docs/aiml/chatbot/index.md
  website/src/css/custom.scss
  website/src/theme/DocSidebarItem/Category/index.js
Labels: none

Split labs policy due to size
  lab/iam/iam-role-cfn.yaml
Labels: none

reset new line char
  cluster/terraform/variables.tf
Labels: none

remove required time since lab incompatible with workshop studio
  website/docs/aiml/chatbot/index.md
Labels: none

fix lint/spelling
  .spelling
  manifests/modules/aiml/chatbot/gradio/gradio-ui.yaml
  website/docs/aiml/chatbot/add-llama2.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/intro.md
  website/docs/aiml/chatbot/nodepool.md
Labels: none

missed one
  website/docs/aiml/chatbot/nodepool.md
Labels: none

delete unnecessary files
  website/docs/aiml/chatbot/assets/CreateModel.png
  website/docs/aiml/chatbot/assets/Inference.png
Labels: none

Make sure to retrieve account ID
  lab/scripts/setup.sh
Labels: none

Additional IAM permissions
  lab/iam/iam-role-cfn.yaml
Labels: none

Additional IAM permissions
  lab/iam/iam-role-cfn.yaml
Labels: none

Add IAM permissions
  lab/iam/iam-role-cfn.yaml
Labels: none

Add IAM permissions
  lab/iam/iam-role-cfn.yaml
Labels: none

add internal elb tag to vpc private subnets
  cluster/terraform/vpc.tf
Labels: none

Fix Karpenter queue prefix
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

Further refactor how IAM role is created
  hack/build-ide-cfn.sh
  hack/update-iam-role.sh
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/base.yaml
  lab/iam/policies/ec2.yaml
  lab/iam/policies/iam.yaml
  lab/iam/policies/labs1.yaml
  lab/iam/policies/labs2.yaml
Labels: none

fixed az failure, added autotesting, added outputs to bash
  cluster/eksctl/cluster.yaml
  manifests/modules/observability/resiliency/.workshop/cleanup.sh
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/observability/resiliency/.workshop/terraform/vars.tf
  manifests/modules/observability/resiliency/high-availability/config/kustomization.yaml
  manifests/modules/observability/resiliency/high-availability/config/scale_and_affinity_patch.yaml
  manifests/modules/observability/resiliency/scripts/AZ-verify-clusters.sh
  manifests/modules/observability/resiliency/scripts/create-blueprint.sh
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  manifests/modules/observability/resiliency/scripts/node-failure.sh
  manifests/modules/observability/resiliency/scripts/pod-failure.sh
  manifests/modules/observability/resiliency/scripts/testing.sh
  manifests/modules/observability/resiliency/scripts/verify-cluster.sh
  manifests/modules/resiliency/.workshop/cleanup.sh
  manifests/modules/resiliency/high-availability/multi_az/add_us_east_2_patch.yaml
  manifests/modules/resiliency/high-availability/multi_az/kustomization.yaml
  manifests/modules/resiliency/scripts/create-second-az.sh
  manifests/modules/resiliency/scripts/eks_workshop_canary_script.js
  manifests/modules/resiliency/scripts/multi-az-get-pods.sh
  website/docs/observability/high-availability/00-setup.md
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/high-availability/index.md
  website/docs/observability/high-availability/tests/hook-suite.sh
  website/docs/resiliency/high-availability/01-setup.md
  website/docs/resiliency/high-availability/06-az-setup.md
  website/docs/resiliency/high-availability/07-az-failure.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: content/observability

Resolve autoscaling permissions
  lab/iam/policies/base.yaml
  lab/iam/policies/labs2.yaml
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

fix tests
  website/docs/aiml/chatbot/gradio.md
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
