Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Change how helm registryUrls are handled
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  renovate.json
Labels: none

Update nlb.yaml
  manifests/modules/exposing/load-balancer/nlb/nlb.yaml
Labels: none

Upgrade kubectl with renovatebot
  lab/scripts/installer.sh
  renovate.json
Labels: none

Tweak kubernetes version matching
  renovate.json
Labels: none

update: Changed Cluster Proportional Autoscaler lab to install via helm chart
  manifests/modules/autoscaling/workloads/cpa/.workshop/cleanup.sh
  manifests/modules/autoscaling/workloads/cpa/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/cpa/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/workloads/cpa/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/workloads/cpa/deployment.yaml
  manifests/modules/autoscaling/workloads/cpa/kustomization.yaml
  manifests/modules/autoscaling/workloads/cpa/others.yaml
  manifests/modules/autoscaling/workloads/cpa/values.yaml
  renovate.json
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/autoscaling-coredns-usecase.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
Labels: content/autoscaling

Slighly re-ordered content to flow better, describe CPA configuration
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/autoscaling-coredns-usecase.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/index.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
Labels: content/autoscaling

Spelling fix
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
Labels: content/autoscaling

Best practices callout should be caution
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
Labels: content/autoscaling

update: Changed Cluster Proportional Autoscaler lab to install via helm chart (#960)
  manifests/modules/autoscaling/workloads/cpa/.workshop/cleanup.sh
  manifests/modules/autoscaling/workloads/cpa/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/cpa/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/workloads/cpa/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/workloads/cpa/deployment.yaml
  manifests/modules/autoscaling/workloads/cpa/kustomization.yaml
  manifests/modules/autoscaling/workloads/cpa/others.yaml
  manifests/modules/autoscaling/workloads/cpa/values.yaml
  renovate.json
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/autoscaling-coredns-usecase.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/index.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
Labels: content/autoscaling

Update vpc.md by adding Secondary CIDR pre-requirement
  website/docs/networking/vpc-cni/custom-networking/vpc.md
Labels: content/networking

Stabilize tests in CAM lab
  website/docs/security/cluster-access-management/associating-policies.md
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

update: Changed ArgoCD lab to install via helm chart
  manifests/modules/automation/gitops/argocd/.workshop/cleanup.sh
  manifests/modules/automation/gitops/argocd/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/argocd/.workshop/terraform/outputs.tf
  manifests/modules/automation/gitops/argocd/.workshop/terraform/vars.tf
  manifests/modules/automation/gitops/argocd/values.yaml
  renovate.json
  website/docs/automation/gitops/argocd/access_argocd.md
Labels: none

update: Changed ArgoCD lab to install via helm chart (#962)
  manifests/modules/automation/gitops/argocd/.workshop/cleanup.sh
  manifests/modules/automation/gitops/argocd/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/argocd/.workshop/terraform/outputs.tf
  manifests/modules/automation/gitops/argocd/.workshop/terraform/vars.tf
  manifests/modules/automation/gitops/argocd/values.yaml
  renovate.json
  website/docs/automation/gitops/argocd/access_argocd.md
Labels: none

More flexible helm chart handling in renovatebot
  manifests/modules/automation/gitops/argocd/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/workloads/cpa/.workshop/terraform/vars.tf
  renovate.json
Labels: none

Handle cluster-autoscaler versions properly with renovatebot
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  renovate.json
Labels: none

update: Changed Load Balancer and Ingress labs to install via helm chart
  manifests/modules/exposing/ingress/.workshop/cleanup.sh
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/outputs.tf
  manifests/modules/exposing/ingress/.workshop/terraform/vars.tf
  manifests/modules/exposing/load-balancer/.workshop/cleanup.sh
  manifests/modules/exposing/load-balancer/.workshop/terraform/main.tf
  manifests/modules/exposing/load-balancer/.workshop/terraform/outputs.tf
  manifests/modules/exposing/load-balancer/.workshop/terraform/vars.tf
  website/docs/fundamentals/exposing/ingress/index.md
  website/docs/fundamentals/exposing/ingress/introduction.md
  website/docs/fundamentals/exposing/loadbalancer/index.md
  website/docs/fundamentals/exposing/loadbalancer/introduction.md
Labels: content/fundamentals

update: Changed Load Balancer and Ingress labs to install LBC via helm chart (#965)
  manifests/modules/exposing/ingress/.workshop/cleanup.sh
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/outputs.tf
  manifests/modules/exposing/ingress/.workshop/terraform/vars.tf
  manifests/modules/exposing/load-balancer/.workshop/cleanup.sh
  manifests/modules/exposing/load-balancer/.workshop/terraform/main.tf
  manifests/modules/exposing/load-balancer/.workshop/terraform/outputs.tf
  manifests/modules/exposing/load-balancer/.workshop/terraform/vars.tf
  website/docs/fundamentals/exposing/ingress/index.md
  website/docs/fundamentals/exposing/ingress/introduction.md
  website/docs/fundamentals/exposing/loadbalancer/index.md
  website/docs/fundamentals/exposing/loadbalancer/introduction.md
Labels: content/fundamentals

new: Added lab on Helm
  manifests/modules/introduction/helm/.workshop/cleanup.sh
  manifests/modules/introduction/helm/.workshop/terraform/main.tf
  manifests/modules/introduction/helm/.workshop/terraform/outputs.tf
  manifests/modules/introduction/helm/.workshop/terraform/vars.tf
  manifests/modules/introduction/helm/values.yaml
  website/docs/introduction/helm/index.md
  website/docs/introduction/helm/tests/hook-suite.sh
Labels: content/introduction

Fix use of cluster autoscaler tag
  website/docs/autoscaling/compute/cluster-autoscaler/install.md
Labels: content/autoscaling

Fixed typo
  website/docs/introduction/helm/index.md
Labels: content/introduction

Adding ALB troubleshooting scenario and Troubleshooting Methodologies
  manifests/modules/troubleshooting/alb/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/alb/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/alb/.workshop/terraform/template/break.sh
  manifests/modules/troubleshooting/alb/.workshop/terraform/template/other_issue.json
  manifests/modules/troubleshooting/alb/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/alb/creating-alb/fix_ingress/ingress.yaml
  manifests/modules/troubleshooting/alb/creating-alb/fix_ingress/kustomization.yaml
  manifests/modules/troubleshooting/alb/creating-alb/fix_ui/kustomization.yaml
  manifests/modules/troubleshooting/alb/creating-alb/fix_ui/service.yaml
  manifests/modules/troubleshooting/alb/creating-alb/ingress.yaml
  manifests/modules/troubleshooting/alb/creating-alb/kustomization.yaml
  manifests/modules/troubleshooting/alb/creating-alb/service.yaml
  website/docs/troubleshooting/Scenarios/_category_.json
  website/docs/troubleshooting/Scenarios/alb/alb_fix.md
  website/docs/troubleshooting/Scenarios/alb/assets/IntScen-ALBC-1-2.png
  website/docs/troubleshooting/Scenarios/alb/assets/alb-503.png
  website/docs/troubleshooting/Scenarios/alb/assets/alb-does-not-exist.png
  website/docs/troubleshooting/Scenarios/alb/assets/alb-working.png
  website/docs/troubleshooting/Scenarios/alb/assets/ingress.png
  website/docs/troubleshooting/Scenarios/alb/index.md
  website/docs/troubleshooting/Scenarios/alb/tests/hook-add-ingress.sh
  website/docs/troubleshooting/Scenarios/alb/tests/hook-suite.sh
  website/docs/troubleshooting/Scenarios/index.md
  website/docs/troubleshooting/_category_.json
  website/docs/troubleshooting/index.md
  website/docs/troubleshooting/methodologies/5050.md
  website/docs/troubleshooting/methodologies/_category_.json
  website/docs/troubleshooting/methodologies/index.md
  website/docs/troubleshooting/methodologies/others.md
  website/docs/troubleshooting/methodologies/rca.md
  website/docs/troubleshooting/methodologies/reproductions.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: none

Update kustomize next steps
  website/docs/introduction/kustomize/index.md
Labels: content/introduction

More detail on bitnami repo
  website/docs/introduction/helm/index.md
Labels: content/introduction

Update website/docs/introduction/helm/index.md
  website/docs/introduction/helm/index.md
Labels: content/introduction

Rrewording
  website/docs/introduction/helm/index.md
Labels: content/introduction

Rewording
  website/docs/introduction/helm/index.md
Labels: content/introduction

Update website/docs/introduction/helm/index.md
  website/docs/introduction/helm/index.md
Labels: content/introduction

Rewording
  website/docs/introduction/helm/index.md
Labels: content/introduction

Make consistent with kustomize
  website/docs/introduction/helm/index.md
Labels: content/introduction

Make consistent with kustomize
  website/docs/introduction/helm/index.md
Labels: content/introduction

new: Added lab on Helm (#967)
  manifests/modules/introduction/helm/.workshop/cleanup.sh
  manifests/modules/introduction/helm/.workshop/terraform/main.tf
  manifests/modules/introduction/helm/.workshop/terraform/outputs.tf
  manifests/modules/introduction/helm/.workshop/terraform/vars.tf
  manifests/modules/introduction/helm/values.yaml
  website/docs/introduction/helm/index.md
  website/docs/introduction/helm/tests/hook-suite.sh
  website/docs/introduction/kustomize/index.md
Labels: content/introduction

update: Changed kubecost lab to install via helm chart
  manifests/modules/observability/kubecost/.workshop/cleanup.sh
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/kubecost/.workshop/terraform/outputs.tf
  manifests/modules/observability/kubecost/.workshop/terraform/vars.tf
  manifests/modules/observability/kubecost/values.yaml
  website/docs/observability/kubecost/index.md
  website/docs/observability/kubecost/introduction.md
  website/docs/observability/kubecost/tests/hook-kubecost-deployment.sh
Labels: content/observability

update: Changed kubecost lab to install via helm chart (#969)
  manifests/modules/observability/kubecost/.workshop/cleanup.sh
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/kubecost/.workshop/terraform/outputs.tf
  manifests/modules/observability/kubecost/.workshop/terraform/vars.tf
  manifests/modules/observability/kubecost/values.yaml
  website/docs/observability/kubecost/index.md
  website/docs/observability/kubecost/introduction.md
  website/docs/observability/kubecost/tests/hook-kubecost-deployment.sh
Labels: content/observability

Fixing argocd tests
  website/docs/automation/gitops/argocd/access_argocd.md
  website/docs/automation/gitops/argocd/index.md
Labels: none

Formatted cluster autoscaler/karpenter helm install commands to fit better
  website/docs/autoscaling/compute/cluster-autoscaler/install.md
  website/docs/autoscaling/compute/karpenter/configure.md
Labels: content/autoscaling

Adding publish workflow
  .github/workflows/publish-content.yaml
  hack/publish-content.sh
Labels: none

Allow publish dispatch
  .github/workflows/publish-content.yaml
Labels: none

Extend creds duration
  .github/workflows/publish-content.yaml
Labels: none

Use shallow clone in reset environment
  lab/bin/reset-environment
Labels: none

Create snapshot branch as part of release
  .github/workflows/release.yaml
Labels: none
