Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Remove package lock file
  package-lock.json
Labels: none

Ignore all package lock json files
  .gitignore
Labels: none

updated troubleshooting scenarios index.md. modified metrics-server yaml port section for troubleshooting workernode scenario three
  manifests/modules/troubleshooting/workernodes/three/yaml/metrics-server.yaml
  website/docs/troubleshooting/index.md
Labels: none

Added links to the EFS module for live and static workshops
  website/docs/fundamentals/storage/efs/further.md
  website/docs/fundamentals/storage/efs/index.md
Labels: content/fundamentals

Added links to the EFS module for live and static workshops
  website/docs/fundamentals/storage/efs/index.md
Labels: content/fundamentals

Only limit renovate automerge schedule
  renovate.json
Labels: none

Update configuring-graviton.md
  website/docs/fundamentals/managed-node-groups/graviton/configuring-graviton.md
Labels: content/fundamentals

Add steps to dns lab
  website/docs/troubleshooting/dns/1-config.md
  website/docs/troubleshooting/dns/2-check-coredns.md
  website/docs/troubleshooting/dns/3-check-kube-dns.md
  website/docs/troubleshooting/dns/4-check-vpc.md
  website/test-durations.json
Labels: none

Fixing Updated URL Links
  website/docs/aiml/genai-platform-aiml-delivery/index.md
Labels: none

03/12/25
  manifests/modules/troubleshooting/dns/.workshop/lab-setup.log
  manifests/modules/troubleshooting/workernodes/three/yaml/metrics-server.yaml
  website/docs/troubleshooting/dns/2-check-coredns.md
  website/docs/troubleshooting/dns/index.md
  website/docs/troubleshooting/pod/crash/index.md
Labels: none

Revert Terraform version
  lab/scripts/installer.sh
Labels: none

EKS Hybrid Nodes Module
  .spelling
  cluster/eksctl/cluster.yaml
  cluster/terraform/eks.tf
  cluster/terraform/variables.tf
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/base.yaml
  lab/iam/policies/ec2.yaml
  lab/iam/policies/iam.yaml
  lab/iam/policies/ssm.yaml
  manifests/modules/networking/eks-hybrid-nodes/.workshop/cleanup.sh
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/main.tf
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/outputs.tf
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/vars.tf
  manifests/modules/networking/eks-hybrid-nodes/cilium-bgp.yaml
  manifests/modules/networking/eks-hybrid-nodes/cilium-values.yaml
  manifests/modules/networking/eks-hybrid-nodes/deployment.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/deployment.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/ingress.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/kustomization.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/namespace.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/service.yaml
  manifests/modules/networking/eks-hybrid-nodes/kyverno/policy.yaml
  manifests/modules/networking/eks-hybrid-nodes/kyverno/values.yaml
  manifests/modules/networking/eks-hybrid-nodes/nodeconfig.yaml
  testing/Dockerfile
  website/docs/networking/eks-hybrid-nodes/assets/lab_environment.png
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
  website/docs/networking/eks-hybrid-nodes/connect-hybrid-node.md
  website/docs/networking/eks-hybrid-nodes/index.md
  website/docs/networking/eks-hybrid-nodes/routing-traffic.md
Labels: content/networking

fix: Fixing Updated URL link for Linked Workshop. (#1323)
  website/docs/aiml/genai-platform-aiml-delivery/index.md
Labels: none

Break up activation parsing command
  website/docs/networking/eks-hybrid-nodes/connect-hybrid-node.md
Labels: content/networking

new: EKS Hybrid Nodes Module (#1322)
  .spelling
  cluster/eksctl/cluster.yaml
  cluster/terraform/eks.tf
  cluster/terraform/variables.tf
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/base.yaml
  lab/iam/policies/ec2.yaml
  lab/iam/policies/iam.yaml
  lab/iam/policies/ssm.yaml
  manifests/modules/networking/eks-hybrid-nodes/.workshop/cleanup.sh
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/main.tf
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/outputs.tf
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/vars.tf
  manifests/modules/networking/eks-hybrid-nodes/cilium-bgp.yaml
  manifests/modules/networking/eks-hybrid-nodes/cilium-values.yaml
  manifests/modules/networking/eks-hybrid-nodes/deployment.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/deployment.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/ingress.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/kustomization.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/namespace.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/service.yaml
  manifests/modules/networking/eks-hybrid-nodes/kyverno/policy.yaml
  manifests/modules/networking/eks-hybrid-nodes/kyverno/values.yaml
  manifests/modules/networking/eks-hybrid-nodes/nodeconfig.yaml
  testing/Dockerfile
  website/docs/networking/eks-hybrid-nodes/assets/lab_environment.png
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
  website/docs/networking/eks-hybrid-nodes/connect-hybrid-node.md
  website/docs/networking/eks-hybrid-nodes/index.md
  website/docs/networking/eks-hybrid-nodes/routing-traffic.md
Labels: content/networking

fix: Update wording on Line 62 for configuring-graviton.md to reference correct command (#1285)
  website/docs/fundamentals/managed-node-groups/graviton/configuring-graviton.md
Labels: content/fundamentals

fix: [docs] adding a comma for better readability (#1261)
  website/docs/aiml/inferentia/compile.md
Labels: none

Update index.md
  website/docs/fundamentals/storage/mountpoint-s3/index.md
Labels: content/fundamentals

Add missing description to frontmatter
  website/docs/networking/eks-hybrid-nodes/index.md
Labels: content/networking

Simplify Kyverno configuration, and add needed permissions to rbac policy for kyverno-admission-contoller
  manifests/modules/networking/eks-hybrid-nodes/kyverno/values.yaml
Labels: none

Simplify Kyverno policy by removing extraneous rule. set-deletion-cost-for-nginx-on-hybrid works as expected now that Kyverno controllers have the necessary permissions
  manifests/modules/networking/eks-hybrid-nodes/kyverno/policy.yaml
Labels: none

Minor updates to documentation for Hybrid Nodes labs
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
  website/docs/networking/eks-hybrid-nodes/connect-hybrid-node.md
  website/docs/networking/eks-hybrid-nodes/index.md
  website/docs/networking/eks-hybrid-nodes/routing-traffic.md
Labels: content/networking

Fix EKS Hybrid Nodes Role
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

fix: EKS Hybrid Nodes Role (#1336)
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

Using folder from static position
  hack/build-ide-cfn.sh
Labels: none

Fix to use StackName to be unique in account
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

fix: Use StackName to be unique in account (#1343)
  hack/build-ide-cfn.sh
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

chore: Removed old EKS Blueprints references
  manifests/modules/observability/logging/pods/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/security/secrets-manager/.workshop/terraform/main.tf
Labels: none

Revert to using schedule over automergeSchedule
  renovate.json
Labels: none

chore: Group IDE binary upgrades
  renovate.json
Labels: none

chore: Removed old EKS Blueprints Terraform references (#1350)
  manifests/modules/observability/logging/pods/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/security/secrets-manager/.workshop/terraform/main.tf
Labels: none

Fixed external secrets role name length
  manifests/modules/security/secrets-manager/.workshop/terraform/main.tf
Labels: none

fix: Add missing description to frontmatter for EKS Hybrid Nodes module (#1326)
  website/docs/networking/eks-hybrid-nodes/index.md
Labels: content/networking

Update consolidation.md
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

chore: Improved helm lab tests
  website/docs/introduction/helm/index.md
  website/docs/introduction/helm/tests/hook-install.sh
  website/docs/introduction/helm/tests/hook-replicas.sh
Labels: content/introduction

fix: karpenter log grep updated in Karpenter lab (#1383)
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

test karpenter disruption log
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/compute/karpenter/tests/hook-grep.sh
Labels: content/autoscaling

fix: test suite checks for karpenter disruption log (#1399)
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/compute/karpenter/tests/hook-grep.sh
Labels: content/autoscaling

fix for https://github.com/aws-samples/eks-workshop-v2/issues/1185
  website/README.md
  website/docs/observability/logging/pod-logging/assets/fluentbit-architecture.webp
  website/docs/observability/logging/pod-logging/fluent-bit-cloudwatch.md
  website/docs/observability/logging/pod-logging/fluentbit-setup.md
Labels: content/observability

issue-1382 fix : updated the s3pvclaim.yaml to read the region from env variable AWS_REGION and respective web changes
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
