Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Yaml component: Slight refactor, added zoomPath
  website/src/components/YamlFile/index.tsx
  website/src/remark/include-yaml.js
Labels: none

Add wait to ArgoCD test while investigating flakiness
  website/docs/automation/gitops/argocd/access_argocd.md
Labels: none

Fixing formatting
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Added 1.30 upgrade notice
  website/docusaurus.config.js
Labels: none

Add upgrade header
  website/docusaurus.config.js
Labels: none

fixed all the module test errors
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/cleanup.sh
  manifests/modules/aiml/deploy-monitor-genai-model/jupyterhub/jupyter.ipynb
  manifests/modules/aiml/deploy-monitor-genai-model/jupyterhub/jupyterhub-values.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/karpenter/g5-gpu-nodepool-nodeclass.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/karpenter/x86-cpu-nodepool-nodeclass.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/otel/clusterrole.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/otel/clusterrolebinding.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/otel/kustomization.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/otel/namespace.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/otel/opentelemetrycollector.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/otel/serviceaccount.yaml
  manifests/modules/aiml/deploy-monitor-genai-model/rayservice/rayservice.yaml
  website/docs/aiml/deploy-monitor-genai-model/assets/browse-grafana-dashboard.png
  website/docs/aiml/deploy-monitor-genai-model/assets/user1-session-launch.png
  website/docs/aiml/deploy-monitor-genai-model/depoly-prerequesite.md
  website/docs/aiml/deploy-monitor-genai-model/index.md
  website/docs/aiml/deploy-monitor-genai-model/jupyterhubsetup.md
  website/docs/aiml/deploy-monitor-genai-model/modelinference.md
  website/docs/aiml/deploy-monitor-genai-model/modeltraining.md
  website/docs/aiml/deploy-monitor-genai-model/monitorGPU.md
  website/docs/aiml/deploy-monitor-genai-model/tests/hook-check-grafana.sh
  website/docs/aiml/deploy-monitor-genai-model/tests/hook-check-jupyterhub-install.sh
  website/docs/aiml/deploy-monitor-genai-model/tests/hook-check-karpenter-deployment-status.sh
  website/docs/aiml/deploy-monitor-genai-model/tests/hook-gpu-operator-status-check.sh
  website/docs/aiml/deploy-monitor-genai-model/tests/hook-karpenter-nodepool-ec2nodeclass-status.sh
  website/docs/aiml/deploy-monitor-genai-model/tests/hook-kuberay-operator-check.sh
  website/docs/aiml/deploy-monitor-genai-model/tests/hook-rayservice-install.sh
Labels: none

Adding introduction for each section
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_7.md
Labels: none

Migrated own account set up to use CloudFormation quick launch links
  website/docs/introduction/setup/your-account/assets/acknowledge-iam.webp
  website/docs/introduction/setup/your-account/assets/create-stack.webp
  website/docs/introduction/setup/your-account/assets/delete-stack.webp
  website/docs/introduction/setup/your-account/assets/outputs.webp
  website/docs/introduction/setup/your-account/cleanup.md
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

finished website module for chatbot
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/vars.tf
  manifests/modules/aiml/chatbot/gradio/gradio-ui.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/k8s-neuron-device-plugin-rbac.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/k8s-neuron-device-plugin.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-inf2.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/ray-service-llama2.yaml
  website/docs/aiml/ai-chatbot/add-llama2.md
  website/docs/aiml/ai-chatbot/compile.md
  website/docs/aiml/ai-chatbot/conclusion.md
  website/docs/aiml/ai-chatbot/expose.md
  website/docs/aiml/ai-chatbot/gradio.md
  website/docs/aiml/ai-chatbot/index.md
  website/docs/aiml/ai-chatbot/inference.md
  website/docs/aiml/ai-chatbot/intro.md
  website/docs/aiml/ai-chatbot/nodepool.md
  website/docs/aiml/ai-chatbot/wrapup.md
  website/docs/aiml/index.md
  website/static/img/sample-app-screens/chatbot.webp
Labels: none

Update IRSA and Pod Identity to new sample application version 0.8.1
  website/docs/security/amazon-eks-pod-identity/understanding.md
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
Labels: content/security

Remove unnecessary packages from installer
  lab/scripts/installer.sh
Labels: none

Removing need for use-cluster
  lab/bin/reset-environment
  lab/scripts/setup.sh
Labels: none

Unique session IDs
  hack/lib/generate-aws-creds.sh
Labels: none

AL2023 for local dev image
  lab/Dockerfile
Labels: none

Explicitly declare AWS provider, use default tags
  manifests/.workshop/terraform/base.tf
Labels: none

Various updates for IAM policy consistency
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/main.tf
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
  manifests/modules/exposing/load-balancer/.workshop/terraform/main.tf
  manifests/modules/networking/network-policies/.workshop/terraform/main.tf
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/security/eks-pod-identity/.workshop/terraform/main.tf
  manifests/modules/security/irsa/.workshop/terraform/main.tf
Labels: none

Fixed warnings in Terminal components
  website/src/components/Terminal/index.tsx
Labels: none

finished aiml-chatbot module
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/vars.tf
  manifests/modules/aiml/chatbot/gradio/gradio-ui.yaml
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
  website/docs/aiml/chatbot/_category_.json
  website/docs/aiml/chatbot/add-llama2.md
  website/docs/aiml/chatbot/assets/CreateModel.png
  website/docs/aiml/chatbot/assets/Inference.png
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/gradio.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/intro.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/tests/hook-suite.sh
Labels: none

Move Fargate to use AWS CLI instead of eksctl
  manifests/modules/fundamentals/fargate/profile/fargate.yaml
  website/docs/fundamentals/fargate/enabling.md
Labels: content/fundamentals

Changed cluster create and delete to managed IDE IAM role, use this role for shell and tests
  Makefile
  docs/reviewer_checklist.md
  hack/create-infrastructure.sh
  hack/destroy-infrastructure.sh
  hack/lib/common-env.sh
  hack/lib/generate-aws-creds.sh
  hack/run-tests.sh
  hack/shell.sh
  lab/iam-policy.json
Labels: none

Update iam policy for cluster provisioning
  lab/iam-policy.json
Labels: none

Fix Terraform to use consistent resource names
  cluster/terraform/eks.tf
Labels: none

Rework infrastructure scripts to use IDE role for provisioning
  hack/create-infrastructure.sh
  hack/destroy-infrastructure.sh
  hack/lib/generate-aws-creds.sh
  hack/run-tests.sh
  hack/shell.sh
Labels: none

Added PR check to validate terraform
  .github/workflows/pr.yaml
  hack/validate-terraform.sh
Labels: none

Tidied up lab test workflow
  .github/workflows/module-test.yaml
Labels: none

Update exec to support commands without credentials
  .github/workflows/pr.yaml
  hack/exec.sh
Labels: none

Update exec to support commands without credentials
  hack/exec.sh
Labels: none

Skip fetching account ID when credentials not required
  hack/exec.sh
  hack/lib/common-env.sh
Labels: none

Added EFS permissions
  lab/iam-policy.json
Labels: none

Rule name prefix for Karpenter, fixed sqs and events permissions
  hack/update-iam-role.sh
  lab/iam-policy.json
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

Shorten karpenter rule names
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

Further shorten Karpenter event names
  lab/iam-policy.json
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/main.tf
Labels: none

Split IAM policy due to size
  docs/reviewer_checklist.md
  hack/create-infrastructure.sh
  hack/destroy-infrastructure.sh
  hack/update-iam-role.sh
  lab/iam-policy-base.json
  lab/iam-policy-labs.json
Labels: none

6-month steering committee rotation
  governance/steering.md
Labels: none

Make create/destroy infrastructure idempotent
  hack/create-infrastructure.sh
  hack/destroy-infrastructure.sh
  hack/find-dangling-resources.sh
  hack/update-iam-role.sh
Labels: none

Pass environment for creating role
  hack/create-infrastructure.sh
Labels: none

Add back ability to assume role for hack scripts
  hack/lib/generate-aws-creds.sh
Labels: none

Destroy script should try to delete environment first
  hack/destroy-infrastructure.sh
Labels: none

More fixes related to IAM
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/ebs/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/efs/.workshop/terraform/main.tf
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/security/secrets-manager/.workshop/terraform/main.tf
Labels: none

Simplify destroy
  hack/destroy-infrastructure.sh
Labels: none
