Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Update(main.tf):add current vpc
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
Labels: none

Update main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
Labels: none

Update(main.tf)
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
Labels: none

fix: Use delete-all-if-crd-exists for cleanup
  manifests/modules/networking/eks-hybrid-nodes/.workshop/cleanup.sh
Labels: none

fix: Use delete-all-if-crd-exists for cleanup (#1408)
  manifests/modules/networking/eks-hybrid-nodes/.workshop/cleanup.sh
Labels: none

Create test-troubleshooting.yaml
  .github/workflows/test-troubleshooting.yaml
Labels: none

Added FSxL module
  manifests/modules/fundamentals/storage/fsxl/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxl/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxl/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxl/.workshop/terraform/vars.tf
  manifests/modules/fundamentals/storage/fsxl/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/fsxl/deployment/fsxpvclaim.yaml
  manifests/modules/fundamentals/storage/fsxl/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxl/workshop_flow.txt
Labels: none

Minor changes to FSxL module
  manifests/modules/fundamentals/storage/fsxl/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxl/workshop_flow.txt
Labels: none

Trimmed Terraform
  manifests/modules/fundamentals/storage/fsxl/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxl/.workshop/terraform/outputs.tf
Labels: none

Update(index.md): External DNS IAM role note
  website/docs/fundamentals/exposing/ingress/index.md
Labels: content/fundamentals

Create external-dns/ingress.yaml
  manifests/modules/exposing/ingress/external-dns/ingress.yaml
Labels: none

Create external-dns/kustomization.yaml
  manifests/modules/exposing/ingress/external-dns/kustomization.yaml
Labels: none

Create(external-dns.md)
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

Update(external-dns.md)
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

Update(index.md): note for creation Route53 zone
  website/docs/fundamentals/exposing/ingress/index.md
Labels: content/fundamentals

Update(external-dns.md)
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

Update(main.tf): eks blueprint version bump
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
Labels: none

Fixed cleanup script and updated instructions
  manifests/modules/fundamentals/storage/fsxl/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxl/workshop_flow.txt
Labels: none

added iam permissions for ide role for troubleshooting modules. Made changes/fixes to some docs and .tf .sh files.
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/troubleshoot.yaml
  manifests/modules/troubleshooting/alb/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/cleanup.sh
  website/docs/troubleshooting/pod/container_creating.md
  website/docs/troubleshooting/workernodes/one.md
  website/docs/troubleshooting/workernodes/two.md
Labels: none

adding wait times and fixing dns prep-env
  manifests/modules/troubleshooting/dns/.workshop/terrraform/main.tf
  website/docs/troubleshooting/alb/alb_fix_7.md
  website/docs/troubleshooting/alb/tests/hook-fix-7.sh
  website/docs/troubleshooting/pod/container_creating.md
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/pod/public_image.md
Labels: none

fix: command is returning error
  website/docs/security/cluster-access-management/managing.md
Labels: content/security

fix: command is returning error (#1415)
  website/docs/security/cluster-access-management/managing.md
Labels: content/security

Fix formatting
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
Labels: content/fundamentals

Use region in IAM update script
  hack/update-iam-role.sh
Labels: none

Fix yq version
  devenv.nix
Labels: none

update: Re-instated FSxN lab (#1259)
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/labs1.yaml
  lab/iam/policies/labs4.yaml
  manifests/modules/fundamentals/storage/fsxn/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/vars.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/values.yaml
  manifests/modules/fundamentals/storage/fsxn/backend/fsxn-backend-nas.yaml
  manifests/modules/fundamentals/storage/fsxn/backend/fsxn-secret.yaml
  manifests/modules/fundamentals/storage/fsxn/backend/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxn/storageclass/kustomization.yaml
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
  website/docusaurus.config.js
Labels: content/fundamentals

update: Troubleshooting module - permissions (#1414)
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/troubleshoot.yaml
  manifests/modules/troubleshooting/alb/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/terrraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/cleanup.sh
  website/docs/troubleshooting/alb/alb_fix_7.md
  website/docs/troubleshooting/alb/tests/hook-fix-7.sh
  website/docs/troubleshooting/pod/container_creating.md
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/pod/public_image.md
  website/docs/troubleshooting/workernodes/one.md
  website/docs/troubleshooting/workernodes/two.md
Labels: none

Update test-troubleshooting test name
  .github/workflows/test-troubleshooting.yaml
Labels: none

Break out storage tests due to time required
  .github/workflows/module-test.yaml
  .github/workflows/test-fundamentals.yaml
Labels: none

Fix storage section ordering
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/index.md
Labels: content/fundamentals

Fix running s3 tests
  .github/workflows/test-fundamentals.yaml
Labels: none

Add test cleanup for ONTAP
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/tests/hook-suite.sh
Labels: content/fundamentals

Wait longer for Fargate profile
  website/docs/fundamentals/fargate/enabling.md
Labels: content/fundamentals

updated permissions for pod scenario, removed metrics-server for worker node scenario, modified asg outputs
  lab/iam/policies/troubleshoot.yaml
  manifests/modules/troubleshooting/dns/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/outputs.tf
  website/docs/troubleshooting/workernodes/three.md
Labels: none

Adjust troubleshooting test schedule
  .github/workflows/test-troubleshooting.yaml
Labels: none

Fix hardcoded cluster name, missing test timeout
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
Labels: content/fundamentals

MNG affinity docs: Minor edits
  website/docs/fundamentals/managed-node-groups/basics/affinity/index.md
Labels: content/fundamentals

updated workernode website
  manifests/modules/troubleshooting/workernodes/yaml/configmaps.yaml
  website/docs/troubleshooting/workernodes/three.md
Labels: none

typo
  website/docs/troubleshooting/workernodes/three.md
Labels: none

modified outputs for eks asg
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/outputs.tf
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
