Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Fixing for issue 979 to add cloudwacth add instead of fluent bit
  website/docs/observability/logging/pod-logging/cloudwatch-addon-setup.md
  website/docs/observability/logging/pod-logging/eks-cloudwatch.md
  website/docs/observability/logging/pod-logging/fluentbit-setup.md
Labels: content/observability

Fixing for issue 979 to add cloudwacth add instead of fluent bit
  website/docs/observability/logging/pod-logging/index.md
Labels: content/observability

fix grammar to avoid confusion (#1119)
  website/docs/introduction/helm/index.md
Labels: content/introduction

Added script to show banner in IDE terminal
  lab/scripts/banner.sh
Labels: none

fix: Add IAM permissions to create GuardDuty detector
  lab/iam/policies/iam.yaml
Labels: none

Show terminal banner in vscode
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

fix: Dont set C9 indicator in vscode
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

Fix IDE wording
  website/docs/introduction/navigating-labs.md
Labels: content/introduction

S3 Module Lab works correctly in this version of the repository
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/s3/README.md
  manifests/modules/fundamentals/storage/s3/commands.txt
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/blog-deploy.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/example.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/deployment/csidriver.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/deployment/pvc.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/deployment/s3-express.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/storageclass/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/storageclass/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/storageclass/s3storageclass.yaml
Labels: none

Polished up README.md before submitting module for user testing
  manifests/modules/fundamentals/storage/s3/README.md
Labels: none

chore: Added oha binary to IDE
  lab/scripts/installer.sh
Labels: none

Removed miss placed env vars
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
Labels: none

Added DLC urls
  manifests/modules/aiml/inferentia/.workshop/terraform/outputs.tf
Labels: none

Formatted files
  manifests/modules/aiml/inferentia/.workshop/terraform/outputs.tf
Labels: none

Fix how karpenter version is tracked, some verbiage updates
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/index.md
  website/docs/aiml/inferentia/inference.md
Labels: none

Fixed links
  website/docs/aiml/inferentia/index.md
Labels: none

Fix last line of index page
  website/docs/aiml/inferentia/index.md
Labels: none

fix: Make sure NLBs are provisioned
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/security/eks-pod-identity/.workshop/terraform/main.tf
  manifests/modules/security/irsa/.workshop/terraform/main.tf
  website/docs/security/amazon-eks-pod-identity/verifying-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/verifying-dynamo.md
Labels: content/security

fix: Make sure NLBs are provisioned (#1136)
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/security/eks-pod-identity/.workshop/terraform/main.tf
  manifests/modules/security/irsa/.workshop/terraform/main.tf
  website/docs/security/amazon-eks-pod-identity/verifying-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/verifying-dynamo.md
Labels: content/security

update: AI/ML Inferentia lab also uses Trainium instances (#1111)
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/outputs.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
  manifests/modules/aiml/inferentia/compiler/compiler.yaml
  manifests/modules/aiml/inferentia/compiler/trace.py
  manifests/modules/aiml/inferentia/inference/inference.py
  manifests/modules/aiml/inferentia/inference/inference.yaml
  manifests/modules/aiml/inferentia/nodepool/nodepool.yaml
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/index.md
  website/docs/aiml/inferentia/inference.md
  website/docs/aiml/inferentia/karpenter.md
Labels: none

IAM changes
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/ec2.yaml
  lab/iam/policies/iam.yaml
  lab/iam/policies/labs2.yaml
  lab/iam/policies/labs3.yaml
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/outputs.tf
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/07-az-failure.md
Labels: content/observability

chore: Improve mounting of files in shell container
  hack/shell.sh
  lab/bin/reset-environment
  lab/scripts/entrypoint.sh
Labels: none

Remove old OSS metrics module.
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
Labels: none

Remove old Kubecost module.
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
Labels: none

Fix test runner
  hack/run-tests.sh
Labels: none

Update the cleanup script for the OSS module.
  manifests/modules/observability/oss/metrics-logs-traces/.workshop/cleanup.sh
Labels: none

update: Various over-provisioning language fixes
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/how-it-works.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/index.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/scaling.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

Update AWS event instructions to use vscode
  website/docs/introduction/setup/assets/visual-studio-01.png
  website/docs/introduction/setup/assets/visual-studio-02.png
  website/docs/introduction/setup/assets/vscode-splash.webp
  website/docs/introduction/setup/assets/workshop-studio-06.png
  website/docs/introduction/setup/aws-event.md
Labels: content/introduction

Banner should only show in vscode terminal
  lab/scripts/banner.sh
Labels: none

Increase inferentia test timeout
  website/docs/aiml/inferentia/compile.md
Labels: none

update: Various over-provisioning language fixes (#1140)
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/how-it-works.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/index.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/scaling.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

Update variables.tf
  cluster/terraform/variables.tf
Labels: none

Removing Fluent but from Terraform
  manifests/modules/observability/logging/pods/.workshop/terraform/main.tf
Labels: none

update: Various Kyverno language fixes
  manifests/modules/security/kyverno/.workshop/terraform/main.tf
  website/docs/security/kyverno/baseline-pss.md
  website/docs/security/kyverno/creating-policy.md
  website/docs/security/kyverno/index.md
  website/docs/security/kyverno/reports.md
  website/docs/security/kyverno/restricting-images.md
Labels: content/security

update: Various Kyverno language fixes (#1143)
  manifests/modules/security/kyverno/.workshop/terraform/main.tf
  website/docs/security/kyverno/baseline-pss.md
  website/docs/security/kyverno/creating-policy.md
  website/docs/security/kyverno/index.md
  website/docs/security/kyverno/reports.md
  website/docs/security/kyverno/restricting-images.md
Labels: content/security

add mountpoint for s3 workshop content
  website/docs/fundamentals/storage/mountpoint-s3/10-ephemeral-container-storage.md
  website/docs/fundamentals/storage/mountpoint-s3/20-introduction-to-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/assets/assets-emptydir.webp
  website/docs/fundamentals/storage/mountpoint-s3/assets/assets-s3.webp
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/alfaromeo.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/bmw.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/dodge.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/ford.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/hyundai.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/lamborghini.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/landrover.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/maserati.jpg
  website/docs/fundamentals/storage/mountpoint-s3/index.md
Labels: content/fundamentals

Update 30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

PR review changes
  hack/run-tests.sh
  lab/iam/policies/labs2.yaml
  lab/iam/policies/labs3.yaml
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/high-availability/config/scale_and_affinity_patch.yaml
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/high-availability/index.md
Labels: content/observability

Merge changes
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/vars.tf
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/high-availability/index.md
Labels: content/observability

Minor edit to S3 lab cleanup file
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
