Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

fix: Fixed region name in account setup (#1255)
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

fix: Login to ECR Public in Karpenter lab
  website/docs/autoscaling/compute/karpenter/configure.md
Labels: content/autoscaling

fix: Login to ECR Public in Karpenter lab (#1256)
  website/docs/autoscaling/compute/karpenter/configure.md
Labels: content/autoscaling

update fsxn IAM policy
  lab/iam/policies/labs4.yaml
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
Labels: none

update fsxn module terraform outputs
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
Labels: content/fundamentals

update fsxn module - password scheme
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
Labels: none

update fsxn module SVM password input
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
Labels: none

update fsxn module resources names
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/outputs.tf
Labels: none

remove output from fsxn preprovision
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/outputs.tf
  manifests/modules/fundamentals/storage/fsxn/backend/fsxn-backend-nas.yaml
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
Labels: content/fundamentals

update secret arn in CSI policy
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
Labels: none

update secret arn in CSI policy, remove data resource
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
Labels: none

update fsxn module - get secret arn from datasource
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxn/backend/fsxn-backend-nas.yaml
Labels: none

Add make to devenv
  devenv.nix
Labels: none

update fsxn module - update secret delete window
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
Labels: none

update fsxn module - change to pod identity for trident csi
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
Labels: none

update fsxn module - remove env vars tf output
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
Labels: none

fix: Update wait command in VPC Lattice lab
  website/docs/networking/vpc-lattice/configuring-routes.md
Labels: content/networking

update fsxn module - fix pod identity issues
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
Labels: none

fix: Update wait command in VPC Lattice lab (#1257)
  devenv.nix
  website/docs/networking/vpc-lattice/configuring-routes.md
Labels: content/networking

fix: Use metrics server addon in HPA lab
  manifests/modules/autoscaling/workloads/hpa/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/hpa/.workshop/terraform/vars.tf
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/index.md
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/metric-server.md
Labels: content/autoscaling

fix: Use metrics server addon in HPA lab (#1258)
  manifests/modules/autoscaling/workloads/hpa/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/hpa/.workshop/terraform/vars.tf
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/index.md
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/metric-server.md
Labels: content/autoscaling

FSxN module - update lab doc with the new pod identity changes
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
Labels: content/fundamentals

alb guid format/grammar update
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_1_old.md
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_5_old.md
  website/docs/troubleshooting/alb/alb_fix_7_old.md
  website/docs/troubleshooting/alb/alb_fix_wrapping_up.md
  website/docs/troubleshooting/alb/alb_fix_wrapping_up_old.md
  website/docs/troubleshooting/alb/index.md
  website/docs/troubleshooting/alb/index1.md
  website/docs/troubleshooting/cni/cni_fix_1.md
Labels: none

Update consolidation.md
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

fix: Better verbiage for WhenEmptyOrUnderutilized in Karpenter lab (#1260)
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

dns text reviewed with Cedric
  website/docs/troubleshooting/dns/index.md
  website/docs/troubleshooting/dns/step1-config.md
  website/docs/troubleshooting/dns/step2-check-coredns.md
  website/docs/troubleshooting/dns/step3-check-kube-dns.md
  website/docs/troubleshooting/dns/step4-check-vpc.md
Labels: none

[doc] adding a comma for better readability
  website/docs/aiml/inferentia/compile.md
Labels: none

update FSxN module - pre-commit hooks fixes
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/vars.tf
Labels: none

FSxN module - update a few TF formatting issues
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
Labels: none

Updated lab with FSx for OpenZFS.
  lab/iam/policies/labs2.yaml
  manifests/modules/fundamentals/storage/fsxz/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fs-deployment.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fsxz-fs-pvc.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-vol/fsxz-vol-pvc.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-vol/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-vol/vol-deployment.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/fsxz-fs-sc.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-vol/fsxz-vol-sc.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-vol/kustomization.yaml
  website/docs/fundamentals/storage/fsx-for-openzfs/assets/assets-emptydir.webp
  website/docs/fundamentals/storage/fsx-for-openzfs/assets/assets-fsxz.webp
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-openzfs/index.md
  website/docs/fundamentals/storage/fsx-for-openzfs/persistent-network-storage.md
Labels: content/fundamentals

interminitent issue fix
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/nodepool/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-trn1.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/Dockerfile
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/mistral1.py
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/ray_service_mistral.yaml
  package-lock.json
  package.json
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/llama2/add-llama2.md
  website/docs/aiml/chatbot/llama2/gradio.md
  website/docs/aiml/chatbot/llama2/index.md
  website/docs/aiml/chatbot/llama2/tests/hook-suite.sh
  website/docs/aiml/chatbot/mistral/add-mistral.md
  website/docs/aiml/chatbot/mistral/gradio-mistral.md
  website/docs/aiml/chatbot/mistral/index.md
  website/docs/aiml/chatbot/mistral/tests/hook-suite.sh
  website/docs/aiml/chatbot/nodepool.md
  website/static/img/sample-app-screens/gardio_mistral_SS.png
  yarn.lock
Labels: none

doc correction
  manifests/modules/aiml/chatbot/gradio-mistral/gradio-ui.yaml
  manifests/modules/aiml/chatbot/nodepool/kustomization.yaml
  website/docs/aiml/chatbot/add-mistral.md
  website/docs/aiml/chatbot/gradio-mistral.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/llama2/add-llama2.md
  website/docs/aiml/chatbot/llama2/gradio.md
  website/docs/aiml/chatbot/llama2/index.md
  website/docs/aiml/chatbot/mistral.md
  website/docs/aiml/chatbot/mistral/tests/hook-suite.sh
  website/docs/aiml/chatbot/nodepool.md
Labels: none

site build correction
  website/docs/aiml/chatbot/gradio-mistral.md
Labels: none

Brand new Worker nodes Scenario #3. Updated all three worker nodes website guide for similar structure and language with eksworkshopv2.
  manifests/modules/troubleshooting/workernodes/three/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/three/yaml/configmaps-new.yaml
  manifests/modules/troubleshooting/workernodes/three/yaml/configmaps.yaml
  manifests/modules/troubleshooting/workernodes/three/yaml/daemonset.yaml
  manifests/modules/troubleshooting/workernodes/three/yaml/deployment.yaml
  manifests/modules/troubleshooting/workernodes/three/yaml/metrics-server.yaml
  manifests/modules/troubleshooting/workernodes/three/yaml/namespace.yaml
  manifests/modules/troubleshooting/workernodes/three/yaml/priority-class.yaml
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/main.tf
  website/docs/troubleshooting/workernodes/one/index.md
  website/docs/troubleshooting/workernodes/three/index.md
  website/docs/troubleshooting/workernodes/three/tests/hook-fix-3-1.sh
  website/docs/troubleshooting/workernodes/three/tests/hook-fix-3-2.sh
  website/docs/troubleshooting/workernodes/two/index.md
Labels: none

new: Added new FSx for OpenZFS module
  website/docs/fundamentals/storage/fsx-for-openzfs/ephemeral-container-storage.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
  website/docs/fundamentals/storage/index.md
Labels: content/fundamentals

new: Added new FSx for OpenZFS module
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
Labels: content/fundamentals

new: Added new FSx for OpenZFS module
  manifests/modules/fundamentals/storage/fsxz/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fs-deployment.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-vol/fsxz-vol-pvc.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-vol/vol-deployment.yaml
Labels: none

new: Added new FSx for OpenZFS module
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/ephemeral-container-storage.md
Labels: content/fundamentals

new: Added new FSx for OpenZFS module
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
Labels: content/fundamentals

fixing forma
  website/docs/troubleshooting/cni/cni_fix_1.md
Labels: none
