Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Fix CAS lab
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/cleanup.sh
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
Labels: none

Use AL2023
  manifests/modules/aiml/chatbot/nodepool/nodepool-trn1.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/inferentia/nodepool/nodepool.yaml
  website/docs/fundamentals/managed-node-groups/basics/index.md
  website/docs/fundamentals/managed-node-groups/basics/upgrades/index.md
  website/docs/fundamentals/managed-node-groups/graviton/configuring-graviton.md
Labels: content/fundamentals

Add preview publish workflow
  .github/workflows/publish-preview.yaml
  hack/publish-content.sh
Labels: none

Add preview site to README
  README.md
Labels: none

Made updates to address review comments
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
  website/docs/fundamentals/storage/efs/efs-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/deployment-with-fsxn.md
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
Labels: content/fundamentals

Fix ingress lab
  manifests/modules/exposing/ingress/multiple-ingress/ingress-catalog.yaml
  website/docs/fundamentals/exposing/ingress/adding-ingress.md
  website/docs/fundamentals/exposing/ingress/multiple-ingress.md
  website/docs/fundamentals/exposing/ingress/tests/hook-multiple-ingress.sh
Labels: content/fundamentals

Add sudo in dev container
  lab/Dockerfile
Labels: none

Fix S3 mountpoint lab
  website/docs/fundamentals/storage/mountpoint-s3/deployment-with-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/mountpoint-s3-csi-driver.md
Labels: content/fundamentals

Remove rabbitmq, fix IDE screenshots
  manifests/base-application/kustomization.yaml
  manifests/base-application/orders/configMap.yaml
  manifests/base-application/rabbitmq/kustomization.yaml
  manifests/base-application/rabbitmq/namespace.yaml
  manifests/base-application/rabbitmq/secret.yaml
  manifests/base-application/rabbitmq/service.yaml
  manifests/base-application/rabbitmq/statefulset.yaml
  package.json
  website/docs/automation/gitops/argocd/deploy_application.md
  website/docs/fundamentals/exposing/loadbalancer/introduction.md
  website/docs/introduction/getting-started/assets/cloud9-files-base.webp
  website/docs/introduction/getting-started/assets/cloud9-files-initial.webp
  website/docs/introduction/getting-started/assets/cloud9-files-modules.webp
  website/docs/introduction/getting-started/assets/cloud9-files.webp
  website/docs/introduction/getting-started/assets/ide-base.webp
  website/docs/introduction/getting-started/assets/ide-initial.webp
  website/docs/introduction/getting-started/assets/ide-modules.webp
  website/docs/introduction/getting-started/finish.md
  website/docs/introduction/getting-started/first.md
  website/docs/security/kyverno/reports.md
Labels: content/introduction, content/fundamentals, content/security

Explain YAML in getting started
  website/docs/introduction/getting-started/first.md
Labels: content/introduction

Fix getting started lab
  website/docs/introduction/getting-started/first.md
Labels: content/introduction

Various small upgrade fixes
  website/docs/fundamentals/exposing/ingress/adding-ingress.md
  website/docs/fundamentals/exposing/ingress/multiple-ingress.md
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
  website/docs/fundamentals/exposing/loadbalancer/ip-mode.md
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/opensearch/pod-logs.md
Labels: content/fundamentals, content/observability

Temporary fix for dark mode home page
  website/src/components/HomepageFeatures/styles.module.css
Labels: none

update: Better explain YAML files for the Storage labs (#1545)
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
  website/docs/fundamentals/storage/efs/efs-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/deployment-with-fsxn.md
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
Labels: content/fundamentals

Adding expected error handling for automated test on ALB
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

update: Various language fixes in Secrets Manager lab
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security

Fix admonition
  website/docs/security/secrets-management/secrets-manager/index.md
Labels: content/security

Fix formatting
  docs/style_guide.md
  website/docs/automation/gitops/flux/cluster_bootstrap.md
  website/docs/automation/gitops/flux/codecommit.md
  website/docs/automation/gitops/flux/deploy_application.md
  website/docs/automation/gitops/flux/index.md
  website/docs/security/cluster-access-management/associating-policies.md
  website/docs/security/cluster-access-management/index.md
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
  website/docs/security/cluster-access-management/understanding.md
  website/docs/security/iam-roles-for-service-accounts/index.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security

update: Various language fixes for Secrets Manager lab
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security

Added Q CLI labs
  manifests/modules/aiml/q-cli/.workshop/cleanup.sh
  manifests/modules/aiml/q-cli/.workshop/terraform/main.tf
  manifests/modules/aiml/q-cli/.workshop/terraform/outputs.tf
  manifests/modules/aiml/q-cli/.workshop/terraform/vars.tf
  manifests/modules/aiml/q-cli/setup/eks-mcp.json
  manifests/modules/aiml/q-cli/troubleshoot/failing-pod.yaml
  website/docs/aiml/index.md
  website/docs/aiml/q-cli/assets/list-mcp-tools.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-1.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-2.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-3.jpg
  website/docs/aiml/q-cli/index.md
  website/docs/aiml/q-cli/q-cli-setup.md
  website/docs/aiml/q-cli/retrieve-cluster-details.md
  website/docs/aiml/q-cli/troubleshoot-cluster-issues.md
Labels: none

Consistent console output
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security

Fix flux lab
  website/docs/automation/gitops/flux/cluster_bootstrap.md
  website/docs/automation/gitops/flux/deploy_application.md
Labels: none

Fix LB lab
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
Labels: content/fundamentals

Fix orders database service name
  website/docs/fundamentals/exposing/loadbalancer/introduction.md
  website/docs/introduction/getting-started/finish.md
  website/docs/troubleshooting/dns/4-check-vpc.md
Labels: content/introduction, content/fundamentals

update: Various language fixes for Secrets Manager lab (#1547)
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security

fix: Adding reload after permissions fix for Troubleshooting ALB scenario (#1548)
  lab/iam/policies/troubleshoot.yaml
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

update: Various fixes to account setup procedure
  cluster/eksctl/cluster.yaml
  website/docs/introduction/setup/aws-event.md
  website/docs/introduction/setup/index.md
  website/docs/introduction/setup/your-account/cleanup.md
  website/docs/introduction/setup/your-account/index.md
  website/docs/introduction/setup/your-account/using-eksctl.md
  website/docs/introduction/setup/your-account/using-terraform.md
  website/src/remark/include-yaml.js
Labels: content/introduction

Added vars.tf and minor verbiage changes
  manifests/modules/aiml/q-cli/.workshop/terraform/vars.tf
  website/docs/aiml/q-cli/q-cli-setup.md
Labels: none

Added force unlock script
  lab/bin/force-unlock
Labels: none

Style guide updates
  docs/style_guide.md
Labels: none

Updated screenshots and added more instructions
  website/docs/aiml/q-cli/assets/q-cli-response-1-5.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-1.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-2.jpg
  website/docs/aiml/q-cli/retrieve-cluster-details.md
Labels: none

Update .mergify.yml
  .mergify.yml
Labels: none

Fixing issue ec2 ami not found during environment provisioning for troubleshooting module pod scenario
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
Labels: none

Updating retail-store-sample-ui app to 1.0.0
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_image.yaml
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/pod/public_image.md
Labels: none

chore: Added auto review workflow
  .github/workflows/auto-review.yaml
  .toolkit-mdrc
  package.json
  yarn.lock
Labels: none

Fix inaccurate index page for pod identity
  website/docs/security/amazon-eks-pod-identity/index.md
Labels: content/security

update: Various fixes to account setup procedure (#1549)
  cluster/eksctl/cluster.yaml
  website/docs/introduction/setup/aws-event.md
  website/docs/introduction/setup/index.md
  website/docs/introduction/setup/your-account/cleanup.md
  website/docs/introduction/setup/your-account/index.md
  website/docs/introduction/setup/your-account/using-eksctl.md
  website/docs/introduction/setup/your-account/using-terraform.md
  website/src/remark/include-yaml.js
Labels: content/introduction

[create-pull-request] automated change
  website/docs/security/amazon-eks-pod-identity/index.md
  website/docs/security/amazon-eks-pod-identity/introduction.md
  website/docs/security/amazon-eks-pod-identity/understanding.md
  website/docs/security/amazon-eks-pod-identity/use-pod-identity.md
  website/docs/security/amazon-eks-pod-identity/verifying-dynamo.md
Labels: content/security

fix: Troubleshooting - Updates for 1.33 and sample app v1 (#1553)
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_image.yaml
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/pod/public_image.md
Labels: none

Fix Karpenter consolidation logging
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
