Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Updating changed files
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/compiler/compiler.yaml
  manifests/modules/aiml/inferentia/compiler/trace.py
  manifests/modules/aiml/inferentia/inference/inference.py
  manifests/modules/aiml/inferentia/inference/inference.yaml
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/index.md
  website/docs/aiml/inferentia/inference.md
Labels: none

Fix typo.
  website/docs/observability/oss/metrics-logs-traces/application-traces.md
Labels: content/observability

Require intro update for consistency, fixed spelling in file name
  website/docs/aiml/deploy-monitor-genai-model/deploy-prerequisite.md
  website/docs/aiml/deploy-monitor-genai-model/index.md
Labels: none

Update cluster.yaml
  cluster/eksctl/cluster.yaml
Labels: none

fixed az failure, added autotesting, added outputs to bash
  cluster/eksctl/cluster.yaml
  manifests/modules/observability/resiliency/.workshop/cleanup.sh
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/observability/resiliency/.workshop/terraform/vars.tf
  manifests/modules/observability/resiliency/high-availability/config/kustomization.yaml
  manifests/modules/observability/resiliency/high-availability/config/scale_and_affinity_patch.yaml
  manifests/modules/observability/resiliency/scripts/AZ-verify-clusters.sh
  manifests/modules/observability/resiliency/scripts/create-blueprint.sh
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  manifests/modules/observability/resiliency/scripts/node-failure.sh
  manifests/modules/observability/resiliency/scripts/pod-failure.sh
  manifests/modules/observability/resiliency/scripts/testing.sh
  manifests/modules/observability/resiliency/scripts/verify-cluster.sh
  manifests/modules/resiliency/.workshop/cleanup.sh
  manifests/modules/resiliency/high-availability/multi_az/add_us_east_2_patch.yaml
  manifests/modules/resiliency/high-availability/multi_az/kustomization.yaml
  manifests/modules/resiliency/scripts/create-second-az.sh
  manifests/modules/resiliency/scripts/eks_workshop_canary_script.js
  manifests/modules/resiliency/scripts/multi-az-get-pods.sh
  website/docs/observability/high-availability/00-setup.md
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/high-availability/index.md
  website/docs/observability/high-availability/tests/hook-suite.sh
  website/docs/resiliency/high-availability/01-setup.md
  website/docs/resiliency/high-availability/06-az-setup.md
  website/docs/resiliency/high-availability/07-az-failure.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: content/observability

update
  manifests/modules/resiliency/.workshop/cleanup.sh
  manifests/modules/resiliency/.workshop/terraform/main.tf
  manifests/modules/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/resiliency/high-availability/multi_az/add_us_east_2_patch.yaml
  manifests/modules/resiliency/high-availability/multi_az/kustomization.yaml
  manifests/modules/resiliency/high-availability/rbac/chaos-mesh-role.yaml
  manifests/modules/resiliency/high-availability/rbac/chaos-mesh-rolebinding.yaml
  manifests/modules/resiliency/scripts/create-second-az.sh
  manifests/modules/resiliency/scripts/eks_workshop_canary_script.js
  manifests/modules/resiliency/scripts/multi-az-get-pods.sh
  manifests/modules/resiliency/scripts/verify-cluster.sh
  website/docs/resiliency/high-availability/01-setup.md
  website/docs/resiliency/high-availability/02-pod-failure.md
  website/docs/resiliency/high-availability/03-node-failure-no-fis.md
  website/docs/resiliency/high-availability/04-node-failure-partial-fis.md
  website/docs/resiliency/high-availability/05-node-failure-complete-fis.md
  website/docs/resiliency/high-availability/06-az-failure.md
  website/docs/resiliency/high-availability/06-az-setup.md
  website/docs/resiliency/high-availability/07-az-failure.md
  website/docs/resiliency/high-availability/index.md
  website/docs/resiliency/high-availability/tests/hook-suite.sh
  website/docs/resiliency/index.md
Labels: none

some updates based on PR input
  cluster/eksctl/cluster.yaml
  manifests/modules/observability/resiliency/high-availability/config/scale_and_affinity_patch.yaml
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  manifests/modules/observability/resiliency/scripts/pod-failure.sh
  manifests/modules/observability/resiliency/scripts/testing.sh
  manifests/modules/observability/resiliency/scripts/verify-cluster.sh
  website/docs/observability/high-availability/00-setup.md
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/high-availability/index.md
Labels: content/observability

Resiliency PR initial commit
  cluster/eksctl/cluster.yaml
  manifests/modules/resiliency/.workshop/cleanup.sh
  manifests/modules/resiliency/.workshop/terraform/main.tf
  manifests/modules/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/resiliency/.workshop/terraform/vars.tf
  manifests/modules/resiliency/high-availability/config/kustomization.yaml
  manifests/modules/resiliency/high-availability/config/scale_and_affinity_patch.yaml
  manifests/modules/resiliency/high-availability/rbac/chaos-mesh-role.yaml
  manifests/modules/resiliency/high-availability/rbac/chaos-mesh-rolebinding.yaml
  manifests/modules/resiliency/scripts/get-pods-by-az.sh
  manifests/modules/resiliency/scripts/node-failure.sh
  manifests/modules/resiliency/scripts/pod-failure.sh
  manifests/modules/resiliency/scripts/verify-cluster.sh
  website/docs/resiliency/high-availability/01-setup.md
  website/docs/resiliency/high-availability/02-pod-failure.md
  website/docs/resiliency/high-availability/03-node-failure-no-fis.md
  website/docs/resiliency/high-availability/04-node-failure-partial-fis.md
  website/docs/resiliency/high-availability/05-node-failure-complete-fis.md
  website/docs/resiliency/high-availability/06-az-failure.md
  website/docs/resiliency/high-availability/index.md
  website/docs/resiliency/index.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: none

Update cluster.yaml
  cluster/eksctl/cluster.yaml
Labels: none

update: Upgrade Karpenter lab to v1
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodeclass.yaml
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/compute/karpenter/node-provisioning.md
  website/docs/autoscaling/compute/karpenter/setup-provisioner.md
Labels: content/autoscaling

update: Upgrade Karpenter lab to v1 (#1112)
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodeclass.yaml
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/compute/karpenter/node-provisioning.md
  website/docs/autoscaling/compute/karpenter/setup-provisioner.md
Labels: content/autoscaling

AZ reblancing changes
  manifests/modules/observability/resiliency/high-availability/config/scale_and_affinity_patch.yaml
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/high-availability/index.md
Labels: content/observability

update: Better explain load balancer and ingress YAML
  website/docs/fundamentals/exposing/ingress/adding-ingress.md
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
Labels: content/fundamentals

Fixed Karpenter
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
  manifests/modules/aiml/inferentia/compiler/trace.py
  manifests/modules/aiml/inferentia/nodepool/nodepool.yaml
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/inference.md
  website/docs/aiml/inferentia/karpenter.md
Labels: none

Add EKS Cluster Upgrades workshop
  website/docs/fundamentals/cluster-upgrades/index.md
Labels: content/fundamentals

Fixing clean up file
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
Labels: none

update: Better explain load balancer and ingress YAML (#1115)
  website/docs/fundamentals/exposing/ingress/adding-ingress.md
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
Labels: content/fundamentals

fixing pre-commit
  manifests/modules/aiml/inferentia/compiler/compiler.yaml
Labels: none

fix: Skip testing node watch
  website/docs/fundamentals/managed-node-groups/basics/adding-nodes/index.md
Labels: content/fundamentals

Add EKS Cluster Upgrades workshop
  website/docs/fundamentals/cluster-upgrades/index.md
Labels: content/fundamentals

add explore badge and link
  website/docs/fundamentals/cluster-upgrades/index.md
  website/src/css/custom.scss
  website/src/theme/DocSidebarItem/Category/index.js
  website/src/theme/DocSidebarItem/Link/index.js
Labels: content/fundamentals

referrer is ok
  website/src/theme/DocSidebarItem/Link/index.js
Labels: none

formatting changes
  website/docs/fundamentals/cluster-upgrades/index.md
  website/src/theme/DocSidebarItem/Link/index.js
Labels: content/fundamentals

add docs
  docs/style_guide.md
Labels: none

Fixed pre-commit
  manifests/modules/aiml/inferentia/compiler/compiler.yaml
  manifests/modules/aiml/inferentia/inference/inference.yaml
  manifests/modules/aiml/inferentia/nodepool/nodepool.yaml
  website/docs/aiml/inferentia/index.md
Labels: none

Fixing nodemodule file
  website/docs/aiml/inferentia/karpenter.md
Labels: none

increase-timeout
  website/docs/aiml/chatbot/add-llama2.md
Labels: none

feat: EKS Upgrades link-out with new "Explore" badge (#1116)
  docs/style_guide.md
  website/docs/fundamentals/cluster-upgrades/index.md
  website/src/css/custom.scss
  website/src/theme/DocSidebarItem/Category/index.js
  website/src/theme/DocSidebarItem/Link/index.js
Labels: content/fundamentals

Removed identity mapping
  website/docs/aiml/inferentia/karpenter.md
Labels: none

Moved env var
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/inference.md
Labels: none

Missing instruction
  website/docs/aiml/inferentia/inference.md
Labels: none

Changed trn2 to trn1 typo
  website/docs/aiml/inferentia/compile.md
Labels: none

fix: Resolve instability with SG for Pods lab cleanup
  manifests/modules/networking/securitygroups-for-pods/.workshop/cleanup.sh
Labels: none

fix: Resolve instability with SG for Pods lab cleanup (#1117)
  manifests/modules/networking/securitygroups-for-pods/.workshop/cleanup.sh
Labels: none

fix: Improve reliability of custom networking cleanup
  manifests/modules/networking/custom-networking/.workshop/cleanup.sh
Labels: none

fix: Improve reliability of custom networking cleanup (#1118)
  manifests/modules/networking/custom-networking/.workshop/cleanup.sh
Labels: none

Fix release workflow
  .github/workflows/release.yaml
Labels: none

Enable dispatch on release workflow
  .github/workflows/release.yaml
Labels: none

fix grammar to avoid confusion
  website/docs/introduction/helm/index.md
Labels: content/introduction

Adding how it is an observability strategy with opensearch
  website/docs/observability/opensearch/index.md
Labels: content/observability
