Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Kubernetes basics content update
  manifests/modules/introduction/basics/configmaps/.workshop/cleanup.sh
  manifests/modules/introduction/basics/configmaps/kustomization.yaml
  manifests/modules/introduction/basics/configmaps/ui-pod-with-config.yaml
  manifests/modules/introduction/basics/daemonsets/.workshop/cleanup.sh
  manifests/modules/introduction/basics/daemonsets/log-collector.yaml
  manifests/modules/introduction/basics/jobs/.workshop/cleanup.sh
  manifests/modules/introduction/basics/jobs/.workshop/manifests/kustomization.yaml
  manifests/modules/introduction/basics/jobs/backup-cronjob.yaml
  manifests/modules/introduction/basics/jobs/migration-job.yaml
  manifests/modules/introduction/basics/namespaces/.workshop/cleanup.sh
  manifests/modules/introduction/basics/namespaces/namespace.yaml
  manifests/modules/introduction/basics/pods/.workshop/cleanup.sh
  manifests/modules/introduction/basics/pods/.workshop/manifests/kustomization.yaml
  manifests/modules/introduction/basics/pods/.workshop/manifests/namespace.yaml
  manifests/modules/introduction/basics/pods/ui-pod.yaml
  manifests/modules/introduction/basics/secrets/.workshop/cleanup.sh
  manifests/modules/introduction/basics/secrets/.workshop/terraform/main.tf
  manifests/modules/introduction/basics/secrets/.workshop/terraform/outputs.tf
  manifests/modules/introduction/basics/secrets/.workshop/terraform/vars.tf
  manifests/modules/introduction/basics/secrets/catalog-pod-with-secret.yaml
  manifests/modules/introduction/basics/secrets/kustomization.yaml
  manifests/modules/introduction/basics/services/deployment.yaml
  manifests/modules/introduction/basics/services/kustomization.yaml
  manifests/modules/introduction/basics/statefulsets/.workshop/cleanup.sh
  website/docs/introduction/basics/configuration/configmaps/index.md
  website/docs/introduction/basics/configuration/index.md
  website/docs/introduction/basics/configuration/secrets/index.md
  website/docs/introduction/basics/services/index.md
  yarn.lock
Labels: content/introduction

Fix k8s basics services test
  website/docs/introduction/basics/services/index.md
  website/docs/introduction/basics/services/tests/hook-ready.sh
  website/docs/introduction/basics/services/tests/hook-replicas.sh
Labels: content/introduction

K8s basics content updates
  manifests/modules/introduction/basics/jobs/backup-cronjob.yaml
  manifests/modules/introduction/basics/jobs/catalog-cleanup.yaml
  manifests/modules/introduction/basics/jobs/data-processing-job.yaml
  manifests/modules/introduction/basics/jobs/migration-job.yaml
  manifests/modules/introduction/basics/secrets/.workshop/terraform/main.tf
  manifests/modules/introduction/basics/secrets/.workshop/terraform/outputs.tf
  manifests/modules/introduction/basics/secrets/.workshop/terraform/vars.tf
  manifests/modules/introduction/basics/secrets/catalog-pod-with-secret.yaml
  manifests/modules/introduction/basics/services/.workshop/cleanup.sh
  manifests/modules/introduction/basics/services/.workshop/manifests/kustomization.yaml
  website/docs/introduction/basics/configuration/configmaps/index.md
  website/docs/introduction/basics/configuration/configmaps/tests/hook-ready.sh
  website/docs/introduction/basics/configuration/secrets/index.md
  website/docs/introduction/basics/configuration/secrets/tests/hook-ready.sh
  website/docs/introduction/basics/namespaces/index.md
  website/docs/introduction/basics/pods/index.md
  website/docs/introduction/basics/pods/tests/hook-ready.sh
  website/docs/introduction/basics/workload-management/daemonsets.md
  website/docs/introduction/basics/workload-management/deployments.md
  website/docs/introduction/basics/workload-management/jobs.md
  website/docs/introduction/basics/workload-management/statefulsets.md
Labels: content/introduction

K8s basics content updates
  manifests/modules/introduction/basics/configmaps/.workshop/cleanup.sh
  manifests/modules/introduction/basics/daemonsets/.workshop/cleanup.sh
  manifests/modules/introduction/basics/jobs/.workshop/cleanup.sh
  manifests/modules/introduction/basics/namespaces/.workshop/cleanup.sh
  manifests/modules/introduction/basics/pods/.workshop/cleanup.sh
  manifests/modules/introduction/basics/secrets/.workshop/cleanup.sh
  manifests/modules/introduction/basics/services/.workshop/cleanup.sh
  manifests/modules/introduction/basics/statefulsets/.workshop/cleanup.sh
Labels: none

K8s basics content updates
  website/docs/introduction/basics/configuration/secrets/index.md
  website/docs/introduction/basics/configuration/secrets/tests/hook-ready.sh
  website/docs/introduction/basics/pods/tests/hook-ready.sh
  website/docs/introduction/basics/workload-management/jobs.md
  website/docs/introduction/basics/workload-management/tests/hook-cronjob-first-run.sh
Labels: content/introduction

fix page order
  website/docs/introduction/helm/index.md
  website/docs/introduction/kustomize/index.md
Labels: content/introduction

add test durations
  website/test-durations.json
Labels: none

fix broken links
  website/docs/introduction/basics/configuration/secrets/index.md
  website/docs/introduction/getting-started/index.md
Labels: content/introduction

Revert ec2-instance-selector version
  lab/scripts/installer.sh
Labels: none

update dependencies
  yarn.lock
Labels: none

chore: Make sure netlify build uses yarn immutable
  website/netlify-build.sh
Labels: none

Remove docusaurus dependencies from root package.json
  package.json
  yarn.lock
Labels: none

sync yarn.lock with main
  yarn.lock
Labels: none

Update yarn.lock
  yarn.lock
Labels: none

chore: Make sure netlify build uses yarn immutable (#1659)
  package.json
  website/netlify-build.sh
  yarn.lock
Labels: none

Update installer.sh
  lab/scripts/installer.sh
Labels: none

Update translations
  website/docs/observability/high-availability/01-scale.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/aiml/chatbot/assets/chat-bot.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/aiml/chatbot/assets/home-chat.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/aiml/inferentia/karpenter.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/compute/fargate/assets/fargate.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/compute/karpenter/assets/karpenter-diagram.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/compute/managed-node-groups/assets/managed-node-groups.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/compute/managed-node-groups/basics/assets/added-nodes.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/compute/managed-node-groups/graviton/assets/eks-graviton.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/compute/managed-node-groups/graviton/assets/instance-type-name.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/compute/managed-node-groups/spot/assets/managed-spot-arch.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/fargate/enabling.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/fargate/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/fargate/scaling.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/fargate/scheduling.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/fargate/sizing.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/_category_.json
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/basics/adding-nodes/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/basics/affinity/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/basics/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/basics/upgrades/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/graviton/assets/eks-graviton.drawio
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/graviton/configuring-graviton.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/graviton/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/graviton/scheduling-graviton.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/spot/create-spot-capacity.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/spot/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/spot/instance-diversification.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/managed-node-groups/spot/spot-workload.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/workloads/cluster-proportional-autoscaler/assets/cpa.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/fundamentals/workloads/horizontal-pod-autoscaler/assets/hpa.webp
  website/i18n/ja/docusaurus-plugin-content-docs/current/observability/high-availability/01-scale.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/observability/resource-view/workloads-view/policy_view.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/troubleshooting/workernodes/index.md
Labels: content/observability

Use cwd for time estimate component
  website/src/remark/time.js
Labels: none

Fix path
  website/docs/troubleshooting/workernodes/index.md
Labels: none

Use cwd for time estimate component
  website/src/remark/time.js
Labels: none

Disable timings
  website/docusaurus.config.js
Labels: none

Bump code-server version
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

Hide CodePipeline lab until issues are resolved
  website/docusaurus.config.js
Labels: none

Use Bitnami Legacy events exporter image
  manifests/modules/observability/opensearch/config/events-exporter-values.yaml
Labels: none

Sync translations
  website/i18n/ja/docusaurus-plugin-content-docs/current/automation/controlplanes/ack/provision-resources.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/automation/controlplanes/crossplane/compositions/claims.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/automation/controlplanes/crossplane/compositions/creating-a-composition.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/automation/controlplanes/crossplane/resources.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/automation/gitops/argocd/app-of-apps/setup.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/automation/gitops/argocd/deploy_application.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/automation/gitops/argocd/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/automation/gitops/flux/gitea.md
Labels: none

Fix locale dropdown CSS
  website/src/css/custom.scss
Labels: none

Add EKS Auto Mode learning paths with improved navigation and UI
  cluster/terraform-auto/main.tf
  website/docs/_partials/setup/aws-event-setup.mdx
  website/docs/_partials/setup/ide-cleanup.mdx
  website/docs/_partials/setup/ide-setup.mdx
  website/docs/fastpaths/_category_.json
  website/docs/fastpaths/developer/index.md
  website/docs/fastpaths/operator/index.md
  website/docs/fastpaths/setup/aws-event.md
  website/docs/fastpaths/setup/index.md
  website/docs/fastpaths/setup/self-paced.md
  website/docs/introduction/setup/aws-event.md
  website/docs/introduction/setup/your-account/cleanup.md
  website/docs/introduction/setup/your-account/index.md
  website/docusaurus.config.js
  website/src/components/GlobalNotification/styles.module.css
  website/src/components/HomepageFeatures/styles.module.css
  website/src/components/SecondaryNav/index.js
  website/src/components/SecondaryNav/styles.module.css
  website/src/css/custom.scss
  website/src/pages/index.js
  website/src/pages/index.module.css
  website/src/theme/Navbar/Content/index.js
  website/src/theme/Navbar/index.js
  website/test-durations.json
Labels: content/introduction

consolidate labs
  manifests/modules/introduction/basics/.workshop/cleanup.sh
  manifests/modules/introduction/basics/configmaps/.workshop/cleanup.sh
  manifests/modules/introduction/basics/daemonsets/.workshop/cleanup.sh
  manifests/modules/introduction/basics/jobs/.workshop/cleanup.sh
  manifests/modules/introduction/basics/jobs/.workshop/manifests/kustomization.yaml
  manifests/modules/introduction/basics/namespaces/.workshop/cleanup.sh
  manifests/modules/introduction/basics/pods/.workshop/cleanup.sh
  manifests/modules/introduction/basics/pods/.workshop/manifests/kustomization.yaml
  manifests/modules/introduction/basics/pods/.workshop/manifests/namespace.yaml
  manifests/modules/introduction/basics/secrets/.workshop/cleanup.sh
  manifests/modules/introduction/basics/services/.workshop/cleanup.sh
  manifests/modules/introduction/basics/services/.workshop/manifests/kustomization.yaml
  manifests/modules/introduction/basics/statefulsets/.workshop/cleanup.sh
  website/docs/introduction/basics/configuration/configmaps/index.md
  website/docs/introduction/basics/configuration/configmaps/tests/hook-ready.sh
  website/docs/introduction/basics/configuration/secrets/index.md
  website/docs/introduction/basics/configuration/secrets/tests/hook-ready.sh
  website/docs/introduction/basics/index.md
  website/docs/introduction/basics/namespaces/index.md
  website/docs/introduction/basics/pods/index.md
  website/docs/introduction/basics/pods/tests/hook-ready.sh
  website/docs/introduction/basics/services/index.md
  website/docs/introduction/basics/services/tests/hook-ready.sh
  website/docs/introduction/basics/services/tests/hook-replicas.sh
  website/docs/introduction/basics/workload-management/daemonsets.md
  website/docs/introduction/basics/workload-management/deployments.md
  website/docs/introduction/basics/workload-management/jobs.md
  website/docs/introduction/basics/workload-management/statefulsets.md
  website/docs/introduction/basics/workload-management/tests/hook-cronjob-first-run.sh
  website/docs/introduction/getting-started/index.md
  website/test-durations.json
Labels: content/introduction

kro lab initial commit
  manifests/modules/automation/controlplanes/kro/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/kro/.workshop/manifests/kustomization.yaml
  manifests/modules/automation/controlplanes/kro/.workshop/manifests/nlb.yaml
  manifests/modules/automation/controlplanes/kro/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/kro/.workshop/terraform/outputs.tf
  manifests/modules/automation/controlplanes/kro/.workshop/terraform/templates/nlb.yaml
  manifests/modules/automation/controlplanes/kro/.workshop/terraform/vars.tf
  manifests/modules/automation/controlplanes/kro/app/carts-ddb.yaml
  manifests/modules/automation/controlplanes/kro/app/carts.yaml
  manifests/modules/automation/controlplanes/kro/app/kustomization.yaml
  manifests/modules/automation/controlplanes/kro/rgds/webapp-dynamodb-rgd.yaml
  manifests/modules/automation/controlplanes/kro/rgds/webapp-rgd.yaml
  website/docs/automation/controlplanes/kro/cloud-dynamodb.md
  website/docs/automation/controlplanes/kro/index.md
  website/docs/automation/controlplanes/kro/introduction.md
  website/docs/automation/controlplanes/kro/provision-resources.md
Labels: none

removing comments
  manifests/modules/automation/controlplanes/kro/rgds/webapp-dynamodb-rgd.yaml
Labels: none

Use eksctl for consistency
  cluster/eksctl/cluster-auto.yaml
  cluster/terraform-auto/main.tf
  hack/create-infrastructure.sh
  hack/destroy-infrastructure.sh
  hack/lib/common-env.sh
  lab/scripts/setup.sh
Labels: none

Trying parallel
  hack/create-infrastructure.sh
  hack/destroy-infrastructure.sh
Labels: none

Added auto mode cluster a bit more
  lab/scripts/setup.sh
Labels: none

Reset context to EKS_CLUSTER
  hack/exec.sh
  hack/shell.sh
Labels: none

Operator Fast Path Changes - Added Karpenter - Network Policies - Automation for Secrets Manager
  cluster/terraform-auto/fluent-bit.tf
  cluster/terraform-auto/main.tf
  cluster/terraform-auto/providers.tf
  cluster/terraform-auto/secrets-manager.tf
  website/docs/fastpaths/operator/karpenter/configure.md
  website/docs/fastpaths/operator/karpenter/index.md
  website/docs/fastpaths/operator/network-policies/index.md
  website/docs/fastpaths/operator/secrets-manager/index.md
Labels: none

Pass the right variable in exec
  hack/exec.sh
Labels: none

Run in parallel
  hack/create-infrastructure.sh
Labels: none

Move to reset with both cluster
  lab/bin/reset-environment
  lab/scripts/setup.sh
Labels: none

Operator Fast Path: Karpenter module changes
  manifests/modules/autoscaling/compute/karpenter/automode/scale/deployment.yaml
  manifests/modules/autoscaling/compute/karpenter/automode/scale/kustomization.yaml
  website/docs/fastpaths/operator/karpenter/consolidation.md
  website/docs/fastpaths/operator/karpenter/further.md
  website/docs/fastpaths/operator/karpenter/node-provisioning.md
  website/docs/fastpaths/operator/karpenter/setup-provisioner.md
  website/docs/fastpaths/operator/secrets-manager/ascp.md
Labels: none

Operator Fast Path: Network policy setup
  website/docs/fastpaths/operator/network-policies/setup.md
Labels: none
