Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

update: Various Secrets Manager language fixes (#1159)
  docs/authoring_content.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security

Update 20-introduction-to-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/20-introduction-to-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

Update 30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

Various fixes to bring lab in line with rest of the workshop
  lab/iam/policies/iam.yaml
  lab/iam/policies/labs1.yaml
  manifests/.workshop/terraform/base.tf
  manifests/manifests
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/cleanup.sh
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/terraform/main.tf
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/terraform/nvidia-dcgm-exporter-dashboard.json
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/terraform/output.tf
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/terraform/vars.tf
  website/docs/aiml/deploy-monitor-genai-model/deploy-prerequisite.md
Labels: none

Fix describe permissions
  lab/iam/policies/labs1.yaml
Labels: none

Split AIML test jobs due to time taken
  .github/workflows/test-aiml.yaml
Labels: none

remove trailing space
  website/docs/observability/high-availability/03-node-failure-no-fis.md
Labels: content/observability

fix: Resiliency changes testing changes (#1149)
  lab/iam/policies/iam.yaml
  manifests/modules/observability/resiliency/.workshop/cleanup.sh
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
Labels: content/observability

Add content label to renovate PRs
  renovate.json
Labels: none

Update authoring_content.md
  docs/authoring_content.md
Labels: none

Split observability test workflow
  .github/workflows/test-observability.yaml
Labels: none

fix: No empty line at end of terminal copy
  website/src/components/Terminal/index.tsx
Labels: none

fix: No empty line at end of terminal copy (#1167)
  website/src/components/Terminal/index.tsx
Labels: none

Remove HA test for now
  .github/workflows/test-observability.yaml
Labels: none

chore: Removed Cloud9 from documentation
  website/docs/introduction/navigating-labs.md
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

chore: Removed Cloud9 from documentation (#1170)
  website/docs/introduction/navigating-labs.md
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

Temporarily disable auto-approval
  .mergify.yml
Labels: none

Fix typo in ingress lab
  website/docs/fundamentals/exposing/ingress/multiple-ingress.md
Labels: content/fundamentals

update: Various language fixes to EFS lab
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
  website/docs/fundamentals/storage/efs/deployments.md
  website/docs/fundamentals/storage/efs/efs-csi-driver.md
  website/docs/fundamentals/storage/efs/index.md
Labels: content/fundamentals

update: Various language fixes to EFS lab (#1173)
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
  website/docs/fundamentals/storage/efs/deployments.md
  website/docs/fundamentals/storage/efs/efs-csi-driver.md
  website/docs/fundamentals/storage/efs/index.md
Labels: content/fundamentals

Better format output from update-ide command
  lab/bin/update-ide
Labels: none

Remove Cloud9 tab from navigating page
  website/docs/introduction/navigating-labs.md
Labels: content/introduction

initial creation of the branch
  manifests/modules/troubleshooting/cni/.workshop/cleanup.sh
  manifests/modules/troubleshooting/cni/.workshop/ssm.sh
  manifests/modules/troubleshooting/cni/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/cni/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/cni/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/cni/workload/deployment.yaml
  manifests/modules/troubleshooting/cni/workload/kustomization.yaml
  website/docs/troubleshooting/cni/cni_fix_1.md
  website/docs/troubleshooting/cni/cni_fix_5.md
  website/docs/troubleshooting/cni/cni_fix_9.md
  website/docs/troubleshooting/cni/index.md
  website/docs/troubleshooting/cni/ssm.sh
  website/docs/troubleshooting/cni/tests/hook-fix-1.sh
  website/docs/troubleshooting/cni/tests/hook-fix-5.sh
  website/docs/troubleshooting/cni/tests/hook-fix-9.sh
  website/docs/troubleshooting/cni/tests/hook-suite.sh
Labels: none

Updated Markdown for 'mountpoint for s3' module to pass automated tests
  website/docs/fundamentals/storage/mountpoint-s3/10-ephemeral-container-storage.md
  website/docs/fundamentals/storage/mountpoint-s3/20-introduction-to-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

fixed linting
  manifests/modules/troubleshooting/cni/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/cni/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/cni/workload/deployment.yaml
  website/docs/troubleshooting/cni/cni_fix_1.md
  website/docs/troubleshooting/cni/cni_fix_5.md
  website/docs/troubleshooting/cni/cni_fix_9.md
  website/docs/troubleshooting/cni/index.md
Labels: none

Removed unnecessary files
  manifests/modules/fundamentals/storage/s3/README.md
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/alfaromeo.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/bmw.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/dodge.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/ford.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/hyundai.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/lamborghini.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/landrover.jpg
  website/docs/fundamentals/storage/mountpoint-s3/assets/carpack/maserati.jpg
Labels: content/fundamentals

Making changes to fix PR issues
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/outputs.tf
Labels: none

Ran prettier on index.md in lab
  website/docs/fundamentals/storage/mountpoint-s3/index.md
Labels: content/fundamentals

Fix Karpenter module version constraint
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
Labels: none

added hook scripts
  website/docs/troubleshooting/pod/image_pull_1.md
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/pod_stuck.md
  website/docs/troubleshooting/pod/tests/hook-fix-1.sh
  website/docs/troubleshooting/pod/tests/hook-fix-2.sh
  website/docs/troubleshooting/pod/tests/hook-fix-3.sh
  website/docs/troubleshooting/pod/tests/hook-suite.sh
  website/test-durations.json
Labels: none

Fixing spelling errors and Terraform validation errors
  .spelling
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/outputs.tf
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

fixed pre-commit errors
  manifests/modules/troubleshooting/pod/crash/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/image/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/image/deployment.yaml
  manifests/modules/troubleshooting/pod/permissions/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/vars.tf
  website/docs/troubleshooting/pod/image_pull_1.md
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/pod/pod_stuck.md
  website/test-durations.json
Labels: none

Added Intro page, edited index page, ack terraform, outpues.
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/outputs.tf
  website/docs/automation/controlplanes/ack/index.md
  website/docs/automation/controlplanes/ack/introduction.md
Labels: none

modified clean-up logic and fix resource provisioning
  manifests/modules/troubleshooting/cni/.workshop/cleanup.sh
  manifests/modules/troubleshooting/cni/.workshop/terraform/main.tf
Labels: none

fixed pre-commit errors
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/main.tf
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/pod_stuck.md
Labels: none

fix pod crash
  website/docs/troubleshooting/pod/pod_stuck.md
Labels: none

Edied Intro and how does it work page
  website/docs/automation/controlplanes/ack/how-it-works.md
  website/docs/automation/controlplanes/ack/introduction.md
Labels: none

edited typo
  website/docs/automation/controlplanes/ack/introduction.md
Labels: none

edited spelling
  website/docs/automation/controlplanes/ack/index.md
Labels: none

fixed the readme content
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/pod_stuck.md
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
