Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Unused content
  website/docs/misc/major-upgrade.md
  website/docs/misc/migrating.md
Labels: none

[Fix] Remove Unused content to fix broken links (#1189)
  website/docs/misc/major-upgrade.md
  website/docs/misc/migrating.md
Labels: none

Streamline login experience
  website/docs/introduction/setup/index.md
  website/src/pages/index.js
Labels: content/introduction

Tweak flow for reinvent (#1190)
  website/docs/introduction/setup/index.md
  website/src/pages/index.js
Labels: content/introduction

Error if credentials set in terminal
  lab/bin/reset-environment
Labels: none

Update access-code for RIV
  website/docs/introduction/setup/index.md
Labels: content/introduction

Re-enable mergify
  .mergify.yml
Labels: none

fix: replace deprecated argon-cli npm package with argon2 (#1184)
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

chore: Use root package.json
  .github/workflows/pr.yaml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  Makefile
  hack/lib/common-env.sh
  hack/publish-content.sh
  hack/publish-snapshot.sh
  hack/serve.sh
  package.json
  website/package.json
  yarn.lock
Labels: none

Add precommit hook
  .pre-commit-config.yaml
Labels: none

Fix actions precommit
  .github/workflows/pr.yaml
Labels: none

Move all actions workflows to node 20
  .github/workflows/publish-content.yaml
  .github/workflows/publish-snapshot.yaml
  .github/workflows/release.yaml
Labels: none

Fix netlify preview
  netlify.toml
  website/netlify-build.sh
Labels: none

Fix netlify preview
  netlify.toml
Labels: none

Fix netlify preview
  website/netlify-build.sh
Labels: none

Pin markdown-link-check
  package.json
Labels: none

Add docs, fix some prettier issues
  .prettierrc
  Makefile
  docs/authoring_content.md
  website/src/theme/DocSidebarItem/Category/index.js
  yarn.lock
Labels: none

Ignore old lock file
  .gitignore
Labels: none

Delete old lock file
  .gitignore
Labels: none

Delete old lock file
  website/package-lock.json
Labels: none

Ignore old lock file
  .gitignore
Labels: none

chore: Establish root package.json file (#1192)
  .github/workflows/pr.yaml
  .github/workflows/publish-content.yaml
  .github/workflows/publish-snapshot.yaml
  .github/workflows/release.yaml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  Makefile
  docs/authoring_content.md
  hack/lib/common-env.sh
  hack/publish-content.sh
  hack/publish-snapshot.sh
  hack/serve.sh
  netlify.toml
  package.json
  website/netlify-build.sh
  website/package-lock.json
  website/package.json
  website/src/theme/DocSidebarItem/Category/index.js
  yarn.lock
Labels: none

chore: Update EKS blueprints addons TF module to v1.19
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/hpa/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
  manifests/modules/exposing/load-balancer/.workshop/terraform/main.tf
  manifests/modules/networking/network-policies/.workshop/terraform/main.tf
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/security/eks-pod-identity/.workshop/terraform/main.tf
  manifests/modules/security/irsa/.workshop/terraform/main.tf
Labels: none

chore: Update EKS blueprints addons TF module to v1.19 (#1193)
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/hpa/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
  manifests/modules/exposing/load-balancer/.workshop/terraform/main.tf
  manifests/modules/networking/network-policies/.workshop/terraform/main.tf
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/security/eks-pod-identity/.workshop/terraform/main.tf
  manifests/modules/security/irsa/.workshop/terraform/main.tf
Labels: none

chore: Improve fargate test reliability
  website/docs/fundamentals/fargate/tests/hook-enabling.sh
Labels: content/fundamentals

Skip tests for chatbot lab
  website/docs/aiml/chatbot/.notest
Labels: none

update: Install ACK with helm chart (#1180)
  manifests/modules/automation/controlplanes/ack/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/outputs.tf
  website/docs/automation/controlplanes/ack/how-it-works.md
  website/docs/automation/controlplanes/ack/index.md
  website/docs/automation/controlplanes/ack/introduction.md
Labels: none

Small fixes to ACK lab
  manifests/modules/automation/controlplanes/ack/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/outputs.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/vars.tf
  package.json
  website/docs/automation/controlplanes/ack/introduction.md
  website/docs/automation/controlplanes/ack/provision-resources.md
Labels: none

docs: Update authoring_content.md with fix for issue #1160 (#1162)
  docs/authoring_content.md
Labels: none

remove unnecessary use of `tr` in access-opensearch.md
  website/docs/observability/opensearch/access-opensearch.md
Labels: content/observability

Fix ACK tests
  website/docs/automation/controlplanes/ack/introduction.md
Labels: none

fix: remove unnecessary use of `tr` in access-opensearch.md (#1196)
  website/docs/observability/opensearch/access-opensearch.md
Labels: content/observability

Removed comments on s3pvclaim.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
Labels: none

Changed from region to region=
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
Labels: none

Trimmed down deployment section in 'Ephemeral Container Storage'
  website/docs/fundamentals/storage/mountpoint-s3/10-ephemeral-container-storage.md
Labels: content/fundamentals

Used YAML UI component, described PVC, and trimmed deployment information
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

Wait for NLB deletion in ACK and Crossplane labs
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/main.tf
Labels: none

Fix destroy infrastructure script to ignore delete failure
  hack/destroy-infrastructure.sh
Labels: none

Use AWS CLI instead of eksctl, general language review
  website/docs/fundamentals/storage/mountpoint-s3/10-ephemeral-container-storage.md
  website/docs/fundamentals/storage/mountpoint-s3/20-introduction-to-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

Fix formatting
  website/docs/fundamentals/storage/mountpoint-s3/20-introduction-to-mountpoint-for-amazon-s3.md
Labels: content/fundamentals
