Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Pinned all Terraform provider versions
  manifests/.workshop/terraform/base.tf
Labels: none

Remove unused workflow
  .github/workflows/e2e-dispatch.yaml
Labels: none

Pin more Terraform modules to specific versions
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/ebs/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/efs/.workshop/terraform/main.tf
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/main.tf
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/security/eks-pod-identity/.workshop/terraform/main.tf
  manifests/modules/security/irsa/.workshop/terraform/main.tf
  manifests/modules/security/secrets-manager/.workshop/terraform/main.tf
Labels: none

Update flux module to account for changes in CLI bootstrap/install
  website/docs/automation/gitops/flux/ci.md
  website/docs/automation/gitops/flux/cluster_bootstrap.md
Labels: none

update: Update flux module for 2.2.3 (#911)
  website/docs/automation/gitops/flux/ci.md
  website/docs/automation/gitops/flux/cluster_bootstrap.md
Labels: none

Check nodegroup is active before trying to reset size
  lab/bin/reset-environment
Labels: none

Pass through resources precreated flag in reset script
  lab/bin/reset-environment
Labels: none

Tweaked some text
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

update: Show output from cluster autoscaler logs (#896)
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

Fix formatter checks
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

update: Fix test explaining resources in cluster over-provisioning section (#898)
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

Remove duplication
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/index.md
Labels: content/fundamentals

fix: Remove duplicate text in FSx ONTAP introduction (#913)
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/index.md
Labels: content/fundamentals

Update using-terraform.md (#795)
  website/docs/introduction/setup/your-account/using-terraform.md
Labels: content/introduction

Added link checks for markdown, fixed broken links
  .pre-commit-config.yaml
  link-check-config.json
  website/docs/automation/gitops/argocd/access_argocd.md
  website/docs/automation/gitops/argocd/app-of-apps/index.md
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/index.md
  website/docs/introduction/setup/index.md
  website/docs/observability/logging/cluster-logging/index.md
  website/docs/observability/opensearch/control-plane-logs.md
  website/docs/observability/resource-view/index.md
  website/docs/security/amazon-eks-pod-identity/index.md
  website/docs/security/secrets-management/secrets-manager/index.md
Labels: content/introduction, content/autoscaling, content/security, content/observability

google site verification
  website/docusaurus.config.js
Labels: none

Fix logs not showing
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

Adding `prepare-environment` script
  manifests/modules/security/cam/.workshop/terraform/main.tf
  manifests/modules/security/cam/.workshop/terraform/outputs.tf
  manifests/modules/security/cam/.workshop/terraform/vars.tf
Labels: none

Adding workflow image
  website/docs/security/assets/cam-workflow.jpg
Labels: content/security

Reordering position
  website/docs/security/cluster-access-management/index.md
  website/docs/security/iam-roles-for-service-accounts/add_irsa.md
  website/docs/security/iam-roles-for-service-accounts/introduction.md
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/verifying-dynamo.md
Labels: content/security

Adding Index and Understanding
  website/docs/security/cluster-access-management/assets/cam-workflow.png
  website/docs/security/cluster-access-management/index.md
  website/docs/security/cluster-access-management/understanding.md
Labels: content/security

Adding managing section
  website/docs/security/cluster-access-management/managing.md
Labels: content/security

Adding cluster-admin section
  website/docs/security/cluster-access-management/cluster-creator.md
Labels: content/security

Adding migration section
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

Adding combining section
  website/docs/security/cluster-access-management/combining.md
Labels: content/security

Replacing accoung ID with variable
  website/docs/security/cluster-access-management/cluster-creator.md
  website/docs/security/cluster-access-management/combining.md
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

Adding cleanup script
  manifests/modules/security/cam/.workshop/cleanup.sh
Labels: none

Fix spelling
  website/docs/security/cluster-access-management/cluster-creator.md
  website/docs/security/cluster-access-management/combining.md
  website/docs/security/cluster-access-management/index.md
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

Adding cleanup scripts
  website/docs/security/cluster-access-management/managing.md
Labels: content/security

Fix indexing
  website/docs/security/cluster-access-management/combining.md
Labels: content/security

Fix spelling
  website/docs/security/cluster-access-management/migrating.md
  website/docs/security/cluster-access-management/understanding.md
Labels: content/security

Fix docusaurus config file formatting
  website/docusaurus.config.js
Labels: none

Fixing fenced blocks
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

Running pre-commit
  website/docs/security/cluster-access-management/cluster-creator.md
  website/docs/security/cluster-access-management/combining.md
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
  website/docs/security/cluster-access-management/understanding.md
Labels: content/security

Fixing table format
  website/docs/security/cluster-access-management/understanding.md
Labels: content/security

Formatting accessconfig options
  website/docs/security/cluster-access-management/managing.md
Labels: content/security

Adding note about access config migration
  website/docs/security/cluster-access-management/managing.md
Labels: content/security

Minor fixes on managing and cluster-creator files
  website/docs/security/cluster-access-management/cluster-creator.md
  website/docs/security/cluster-access-management/managing.md
Labels: content/security

Minor fixes on migrating and combining files
  website/docs/security/cluster-access-management/combining.md
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

Fix typo
  website/docs/security/cluster-access-management/managing.md
  website/docs/security/cluster-access-management/migrating.md
Labels: content/security

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
