Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Log temp directory
  hack/validate-terraform.sh
Labels: none

Remove dotenv
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: none

Better explain YAML files in Networking section
  manifests/modules/networking/network-policies/apply-network-policies/example-network-policy.yaml
  website/docs/networking/eks-hybrid-nodes/connect-hybrid-node.md
  website/docs/networking/vpc-cni/network-policies/debug.md
  website/docs/networking/vpc-cni/network-policies/egress.md
  website/docs/networking/vpc-cni/network-policies/index.md
  website/docs/networking/vpc-cni/network-policies/ingress.md
  website/docs/networking/vpc-cni/prefix/consume.md
  website/docs/networking/vpc-cni/security-groups-for-pods/add-sg.md
  website/docs/networking/vpc-lattice/configuring-routes.md
  website/docs/networking/vpc-lattice/service-network.md
Labels: content/networking

Better explain YAML files for Security Labs
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/guardduty/log-monitoring/privileged_container_mount.md
  website/docs/security/kyverno/baseline-pss.md
  website/docs/security/kyverno/creating-policy.md
  website/docs/security/kyverno/restricting-images.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
Labels: content/security

chore(deps): Update ec2-instance-selector and output
  lab/scripts/installer.sh
  website/docs/fundamentals/managed-node-groups/spot/instance-diversification.md
Labels: content/fundamentals

update: Update ec2-instance-selector version and output (#1589)
  lab/scripts/installer.sh
  website/docs/fundamentals/managed-node-groups/spot/instance-diversification.md
Labels: content/fundamentals

Making changes to address feedback comments
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/guardduty/log-monitoring/privileged_container_mount.md
  website/docs/security/kyverno/baseline-pss.md
  website/docs/security/kyverno/creating-policy.md
  website/docs/security/kyverno/restricting-images.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
Labels: content/security

Updated to address feedback comments
  website/docs/networking/vpc-cni/network-policies/index.md
Labels: content/networking

Fix embedded video player
  website/docs/automation/gitops/index.md
  website/docs/introduction/index.md
  website/docs/networking/vpc-cni/index.md
  website/docs/observability/index.md
  website/src/components/HomepageVideo/index.js
Labels: content/introduction, content/networking, content/observability

update: YAML file explanations: Networking labs (#1586)
  manifests/modules/networking/network-policies/apply-network-policies/example-network-policy.yaml
  website/docs/networking/eks-hybrid-nodes/connect-hybrid-node.md
  website/docs/networking/vpc-cni/network-policies/debug.md
  website/docs/networking/vpc-cni/network-policies/egress.md
  website/docs/networking/vpc-cni/network-policies/index.md
  website/docs/networking/vpc-cni/network-policies/ingress.md
  website/docs/networking/vpc-cni/prefix/consume.md
  website/docs/networking/vpc-cni/security-groups-for-pods/add-sg.md
  website/docs/networking/vpc-lattice/configuring-routes.md
  website/docs/networking/vpc-lattice/service-network.md
Labels: content/networking

update: YAML file explanations: Security Labs #1394 (#1588)
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/guardduty/log-monitoring/privileged_container_mount.md
  website/docs/security/kyverno/baseline-pss.md
  website/docs/security/kyverno/creating-policy.md
  website/docs/security/kyverno/restricting-images.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
Labels: content/security

Addressed various review comments by @niallthomson
  manifests/modules/aiml/q-cli/.workshop/cleanup.sh
  manifests/modules/aiml/q-cli/.workshop/terraform/main.tf
  website/docs/aiml/q-cli/advance-troubleshooting.md
  website/docs/aiml/q-cli/basic-troubleshooting.md
  website/docs/aiml/q-cli/index.md
  website/docs/aiml/q-cli/q-cli-setup.md
  website/docs/aiml/q-cli/retrieve-cluster-details.md
Labels: none

Fixed load generator image
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
  website/docs/observability/open-source-metrics/application-metrics.md
Labels: content/observability

Fixed load generator image
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
  website/docs/observability/open-source-metrics/application-metrics.md
Labels: content/observability

Fixed load generator image
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
  website/docs/observability/open-source-metrics/application-metrics.md
Labels: content/observability

update: Migrated Flux lab from CodeCommit to Gitea
  manifests/modules/automation/gitops/flux/.workshop/cleanup.sh
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/outputs.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/vars.tf
  manifests/modules/automation/gitops/flux/gitea/values.yaml
  website/docs/automation/gitops/flux/cluster_bootstrap.md
  website/docs/automation/gitops/flux/codecommit.md
  website/docs/automation/gitops/flux/deploy_application.md
  website/docs/automation/gitops/flux/gitea.md
  website/docs/automation/gitops/flux/index.md
  website/docs/automation/gitops/flux/tests/hook-clone.sh
Labels: none

Fail fast in Terraform validation script
  hack/validate-terraform.sh
Labels: none

Pin Hybrid Nodes TF modules
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/main.tf
Labels: none

Pin Hybrid Nodes TF modules
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/main.tf
Labels: none

No need for common script in validate
  hack/validate-terraform.sh
Labels: none

update: Migrated Helm lab to sample app chart
  manifests/modules/introduction/helm/.workshop/cleanup.sh
  manifests/modules/introduction/helm/.workshop/terraform/outputs.tf
  manifests/modules/introduction/helm/.workshop/terraform/vars.tf
  manifests/modules/introduction/helm/values.yaml
  website/docs/introduction/helm/index.md
  website/docs/introduction/helm/tests/hook-install.sh
  website/docs/introduction/helm/tests/hook-replicas.sh
Labels: content/introduction

BugBash Fixes: Updating bash outputs to reflect current
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction, content/fundamentals

Added a "Preview" warning for the module
  website/docs/aiml/q-cli/index.md
Labels: none

Updating to templatefile function instead of template provider updating linux2023 instance to leverage containerd instead docker
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_image.yaml
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/pod/public_image.md
Labels: none

update: updating to templatefile function instead of template provider for troubleshooting module (#1595)
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_image.yaml
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/pod/public_image.md
Labels: none

update: YAML file explanations for Observability Labs (#1568)
  website/docs/observability/open-source-metrics/adot.md
Labels: content/observability

Updates to address feedback comments
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
Labels: content/fundamentals

Intro restructure
  website/docs/introduction/advanced-concepts/index.md
  website/docs/introduction/advanced-concepts/nodes/index.md
  website/docs/introduction/advanced-concepts/nodes/selectors.md
  website/docs/introduction/advanced-concepts/nodes/taints-tolerations.md
  website/docs/introduction/advanced-concepts/rbac/bindings.md
  website/docs/introduction/advanced-concepts/rbac/index.md
  website/docs/introduction/advanced-concepts/rbac/roles.md
  website/docs/introduction/advanced-concepts/workloads/daemonsets.md
  website/docs/introduction/advanced-concepts/workloads/index.md
  website/docs/introduction/advanced-concepts/workloads/jobs.md
  website/docs/introduction/advanced-concepts/workloads/statefulsets.md
  website/docs/introduction/application-overview/index.md
  website/docs/introduction/getting-started/helm/index.md
  website/docs/introduction/getting-started/helm/tests/hook-install.sh
  website/docs/introduction/getting-started/helm/tests/hook-replicas.sh
  website/docs/introduction/getting-started/helm/tests/hook-suite.sh
  website/docs/introduction/getting-started/index.md
  website/docs/introduction/getting-started/kubernetes-basics/index.md
  website/docs/introduction/getting-started/kubernetes-basics/pods.md
  website/docs/introduction/getting-started/kustomize/index.md
  website/docs/introduction/getting-started/sample-application.md
  website/docs/introduction/index.md
  website/docs/introduction/kubernetes-fundamentals/concepts/index.md
  website/docs/introduction/kubernetes-fundamentals/configuration/index.md
  website/docs/introduction/kubernetes-fundamentals/deployments/index.md
  website/docs/introduction/kubernetes-fundamentals/index.md
  website/docs/introduction/kubernetes-fundamentals/pods/index.md
  website/docs/introduction/kubernetes-fundamentals/services/index.md
  website/docs/introduction/navigating-labs.md
  website/docs/introduction/setup/index.md
  yarn.lock
Labels: content/introduction

Added some Q rules to help streamline lab behavior, use tmp to install Q
  manifests/modules/aiml/q-cli/.workshop/terraform/main.tf
  manifests/modules/aiml/q-cli/.workshop/terraform/templates/rules.md
  website/docs/aiml/q-cli/index.md
  website/docs/aiml/q-cli/q-cli-setup.md
Labels: none

Tweaked some wording, reduced amount of output shown, replaced most images with text
  manifests/modules/aiml/q-cli/.workshop/terraform/templates/rules.md
  website/docs/aiml/q-cli/advance-troubleshooting.md
  website/docs/aiml/q-cli/basic-troubleshooting.md
  website/docs/aiml/q-cli/q-cli-setup.md
  website/docs/aiml/q-cli/retrieve-cluster-details.md
Labels: none

Fixing: "but now with via the aws cli:" to "with aws cli:"
  website/docs/troubleshooting/alb/index.md
Labels: none

Removed instructions to click next
  website/docs/networking/index.md
Labels: content/networking

Adding url to AWS LB controller official documentation
  website/docs/troubleshooting/alb/index.md
Labels: none

Add YAML file explanations for Automation Labs
  website/docs/automation/controlplanes/ack/provision-resources.md
  website/docs/automation/controlplanes/crossplane/compositions/claims.md
  website/docs/automation/controlplanes/crossplane/compositions/creating-a-composition.md
  website/docs/automation/controlplanes/crossplane/resources.md
  website/docs/automation/gitops/argocd/app-of-apps/setup.md
  website/docs/automation/gitops/argocd/deploy_application.md
Labels: none

updating wording to make it simpler.
  website/docs/troubleshooting/alb/index.md
Labels: none

new: Q CLI with EKS MCP server (#1550)
  manifests/modules/aiml/q-cli/.workshop/cleanup.sh
  manifests/modules/aiml/q-cli/.workshop/terraform/main.tf
  manifests/modules/aiml/q-cli/.workshop/terraform/outputs.tf
  manifests/modules/aiml/q-cli/.workshop/terraform/templates/rules.md
  manifests/modules/aiml/q-cli/.workshop/terraform/vars.tf
  manifests/modules/aiml/q-cli/setup/eks-mcp.json
  manifests/modules/aiml/q-cli/troubleshoot/dynamo/carts-configMap.yaml
  manifests/modules/aiml/q-cli/troubleshoot/dynamo/config.properties
  manifests/modules/aiml/q-cli/troubleshoot/dynamo/kustomization.yaml
  manifests/modules/aiml/q-cli/troubleshoot/failing-pod.yaml
  website/docs/aiml/index.md
  website/docs/aiml/q-cli/advance-troubleshooting.md
  website/docs/aiml/q-cli/assets/list-mcp-tools.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-1-5.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-1.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-2.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-3.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-4.jpg
  website/docs/aiml/q-cli/basic-troubleshooting.md
  website/docs/aiml/q-cli/index.md
  website/docs/aiml/q-cli/q-cli-setup.md
  website/docs/aiml/q-cli/retrieve-cluster-details.md
Labels: none

Added highlight for XML field
  website/docs/automation/controlplanes/crossplane/compositions/creating-a-composition.md
Labels: none

Updated the Conclusion section messaging
  website/docs/troubleshooting/dns/4-check-vpc.md
Labels: none

Minor fixes to correct the flow and punctuations
  website/docs/aiml/q-cli/advance-troubleshooting.md
  website/docs/aiml/q-cli/basic-troubleshooting.md
Labels: none

fix permissions issues when running prepare-environment fundamentals/storage/fsxz
  lab/iam/policies/iam.yaml
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
