Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

community calls canceled
  README.md
Labels: none

community calls canceled (#1103)
  README.md
Labels: none

add-on and observability
  website/docs/observability/resource-view/addon-view/index.md
  website/docs/observability/resource-view/addon_view.md
  website/docs/observability/resource-view/observability-view/index.md
  website/docs/observability/resource-view/observability_view.md
  website/docs/observability/resource-view/workloads-view/index.md
  website/static/img/resource-view/find-add-ons.jpg
  website/static/img/resource-view/observability-view.jpg
  website/static/img/resource-view/select-add-ons.jpg
Labels: content/observability

fix: IRSA and Pod Identity cart pod should fail on startup
  manifests/base-application/carts/deployment.yaml
  website/docs/security/amazon-eks-pod-identity/index.md
  website/docs/security/amazon-eks-pod-identity/tests/hook-pod-logs.sh
  website/docs/security/amazon-eks-pod-identity/understanding.md
  website/docs/security/amazon-eks-pod-identity/use-pod-identity.md
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
  website/docs/security/amazon-eks-pod-identity/verifying-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/add_irsa.md
  website/docs/security/iam-roles-for-service-accounts/index.md
  website/docs/security/iam-roles-for-service-accounts/tests/hook-enable-dynamo.sh
  website/docs/security/iam-roles-for-service-accounts/tests/hook-enable-irsa.sh
  website/docs/security/iam-roles-for-service-accounts/tests/hook-pod-logs.sh
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/verifying-dynamo.md
  website/src/components/Terminal/index.tsx
Labels: content/security

fix: IRSA and Pod Identity cart pod should fail on startup (#1104)
  manifests/base-application/carts/deployment.yaml
  website/docs/security/amazon-eks-pod-identity/index.md
  website/docs/security/amazon-eks-pod-identity/tests/hook-pod-logs.sh
  website/docs/security/amazon-eks-pod-identity/understanding.md
  website/docs/security/amazon-eks-pod-identity/use-pod-identity.md
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
  website/docs/security/amazon-eks-pod-identity/verifying-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/add_irsa.md
  website/docs/security/iam-roles-for-service-accounts/index.md
  website/docs/security/iam-roles-for-service-accounts/tests/hook-enable-dynamo.sh
  website/docs/security/iam-roles-for-service-accounts/tests/hook-enable-irsa.sh
  website/docs/security/iam-roles-for-service-accounts/tests/hook-pod-logs.sh
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/verifying-dynamo.md
  website/src/components/Terminal/index.tsx
Labels: content/security

Increase wait after cluster access entry creation
  website/docs/security/cluster-access-management/associating-policies.md
Labels: content/security

Fix stringlike condition
  lab/iam/policies/base.yaml
Labels: none

fix: Allow appropriate IDE KMS permissions for Terraform cluster creation (#1102)
  lab/iam/policies/base.yaml
Labels: none

Moved lab manifest template our of main manifests directory
  docs/authoring_content.md
  templates/lab-manifests/.workshop/cleanup.sh
  templates/lab-manifests/.workshop/terraform/main.tf
  templates/lab-manifests/.workshop/terraform/outputs.tf
  templates/lab-manifests/.workshop/terraform/vars.tf
Labels: none

fix: Fix error when running prepare-environment in certain directories
  lab/bin/reset-environment
Labels: none

Fix the feedback provided
  website/docs/observability/assets/cloud-native-architecture.webp
  website/docs/observability/assets/oss-architecture.webp
  website/docs/observability/index.md
  website/docs/observability/kubecost/index.md
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
  website/docs/observability/logging/cluster-logging/log-insights.md
  website/docs/observability/logging/pod-logging/index.md
  website/docs/observability/open-source-metrics/index.md
Labels: content/observability

add space to end of file
  website/docs/observability/index.md
Labels: content/observability

trying to fix prettier pre-commit issue
  website/docs/observability/index.md
Labels: content/observability

trying to fix precommit issue
  website/docs/observability/index.md
Labels: content/observability

Experimenting with different deployments to scale replica
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/blog-deploy.yaml
  manifests/modules/fundamentals/storage/s3/commands.txt
  manifests/modules/fundamentals/storage/s3/deployment/custom-deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/example.yaml
Labels: none

Simplified file structure for S3 module
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/README.md
  manifests/modules/fundamentals/storage/s3/commands.txt
  manifests/modules/fundamentals/storage/s3/dev_files/blog-deploy.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/example.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/deployment/csidriver.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/deployment/pvc.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/deployment/s3-express.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/s3_shweta_and_andrew/storageclass/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/storageclass/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/dev_files/storageclass/s3storageclass.yaml
Labels: none

fix build issues
  website/docs/observability/resource-view/observability_view.md
  website/docs/observability/resource-view/workloads-view/auth_authz_view.md
  website/docs/observability/resource-view/workloads-view/index.md
Labels: content/observability

fix build
  website/.gitignore
  website/docs/observability/resource-view/observability_view.md
  website/docs/observability/resource-view/workloads-view/extensions_view.md
Labels: content/observability

delete .idea
  .idea/.gitignore
  .idea/aws.xml
  .idea/eks-workshop-v2.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  website/.gitignore
Labels: none

remove newlines
  .idea/.gitignore
  .idea/aws.xml
  .idea/eks-workshop-v2.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  website/.gitignore
  website/docs/observability/resource-view/workloads-view/auth_authz_view.md
  website/docs/observability/resource-view/workloads-view/cluster_view.md
  website/docs/observability/resource-view/workloads-view/extensions_view.md
  website/docs/observability/resource-view/workloads-view/index.md
  website/docs/observability/resource-view/workloads-view/secret_config_view.md
  website/docs/observability/resource-view/workloads-view/service_view.md
Labels: content/observability

remove newlines
  .idea/.gitignore
  .idea/aws.xml
  .idea/eks-workshop-v2.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Labels: none

fix newlines
  website/.gitignore
  website/docs/observability/resource-view/workloads-view/auth_authz_view.md
  website/docs/observability/resource-view/workloads-view/extensions_view.md
  website/docs/observability/resource-view/workloads-view/service_view.md
Labels: content/observability

fix newlines
  website/docs/observability/resource-view/addon_view.md
Labels: content/observability

Removing provisioner destroy since it was not working properly. Moving the configuration to the cleanup.sh file
  manifests/modules/troubleshooting/alb/.workshop/cleanup.sh
  manifests/modules/troubleshooting/alb/.workshop/terraform/main.tf
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Update ebs-csi-driver.md
  website/docs/fundamentals/storage/ebs/ebs-csi-driver.md
Labels: content/fundamentals

fix iam issues in chatbot module
  lab/iam/policies/labs2.yaml
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
  website/docs/aiml/chatbot/nodepool.md
Labels: none

longer timeout
  website/docs/aiml/chatbot/nodepool.md
Labels: none

Container permission issue is occurring that is not allowing the files to be copied from retail store image into assets container
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/commands.txt
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
Labels: none

update to karpenter v1
  lab/bin/delete-all-if-crd-exists
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/vars.tf
  manifests/modules/aiml/chatbot/nodepool/nodepool-inf2.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  website/docs/aiml/chatbot/nodepool.md
Labels: none

fix terraform formatting
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
Labels: none

add a wait for url to appear
  website/docs/aiml/chatbot/gradio.md
Labels: none

revert crd delete changes
  lab/bin/delete-all-if-crd-exists
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
Labels: none

Permissions issues fixed by renaming Terraform resources and able to access mountpoint by altering PV permissions
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/s3/README.md
  manifests/modules/fundamentals/storage/s3/commands.txt
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
Labels: none

Updated lab to reflect new paradigm of uploading to S3 bucket first and then attaching mountpoint to pods
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/s3/README.md
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
Labels: none

Fix iam issues in AI/ML chatbot PR and update to Karpenter v1 (#1110)
  lab/iam/policies/labs2.yaml
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/vars.tf
  manifests/modules/aiml/chatbot/nodepool/nodepool-inf2.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
  website/docs/aiml/chatbot/gradio.md
  website/docs/aiml/chatbot/nodepool.md
Labels: none

Resolve pre-commit issues
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
Labels: content/observability

update: Changes to EKS cluster logging instructions (#1059)
  website/docs/observability/logging/cluster-logging/assets/logging-cluster-control-plane-logging-tab.webp
  website/docs/observability/logging/cluster-logging/assets/logging-cluster-enable-control-plane-logging.webp
  website/docs/observability/logging/cluster-logging/assets/logging-cluster-observability-tab.webp
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
Labels: content/observability

update: Add references to Observability Accelerator (#1082)
  .spelling
  website/docs/observability/assets/cloud-native-architecture.webp
  website/docs/observability/assets/oss-architecture.webp
  website/docs/observability/index.md
  website/docs/observability/kubecost/index.md
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
  website/docs/observability/logging/cluster-logging/log-insights.md
  website/docs/observability/logging/pod-logging/index.md
  website/docs/observability/open-source-metrics/index.md
Labels: content/observability

Merging reset changes
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/outputs.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
  manifests/modules/aiml/inferentia/nodepool/nodepool.yaml
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/inference.md
  website/docs/aiml/inferentia/karpenter.md
Labels: none

Update index.md
  website/docs/aiml/deploy-monitor-genai-model/index.md
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
