Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Add Terraform code to provision AMP, Loki, Tempo and Grafana.
  manifests/modules/observability/oss/.workshop/cleanup.sh
  manifests/modules/observability/oss/.workshop/terraform/main.tf
  manifests/modules/observability/oss/.workshop/terraform/outputs.tf
  manifests/modules/observability/oss/.workshop/terraform/templates/order-service-metrics-dashboard.yaml
  manifests/modules/observability/oss/.workshop/terraform/vars.tf
Labels: none

Add ADOT config.
  manifests/modules/observability/oss/.workshop/terraform/main.tf
  manifests/modules/observability/oss/adot/clusterrole.yaml
  manifests/modules/observability/oss/adot/clusterrolebinding.yaml
  manifests/modules/observability/oss/adot/kustomization.yaml
  manifests/modules/observability/oss/adot/opentelemetrycollector.yaml
  manifests/modules/observability/oss/adot/serviceaccount.yaml
Labels: none

Update eks.tf
  cluster/terraform/eks.tf
Labels: none

Formatting
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Migrate Kubecost module into OSS module and switch to AMP.
  manifests/modules/observability/oss/.workshop/terraform/main.tf
  manifests/modules/observability/oss/.workshop/terraform/outputs.tf
  manifests/modules/observability/oss/.workshop/terraform/vars.tf
  manifests/modules/observability/oss/kubecost/values.template.yaml
  website/docs/observability/open-source-metrics/index.md
  website/docs/observability/oss/index.md
  website/docs/observability/oss/kubecost/assets/AWS-AMP-integ-architecture.webp
  website/docs/observability/oss/kubecost/assets/aggregate-by-deployment.webp
  website/docs/observability/oss/kubecost/assets/cloud9.webp
  website/docs/observability/oss/kubecost/assets/controllers.webp
  website/docs/observability/oss/kubecost/assets/costallocation-filter.webp
  website/docs/observability/oss/kubecost/assets/costallocation-label.webp
  website/docs/observability/oss/kubecost/assets/costallocation.webp
  website/docs/observability/oss/kubecost/assets/namespace.webp
  website/docs/observability/oss/kubecost/assets/orders.webp
  website/docs/observability/oss/kubecost/assets/overview.webp
  website/docs/observability/oss/kubecost/assets/team.webp
  website/docs/observability/oss/kubecost/cost-allocation.md
  website/docs/observability/oss/kubecost/index.md
  website/docs/observability/oss/kubecost/installation.md
  website/docs/observability/oss/kubecost/tests/hook-suite.sh
Labels: content/observability

Add the tests folder for OSS module.
  website/docs/observability/oss/tests/hook-suite.sh
Labels: content/observability

Inject OTel environment variables to the app deployments.
  manifests/base-application/carts/deployment.yaml
  manifests/base-application/catalog/deployment.yaml
  manifests/base-application/checkout/deployment.yaml
  manifests/base-application/orders/deployment.yaml
  manifests/base-application/ui/deployment.yaml
  manifests/modules/observability/oss/adot/instrumentation-go.yaml
  manifests/modules/observability/oss/adot/instrumentation-java.yaml
  manifests/modules/observability/oss/adot/instrumentation-nodejs.yaml
  manifests/modules/observability/oss/adot/kustomization.yaml
  website/docs/observability/oss/kubecost/index.md
Labels: content/observability

Add test cases.
  website/docs/observability/oss/kubecost/tests/hook-check-grafana.sh
  website/docs/observability/oss/kubecost/tests/hook-deploy-adot.sh
  website/docs/observability/oss/kubecost/tests/hook-install.sh
Labels: content/observability

Add test cases.
  website/docs/observability/oss/tests/hook-check-grafana.sh
  website/docs/observability/oss/tests/hook-deploy-adot.sh
  website/docs/observability/oss/tests/hook-install.sh
Labels: content/observability

Work in progress to create S3 workshop, pre-commit hooks skipped
  manifests/modules/fundamentals/storage/s3-theirs/deployment/csidriver.yaml
  manifests/modules/fundamentals/storage/s3-theirs/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/s3-theirs/deployment/pvc.yaml
  manifests/modules/fundamentals/storage/s3-theirs/deployment/s3-express.yaml
  manifests/modules/fundamentals/storage/s3-theirs/storageclass/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/vars.tf
  manifests/modules/fundamentals/storage/s3/commands.txt
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
  manifests/modules/fundamentals/storage/s3/storageclass/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/storageclass/s3storageclass.yaml
Labels: none

Work in progress to create S3 workshop, pre-commit hooks skipped
  manifests/modules/fundamentals/storage/s3-theirs/deployment/csidriver.yaml
  manifests/modules/fundamentals/storage/s3-theirs/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/s3-theirs/deployment/pvc.yaml
  manifests/modules/fundamentals/storage/s3-theirs/deployment/s3-express.yaml
  manifests/modules/fundamentals/storage/s3-theirs/storageclass/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
  manifests/modules/fundamentals/storage/s3/storageclass/s3storageclass.yaml
Labels: none

Aligned files with workshop
  manifests/modules/fundamentals/storage/s3/commands.txt
Labels: none

Updating Opensearch verion to 2.13
  manifests/modules/observability/opensearch/.workshop/terraform/preprovision/main.tf
Labels: none

Adding steps to generate scheduler logs
  website/docs/observability/opensearch/control-plane-logs.md
Labels: content/observability

some updates based on PR input
  cluster/eksctl/cluster.yaml
  manifests/modules/observability/resiliency/high-availability/config/scale_and_affinity_patch.yaml
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  manifests/modules/observability/resiliency/scripts/pod-failure.sh
  manifests/modules/observability/resiliency/scripts/testing.sh
  manifests/modules/observability/resiliency/scripts/verify-cluster.sh
  website/docs/observability/high-availability/00-setup.md
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/high-availability/index.md
Labels: content/observability

Finish instructions to access VSCode IDE
  website/docs/introduction/assets/vscode-copy-paste.webp
  website/docs/introduction/navigating-labs.md
  website/docs/introduction/setup/your-account/assets/vscode-outputs.webp
  website/docs/introduction/setup/your-account/assets/vscode-password-retrieve.webp
  website/docs/introduction/setup/your-account/assets/vscode-password-visible.webp
  website/docs/introduction/setup/your-account/assets/vscode-password.webp
  website/docs/introduction/setup/your-account/assets/vscode-splash.webp
  website/docs/introduction/setup/your-account/cleanup.md
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

Add script to build and deploy CFN
  hack/build-ide-cfn.sh
  hack/deploy-ide-cfn.sh
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

Add website docs for OSS module.
  website/docs/observability/index.md
  website/docs/observability/oss/index.md
  website/docs/observability/oss/kubecost/index.md
  website/docs/observability/oss/metrics-logs-traces/accessing-grafana.md
  website/docs/observability/oss/metrics-logs-traces/adot.md
  website/docs/observability/oss/metrics-logs-traces/amp-ws.md
  website/docs/observability/oss/metrics-logs-traces/application-logs.md
  website/docs/observability/oss/metrics-logs-traces/application-metrics.md
  website/docs/observability/oss/metrics-logs-traces/application-traces.md
  website/docs/observability/oss/metrics-logs-traces/assets/amg12.webp
  website/docs/observability/oss/metrics-logs-traces/assets/amgws.webp
  website/docs/observability/oss/metrics-logs-traces/assets/dashboard.webp
  website/docs/observability/oss/metrics-logs-traces/assets/datasource.webp
  website/docs/observability/oss/metrics-logs-traces/assets/editPanel.webp
  website/docs/observability/oss/metrics-logs-traces/assets/grafana-login.webp
  website/docs/observability/oss/metrics-logs-traces/assets/order-service-metrics-dashboard.webp
  website/docs/observability/oss/metrics-logs-traces/assets/promqlQuery.webp
  website/docs/observability/oss/metrics-logs-traces/assets/query.webp
  website/docs/observability/oss/metrics-logs-traces/assets/retailMetrics.webp
  website/docs/observability/oss/metrics-logs-traces/assets/totalOrderPrice.webp
  website/docs/observability/oss/metrics-logs-traces/assets/totalOrders.webp
  website/docs/observability/oss/metrics-logs-traces/assets/totalusage.webp
  website/docs/observability/oss/metrics-logs-traces/assets/watchCount.webp
  website/docs/observability/oss/metrics-logs-traces/index.md
  website/docs/observability/oss/metrics-logs-traces/kubernetes-dashboards.md
  website/docs/observability/oss/metrics-logs-traces/tests/hook-check-grafana.sh
  website/docs/observability/oss/metrics-logs-traces/tests/hook-deploy-adot.sh
  website/docs/observability/oss/metrics-logs-traces/tests/hook-install.sh
  website/docs/observability/oss/metrics-logs-traces/tests/hook-suite.sh
Labels: content/observability

Fix spell checker errors.
  website/docs/observability/oss/metrics-logs-traces/adot.md
  website/docs/observability/oss/metrics-logs-traces/index.md
  website/docs/observability/oss/tests/hook-suite.sh
Labels: content/observability

Update website docs for OSS module.
  manifests/modules/observability/oss/.workshop/terraform/main.tf
  manifests/modules/observability/oss/.workshop/terraform/templates/order-service-metrics-dashboard.yaml
  website/docs/observability/oss/metrics-logs-traces/accessing-grafana.md
  website/docs/observability/oss/metrics-logs-traces/adot.md
  website/docs/observability/oss/metrics-logs-traces/application-logs.md
  website/docs/observability/oss/metrics-logs-traces/application-metrics.md
  website/docs/observability/oss/metrics-logs-traces/application-traces.md
  website/docs/observability/oss/metrics-logs-traces/assets/amg12.webp
  website/docs/observability/oss/metrics-logs-traces/assets/amgws.webp
  website/docs/observability/oss/metrics-logs-traces/assets/cluster-total-usage.webp
  website/docs/observability/oss/metrics-logs-traces/assets/dashboard.webp
  website/docs/observability/oss/metrics-logs-traces/assets/datasource.webp
  website/docs/observability/oss/metrics-logs-traces/assets/editPanel.webp
  website/docs/observability/oss/metrics-logs-traces/assets/grafana-dashboard.webp
  website/docs/observability/oss/metrics-logs-traces/assets/grafana-datasource.webp
  website/docs/observability/oss/metrics-logs-traces/assets/grafana-login.webp
  website/docs/observability/oss/metrics-logs-traces/assets/logs-explore.webp
  website/docs/observability/oss/metrics-logs-traces/assets/metrics-dashboard.webp
  website/docs/observability/oss/metrics-logs-traces/assets/metrics-edit.webp
  website/docs/observability/oss/metrics-logs-traces/assets/metrics-query.webp
  website/docs/observability/oss/metrics-logs-traces/assets/order-service-metrics-dashboard.webp
  website/docs/observability/oss/metrics-logs-traces/assets/promqlQuery.webp
  website/docs/observability/oss/metrics-logs-traces/assets/query.webp
  website/docs/observability/oss/metrics-logs-traces/assets/retailMetrics.webp
  website/docs/observability/oss/metrics-logs-traces/assets/totalOrderPrice.webp
  website/docs/observability/oss/metrics-logs-traces/assets/totalOrders.webp
  website/docs/observability/oss/metrics-logs-traces/assets/totalusage.webp
  website/docs/observability/oss/metrics-logs-traces/assets/traces-explore.webp
  website/docs/observability/oss/metrics-logs-traces/assets/watchCount.webp
  website/docs/observability/oss/metrics-logs-traces/kubernetes-dashboards.md
Labels: content/observability

Update website docs for OSS module.
  website/docs/observability/oss/metrics-logs-traces/application-logs.md
  website/docs/observability/oss/metrics-logs-traces/application-metrics.md
Labels: content/observability

Update website docs for OSS module.
  manifests/base-application/carts/deployment.yaml
  manifests/base-application/catalog/deployment.yaml
  manifests/base-application/checkout/deployment.yaml
  manifests/base-application/orders/deployment.yaml
  manifests/base-application/ui/deployment.yaml
  manifests/modules/observability/oss/adot/instrumentation-go.yaml
  manifests/modules/observability/oss/adot/instrumentation-nodejs.yaml
  manifests/modules/observability/oss/adot/instrumentation.yaml
  manifests/modules/observability/oss/adot/kustomization.yaml
  website/docs/observability/oss/metrics-logs-traces/application-traces.md
  website/docs/observability/oss/metrics-logs-traces/assets/traces-explore.webp
Labels: content/observability

Fixing EKS control plane looging contenct for issue-978
  website/docs/observability/logging/cluster-logging/assets/logging-cluster-control-plane-logging-tab.webp
  website/docs/observability/logging/cluster-logging/assets/logging-cluster-enable-control-plane-logging.webp
  website/docs/observability/logging/cluster-logging/assets/logging-cluster-observability-tab.webp
Labels: content/observability

Update website docs for OSS module.
  website/docs/observability/oss/kubecost/assets/AWS-AMP-integ-architecture.webp
  website/docs/observability/oss/kubecost/assets/aggregate-by-deployment.webp
  website/docs/observability/oss/kubecost/assets/allocation-deployment.webp
  website/docs/observability/oss/kubecost/assets/allocation-filter.webp
  website/docs/observability/oss/kubecost/assets/allocation-label.webp
  website/docs/observability/oss/kubecost/assets/allocation-orders-deployment.webp
  website/docs/observability/oss/kubecost/assets/allocation-orders-namespace.webp
  website/docs/observability/oss/kubecost/assets/allocation-orders-resources.webp
  website/docs/observability/oss/kubecost/assets/allocation-team.webp
  website/docs/observability/oss/kubecost/assets/allocation.webp
  website/docs/observability/oss/kubecost/assets/amp-architecture.webp
  website/docs/observability/oss/kubecost/assets/cloud9.webp
  website/docs/observability/oss/kubecost/assets/controllers.webp
  website/docs/observability/oss/kubecost/assets/costallocation-filter.webp
  website/docs/observability/oss/kubecost/assets/costallocation-label.webp
  website/docs/observability/oss/kubecost/assets/costallocation.webp
  website/docs/observability/oss/kubecost/assets/namespace.webp
  website/docs/observability/oss/kubecost/assets/orders.webp
  website/docs/observability/oss/kubecost/assets/overview.webp
  website/docs/observability/oss/kubecost/assets/team.webp
  website/docs/observability/oss/kubecost/cost-allocation.md
  website/docs/observability/oss/kubecost/installation.md
  website/docs/observability/oss/metrics-logs-traces/accessing-grafana.md
  website/docs/observability/oss/metrics-logs-traces/adot.md
Labels: content/observability

Update website docs for OSS module.
  website/docs/observability/oss/kubecost/tests/hook-suite.sh
  website/docs/observability/oss/metrics-logs-traces/tests/hook-install.sh
  website/docs/observability/oss/metrics-logs-traces/tests/hook-suite.sh
  website/docs/observability/oss/tests/hook-install.sh
Labels: content/observability

Add automated tests for OSS module.
  manifests/modules/observability/oss/kubecost/.workshop/cleanup.sh
  manifests/modules/observability/oss/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/oss/kubecost/.workshop/terraform/outputs.tf
  manifests/modules/observability/oss/kubecost/.workshop/terraform/vars.tf
  website/docs/observability/oss/kubecost/index.md
  website/docs/observability/oss/kubecost/installation.md
  website/docs/observability/oss/kubecost/tests/hook-install.sh
  website/docs/observability/oss/kubecost/tests/hook-suite.sh
  website/docs/observability/oss/metrics-logs-traces/tests/hook-install.sh
  website/docs/observability/oss/metrics-logs-traces/tests/hook-suite.sh
  website/test-durations.json
Labels: content/observability

Add automated tests for OSS module.
  manifests/modules/observability/oss/.workshop/terraform/outputs.tf
  manifests/modules/observability/oss/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/oss/metrics-logs-traces/.workshop/cleanup.sh
  manifests/modules/observability/oss/metrics-logs-traces/.workshop/terraform/main.tf
  manifests/modules/observability/oss/metrics-logs-traces/.workshop/terraform/outputs.tf
  manifests/modules/observability/oss/metrics-logs-traces/.workshop/terraform/templates/order-service-metrics-dashboard.yaml
  manifests/modules/observability/oss/metrics-logs-traces/.workshop/terraform/vars.tf
  manifests/modules/observability/oss/metrics-logs-traces/adot/clusterrole.yaml
  manifests/modules/observability/oss/metrics-logs-traces/adot/clusterrolebinding.yaml
  manifests/modules/observability/oss/metrics-logs-traces/adot/instrumentation.yaml
  manifests/modules/observability/oss/metrics-logs-traces/adot/kustomization.yaml
  manifests/modules/observability/oss/metrics-logs-traces/adot/opentelemetrycollector.yaml
  manifests/modules/observability/oss/metrics-logs-traces/adot/serviceaccount.yaml
  website/docs/observability/oss/index.md
  website/docs/observability/oss/metrics-logs-traces/adot.md
  website/docs/observability/oss/metrics-logs-traces/index.md
  website/test-durations.json
Labels: content/observability

Add automated tests for OSS module.
  manifests/modules/observability/oss/metrics-logs-traces/.workshop/terraform/main.tf
  website/docs/observability/oss/metrics-logs-traces/tests/hook-check-grafana.sh
  website/test-durations.json
Labels: content/observability

Add automated tests for OSS module.
  website/docs/observability/oss/index.md
  website/docs/observability/oss/kubecost/index.md
  website/docs/observability/oss/metrics-logs-traces/index.md
Labels: content/observability

Add automated tests for OSS module.
  website/docs/observability/oss/_category_.json
Labels: content/observability

fix: Add cluster admin when using Terraform (#1057)
  cluster/terraform/eks.tf
Labels: none

add internal elb tag to vpc private subnets (#1055)
  cluster/terraform/vpc.tf
Labels: none

restore deleted files
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/fundamentals/mng/graviton/nodegroup.yaml
Labels: none

Fix default branch value in VSCode CFN
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

use actual latest file
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
Labels: none

restore file
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
Labels: none

new line char
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
Labels: none

add vars file
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
Labels: none

match main
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
Labels: none

New AIML Lab: Deploying Llama2 Chatbot using Ray Serve on Amazon EKS (#1053)
  .spelling
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/vars.tf
  manifests/modules/aiml/chatbot/gradio/gradio-ui.yaml
  manifests/modules/aiml/chatbot/gradio/kustomization.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/k8s-neuron-device-plugin-rbac.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/k8s-neuron-device-plugin.yaml
  manifests/modules/aiml/chatbot/neuron-device-plugin/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-inf2.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/Dockerfile
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/kustomization.yaml
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/ray-service-llama2.yaml
  manifests/modules/aiml/chatbot/ray-service-llama2-chatbot/ray_serve_llama2.py
  website/docs/aiml/chatbot/_category_.json
  website/docs/aiml/chatbot/add-llama2.md
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/gradio.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/intro.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/tests/hook-suite.sh
  website/src/css/custom.scss
  website/src/theme/DocSidebarItem/Category/index.js
  website/static/img/sample-app-screens/chatbot.webp
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
