Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Change renovatebot automerge configuration
  renovate.json
Labels: none

Change renovatebot automerge configuration
  renovate.json
Labels: none

Added RayServe cluster
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
Labels: none

Added RayServe cluster
  cluster/terraform/variables.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/addons.tf
  manifests/modules/aiml/chatbot/ray.io_rayservices.yaml
Labels: none

Added renovatebot to list of things to update
  docs/eks_version_upgrades.md
Labels: none

Enable lab timings in snapshots
  hack/publish-snapshot.sh
Labels: none

Run snapshot workflow on pushes to appropriate branches
  .github/workflows/publish-snapshot.yaml
Labels: none

Remove workflow dispatch parameters from snapshot workflow
  .github/workflows/publish-snapshot.yaml
Labels: none

Added timings for kustomize and helm labs
  website/docs/introduction/helm/index.md
  website/docs/introduction/kustomize/index.md
  website/lab-timing-data.json
Labels: content/introduction

Trigger publish workflow on stable push
  .github/workflows/publish-content.yaml
Labels: none

Enable lab timings in PR website build
  .github/workflows/pr.yaml
Labels: none

Use letters instead of numbers for annotations
  website/src/components/YamlFile/index.tsx
  website/src/remark/include-yaml.js
  website/src/theme/CodeBlock/Line/styles.module.css
Labels: none

Updated style guide and ui component documentation
  docs/images/yaml-annotations.png
  docs/images/yaml-plain.png
  docs/style_guide.md
  docs/ui_components.md
Labels: none

add access entry
  cluster/terraform/eks.tf
Labels: none

Added header to README
  README.md
  docs/images/eks.png
Labels: none

Use YouTube video in README
  README.md
Labels: none

Revert README to service icon
  README.md
  docs/images/eks.png
Labels: none

Directly use public DNS for test workflow
  .github/workflows/module-test.yaml
  hack/run-tests.sh
  hack/shell.sh
Labels: none

chore: Re-work how lab timings are recorded to enable automation
  .github/workflows/module-test.yaml
  hack/generate-lab-timings.sh
  hack/pre-provision-resources.sh
  hack/run-tests.sh
  test/timings/.gitignore
  test/timings/package-lock.json
  test/timings/package.json
  test/timings/src/index.ts
  test/timings/src/lib/gatherer.ts
  test/timings/tsconfig.build.json
  test/timings/tsconfig.json
  test/util/package-lock.json
  test/util/package.json
  test/util/src/lib/markdownsh.ts
  website/docs/automation/controlplanes/ack/provision-resources.md
  website/docs/observability/kubecost/introduction.md
  website/lab-timing-data.json
  website/src/remark/time.js
  website/test-durations.json
Labels: content/observability

chore: Re-work how lab timings are recorded to enable automation (#1007)
  .github/workflows/module-test.yaml
  hack/generate-lab-timings.sh
  hack/pre-provision-resources.sh
  hack/run-tests.sh
  test/timings/.gitignore
  test/timings/package-lock.json
  test/timings/package.json
  test/timings/src/index.ts
  test/timings/src/lib/gatherer.ts
  test/timings/tsconfig.build.json
  test/timings/tsconfig.json
  test/util/package-lock.json
  test/util/package.json
  test/util/src/lib/markdownsh.ts
  website/docs/automation/controlplanes/ack/provision-resources.md
  website/docs/observability/kubecost/introduction.md
  website/lab-timing-data.json
  website/src/remark/time.js
  website/test-durations.json
Labels: content/observability

Fix links to Dockerfiles
  website/docs/introduction/getting-started/packaging-application.md
Labels: content/introduction

feat: Implement UI element to annotate YAML files (#976)
  cspell.config.yaml
  docs/images/yaml-annotations.png
  docs/images/yaml-plain.png
  docs/style_guide.md
  docs/ui_components.md
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/compute/karpenter/nodepool/kustomization.yaml
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodeclass.yaml
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
  manifests/modules/autoscaling/compute/karpenter/scale/deployment.yaml
  manifests/modules/autoscaling/workloads/hpa/hpa.yaml
  website/docs/aiml/inferentia/compile.md
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/compute/karpenter/node-provisioning.md
  website/docs/autoscaling/compute/karpenter/setup-provisioner.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/configure-hpa.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/components/YamlFile/index.tsx
  website/src/components/YamlFile/styles.module.css
  website/src/css/custom.scss
  website/src/remark/include-yaml.js
  website/src/theme/CodeBlock/Line/index.js
  website/src/theme/CodeBlock/Line/styles.module.css
  website/src/theme/MDXComponents.js
Labels: content/autoscaling

Update to 1.30
  cluster/eksctl/cluster.yaml
  cluster/terraform/variables.tf
  hack/lib/kubectl-version.sh
  lab/scripts/installer.sh
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  renovate.json
  website/docusaurus.config.js
Labels: none

updated the syntax error in the kuberay install command
  manifests/modules/aiml/deploy-monitor-genai-model/.workshop/terraform/main.tf
  website/docs/aiml/deploy-monitor-genai-model/jupyterhubsetup.md
Labels: none

Removed FSxN ONTAP lab until issues are resolved
  website/docusaurus.config.js
Labels: none

Change nodepool to AL2023 for karpenter lab only
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
Labels: none

Update storage section to gp3
  website/docs/fundamentals/storage/ebs/ebs-csi-driver.md
Labels: content/fundamentals

Update stateful Mysql to GP3
  manifests/modules/fundamentals/storage/ebs/statefulset-mysql.yaml
  website/docs/fundamentals/storage/ebs/assets/ebsVolumeScrenshot.webp
  website/docs/fundamentals/storage/ebs/statefulset-with-ebs.md
Labels: content/fundamentals

Fix indentation
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
Labels: none

Add variable for karpenter chart version to use
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
Labels: none

Added defaultStorage class through csi driver
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
Labels: none

feat: Update EKS to 1.30 (#1006)
  cluster/eksctl/cluster.yaml
  cluster/terraform/variables.tf
  hack/lib/kubectl-version.sh
  lab/scripts/installer.sh
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
  manifests/modules/fundamentals/storage/ebs/statefulset-mysql.yaml
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
  renovate.json
  website/docs/fundamentals/storage/ebs/assets/ebsVolumeScrenshot.webp
  website/docs/fundamentals/storage/ebs/ebs-csi-driver.md
  website/docs/fundamentals/storage/ebs/statefulset-with-ebs.md
  website/docusaurus.config.js
Labels: content/fundamentals

This fix the website build failing and update the good nodeclass to AL2023
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodeclass.yaml
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
Labels: none

Ignore missing results from grep in CAM cleanup
  manifests/modules/security/cam/.workshop/cleanup.sh
Labels: none

fix: This fix the website build failing and update the good nodeclass to AL2023 (#1008)
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodeclass.yaml
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
Labels: none

fix: Improved contrast for links and yaml highlights in dark mode
  website/src/css/custom.scss
Labels: none

fix: Improved contrast for links and yaml highlights in dark mode (#1009)
  website/src/css/custom.scss
Labels: none

Fix kubectl completion setup to be idempotent
  lab/scripts/setup.sh
Labels: none

Adding ALB troubleshooting scenario and Troubleshooting Methodologies
  manifests/modules/troubleshooting/alb/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/alb/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/alb/.workshop/terraform/template/break.sh
  manifests/modules/troubleshooting/alb/.workshop/terraform/template/other_issue.json
  manifests/modules/troubleshooting/alb/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/alb/creating-alb/fix_ingress/ingress.yaml
  manifests/modules/troubleshooting/alb/creating-alb/fix_ingress/kustomization.yaml
  manifests/modules/troubleshooting/alb/creating-alb/fix_ui/kustomization.yaml
  manifests/modules/troubleshooting/alb/creating-alb/fix_ui/service.yaml
  manifests/modules/troubleshooting/alb/creating-alb/ingress.yaml
  manifests/modules/troubleshooting/alb/creating-alb/kustomization.yaml
  manifests/modules/troubleshooting/alb/creating-alb/service.yaml
  website/docs/troubleshooting/_category_.json
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_7.md
  website/docs/troubleshooting/alb/alb_fix_wrapping_up.md
  website/docs/troubleshooting/alb/assets/IntScen-ALBC-1-2.webp
  website/docs/troubleshooting/alb/assets/alb-503.webp
  website/docs/troubleshooting/alb/assets/alb-does-not-exist.webp
  website/docs/troubleshooting/alb/assets/alb-working.webp
  website/docs/troubleshooting/alb/assets/ingress.webp
  website/docs/troubleshooting/alb/index.md
  website/docs/troubleshooting/alb/tests/hook-add-ingress.sh
  website/docs/troubleshooting/alb/tests/hook-suite.sh
  website/docs/troubleshooting/index.md
  website/docusaurus.config.js
  website/sidebars.js
  website/test-durations.json
Labels: none

Enable lab timings in PR website build
  website/test-durations.json
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
