Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Various local dev improvements
  Makefile
  docs/authoring_content.md
  hack/create-infrastructure.sh
  hack/destroy-infrastructure.sh
  hack/exec.sh
  hack/lib/generate-aws-creds.sh
  hack/refresh-terraform-lock.sh
  hack/run-tests.sh
  hack/update-helm-versions.sh
  hack/verify-helm-metadata.sh
  lab/bin/use-cluster
  lab/scripts/entrypoint.sh
  lab/scripts/installer.sh
Labels: none

Update PR test
  .github/workflows/pr.yaml
Labels: none

Various local dev improvements (#973)
  .github/workflows/pr.yaml
  Makefile
  docs/authoring_content.md
  hack/create-infrastructure.sh
  hack/destroy-infrastructure.sh
  hack/exec.sh
  hack/lib/generate-aws-creds.sh
  hack/refresh-terraform-lock.sh
  hack/run-tests.sh
  hack/update-helm-versions.sh
  hack/verify-helm-metadata.sh
  lab/bin/use-cluster
  lab/scripts/entrypoint.sh
  lab/scripts/installer.sh
Labels: none

Remove eksctl dependency in test workflow
  .github/workflows/module-test.yaml
Labels: none

Better output for suite hook failures
  test/util/src/lib/markdownsh.ts
Labels: none

Split networking test workflow due to credential timeout
  .github/workflows/test-networking.yaml
Labels: none

update: Upgraded Lattice controller to 1.0.6 and tracks helm chart releases
  manifests/modules/networking/vpc-lattice/.workshop/manifests/kustomization.yaml
  manifests/modules/networking/vpc-lattice/.workshop/manifests/nlb.yaml
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/networking/vpc-lattice/.workshop/terraform/outputs.tf
  manifests/modules/networking/vpc-lattice/.workshop/terraform/vars.tf
  website/docs/networking/vpc-lattice/setup.md
Labels: content/networking

Fix formatting
  test/util/src/lib/markdownsh.ts
Labels: none

update: Upgraded Lattice controller to 1.0.6 and tracks helm chart releases (#974)
  manifests/modules/networking/vpc-lattice/.workshop/manifests/kustomization.yaml
  manifests/modules/networking/vpc-lattice/.workshop/manifests/nlb.yaml
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/networking/vpc-lattice/.workshop/terraform/outputs.tf
  manifests/modules/networking/vpc-lattice/.workshop/terraform/vars.tf
  test/util/src/lib/markdownsh.ts
  website/docs/networking/vpc-lattice/setup.md
Labels: content/networking

Bump RDS engine version to 8.0.37
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/main.tf
Labels: none

Track RDS MySQL engine version with renovatebot
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/main.tf
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/vars.tf
Labels: none

Adjusted curl used to wait for kubecost
  website/docs/observability/kubecost/introduction.md
Labels: content/observability

Fixed required-time blocks
  website/docs/aiml/inferentia/index.md
  website/docs/automation/controlplanes/ack/index.md
  website/docs/automation/controlplanes/crossplane/index.md
  website/docs/automation/gitops/argocd/index.md
  website/docs/automation/gitops/flux/index.md
  website/docs/autoscaling/compute/cluster-autoscaler/index.md
  website/docs/autoscaling/compute/karpenter/index.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/index.md
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/index.md
  website/docs/fundamentals/exposing/ingress/index.md
  website/docs/fundamentals/exposing/loadbalancer/index.md
  website/docs/fundamentals/fargate/index.md
  website/docs/fundamentals/managed-node-groups/basics/index.md
  website/docs/fundamentals/managed-node-groups/graviton/index.md
  website/docs/fundamentals/managed-node-groups/spot/index.md
  website/docs/fundamentals/storage/ebs/index.md
  website/docs/fundamentals/storage/efs/index.md
  website/docs/introduction/getting-started/index.md
  website/docs/introduction/helm/index.md
  website/docs/networking/vpc-cni/network-policies/index.md
  website/docs/networking/vpc-cni/prefix/index.md
  website/docs/networking/vpc-cni/security-groups-for-pods/index.md
  website/docs/networking/vpc-lattice/index.md
  website/docs/observability/container-insights/index.md
  website/docs/observability/kubecost/index.md
  website/docs/observability/logging/cluster-logging/index.md
  website/docs/observability/logging/pod-logging/index.md
  website/docs/observability/open-source-metrics/index.md
  website/docs/observability/opensearch/index.md
  website/docs/observability/resource-view/index.md
  website/docs/security/amazon-eks-pod-identity/index.md
  website/docs/security/cluster-access-management/index.md
  website/docs/security/iam-roles-for-service-accounts/index.md
  website/docs/security/kyverno/index.md
  website/docs/security/pod-security-standards/index.md
  website/docs/security/secrets-management/sealed-secrets/index.md
Labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability

Fix various react component names to upper case
  website/docs/automation/controlplanes/ack/configure-application.md
  website/docs/automation/controlplanes/crossplane/compositions.md
  website/docs/automation/controlplanes/crossplane/resources.md
  website/docs/autoscaling/compute/karpenter/further.md
  website/docs/fundamentals/exposing/ingress/adding-ingress.md
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
  website/docs/introduction/getting-started/about.md
  website/docs/observability/kubecost/costallocation.md
  website/docs/observability/kubecost/introduction.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/verifying-dynamo.md
Labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/observability

Simpler approach to diff
  website/docusaurus.config.js
  website/src/theme/prism-diff-highlight.css
  website/src/theme/prism-diff-highlight.js
  website/src/theme/prism-include-languages.js
Labels: none

Move components to imports
  website/src/remark/include-kustomization.js
  website/src/remark/time.js
Labels: none

Fixing spelling issues
  .spelling
  cspell.config.yaml
  website/docs/observability/index.md
Labels: content/observability

Fix class name attributes
  website/src/theme/DocSidebarItem/Category/index.js
  website/src/theme/DocSidebarItem/Link/index.js
Labels: none

Fix kubectl node output column alignment
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/autoscaling-coredns-usecase.md
  website/docs/fundamentals/managed-node-groups/graviton/configuring-graviton.md
  website/docs/fundamentals/managed-node-groups/spot/create-spot-capacity.md
  website/docs/networking/vpc-cni/custom-networking/provision-new-node-group.md
Labels: content/fundamentals, content/autoscaling, content/networking

feat: Implement UI element to annotate YAML files
  manifests/modules/autoscaling/compute/karpenter/nodepool/kustomization.yaml
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodeclass.yaml
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
  manifests/modules/autoscaling/compute/karpenter/scale/deployment.yaml
  manifests/modules/autoscaling/workloads/hpa/hpa.yaml
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/compute/karpenter/node-provisioning.md
  website/docs/autoscaling/compute/karpenter/setup-provisioner.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/configure-hpa.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/components/YamlFile/index.tsx
  website/src/components/YamlFile/styles.module.css
  website/src/css/custom.scss
  website/src/remark/include-yaml.js
  website/src/theme/CodeBlock/Line/index.js
  website/src/theme/CodeBlock/Line/styles.module.css
  website/src/theme/MDXComponents.js
Labels: content/autoscaling

Fix spelling issues
  cspell.config.yaml
  website/docs/autoscaling/compute/karpenter/setup-provisioner.md
Labels: content/autoscaling

Properly ignore yaml spelling issues
  cspell.config.yaml
Labels: none

Various tweaks to karpenter lab with new explanation
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/compute/karpenter/node-provisioning.md
  website/docs/autoscaling/compute/karpenter/setup-provisioner.md
Labels: content/autoscaling

Make it clearer where inferentia lab image comes from
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/outputs.tf
  website/docs/aiml/inferentia/compile.md
Labels: none

updating to latest branch
  website/docs/aiml/index.md
Labels: none

added new directory for chatbot
  website/docs/aiml/ai-chatbot/_category_.json
  website/docs/aiml/ai-chatbot/assets/CreateModel.png
  website/docs/aiml/ai-chatbot/assets/Inference.png
  website/docs/aiml/ai-chatbot/compile.md
  website/docs/aiml/ai-chatbot/conclusion.md
  website/docs/aiml/ai-chatbot/gradio.md
  website/docs/aiml/ai-chatbot/index.md
  website/docs/aiml/ai-chatbot/inference.md
  website/docs/aiml/ai-chatbot/tests/hook-suite.sh
  website/docs/aiml/ai-chatbot/wrapup.md
Labels: none

added new configuration files
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/vars.tf
  manifests/modules/aiml/chatbot/Dockerfile
  manifests/modules/aiml/chatbot/base/kustomization.yaml
  manifests/modules/aiml/chatbot/base/namespace.yaml
  manifests/modules/aiml/chatbot/base/serviceaccount.yaml
  manifests/modules/aiml/chatbot/compiler/compiler.yaml
  manifests/modules/aiml/chatbot/compiler/kustomization.yaml
  manifests/modules/aiml/chatbot/compiler/trace.py
  manifests/modules/aiml/chatbot/gradio/gradio-ui.yaml
  manifests/modules/aiml/chatbot/gradio/kustomization.yaml
  manifests/modules/aiml/chatbot/inference/inference.py
  manifests/modules/aiml/chatbot/inference/inference.yaml
  manifests/modules/aiml/chatbot/inference/kustomization.yaml
  manifests/modules/aiml/chatbot/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool.yaml
  manifests/modules/aiml/chatbot/ray-service-llama2.yaml
  manifests/modules/aiml/chatbot/ray_serve_llama2.py
Labels: none

Improve reliability of curl to check ArgoCD server
  website/docs/automation/gitops/argocd/access_argocd.md
Labels: none

Added snapshot workflow
  .github/workflows/publish-snapshot.yaml
  hack/publish-snapshot.sh
Labels: none

Fix snapshot workflow
  .github/workflows/publish-snapshot.yaml
  hack/publish-snapshot.sh
Labels: none

Fix snapshot workflow
  .github/workflows/publish-snapshot.yaml
Labels: none

Fix typo in snapshot publish script
  hack/publish-snapshot.sh
Labels: none

Pass correct argument to snapshot script
  .github/workflows/publish-snapshot.yaml
Labels: none

Fix exec scripts working on ECS
  hack/exec.sh
Labels: none

Fix ArgoCD URL check
  website/docs/automation/gitops/argocd/access_argocd.md
  website/docs/automation/gitops/argocd/cluster_bootstrap.md
Labels: none

Entirely replace kubeconfig in reset-environment
  lab/bin/reset-environment
Labels: none

Remove old publish workflow
  .github/workflows/preview-prod.yaml
Labels: none

Fix protocol in ArgoCD URL echo
  website/docs/automation/gitops/argocd/access_argocd.md
Labels: none

Automerge most renovatebot dependencies
  renovate.json
Labels: none

Remove old rshell example
  lab/scripts/rshell-cleanup.sh
  lab/scripts/rshell-setup.sh
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
