Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

new: Added a new lab 'Mountpoint for S3' (#1176)
  .spelling
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/vars.tf
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
  website/docs/fundamentals/storage/mountpoint-s3/10-ephemeral-container-storage.md
  website/docs/fundamentals/storage/mountpoint-s3/20-introduction-to-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/assets/assets-emptydir.webp
  website/docs/fundamentals/storage/mountpoint-s3/assets/assets-s3.webp
  website/docs/fundamentals/storage/mountpoint-s3/index.md
Labels: content/fundamentals

Testing workflow for vscode
  .github/workflows/test-cloudformation.yaml
  Makefile
  hack/deploy-ide-cfn.sh
  hack/destroy-ide-cfn.sh
  lab/cfn/eks-workshop-ide-cfn.yaml
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

Run publish steps as part of release workflow
  .github/workflows/release.yaml
Labels: none

Fix ap-southeast-1 quick launch link
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

Add IAM policy to IDE role
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

Simplify releaser code, add it to yarn workspaces
  .github/workflows/release.yaml
  package.json
  releaser/index.js
  releaser/package-lock.json
  yarn.lock
Labels: none

update: Added note related to CoreDNS autoscaling
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
Labels: content/autoscaling

update: Added note related to CoreDNS autoscaling (#1197)
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
Labels: content/autoscaling

Added duration for s3 lab
  website/test-durations.json
Labels: none

Remove estimated time
  website/docs/fundamentals/storage/mountpoint-s3/index.md
Labels: content/fundamentals

Tidy some IAM permissions
  lab/iam/policies/iam.yaml
  lab/iam/policies/labs2.yaml
Labels: none

Attach IDE CFN as release artifact
  .github/workflows/release.yaml
Labels: none

Fix AWS credentials sequence
  .github/workflows/release.yaml
Labels: none

Add secret name CFN output
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

fix: adds missing permsions to the 'eks-workshop-ide-ec2' IAM policy
  lab/iam/policies/ec2.yaml
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/index.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/index.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/index.md
Labels: none

Update `CODE_OF_CONDUCT.md`
  CODE_OF_CONDUCT.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/index.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/index.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/index.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/index.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/docs/introduction/setup/aws-event.md`
  website/docs/introduction/setup/aws-event.md
Labels: content/introduction

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/aws-event.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/your-account/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/your-account/index.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/your-account/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/your-account/index.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/your-account/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/introduction/setup/your-account/index.md
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
