Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

PR request check changes
  manifests/.workshop/terraform/base.tf
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/high-availability/index.md
Labels: content/observability

updated revision
  website/docs/fundamentals/storage/mountpoint-s3/20-introduction-to-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

hashicorp/aws version change in base.tf
  manifests/.workshop/terraform/base.tf
Labels: none

doc build check change
  website/test-durations.json
Labels: none

updated assets-s3.webp
  website/docs/fundamentals/storage/mountpoint-s3/assets/assets-s3.webp
Labels: content/fundamentals

precommit checks passing
  hack/validate-terraform.sh
  manifests/.workshop/terraform/base.tf
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
Labels: content/observability

minor fix
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/high-availability/index.md
Labels: content/observability

blanks-around-lists
  website/docs/observability/high-availability/index.md
Labels: content/observability

Resiliency changes (#1113)
  hack/run-tests.sh
  hack/validate-terraform.sh
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/ec2.yaml
  lab/iam/policies/iam.yaml
  lab/iam/policies/labs3.yaml
  manifests/.workshop/terraform/base.tf
  manifests/modules/observability/resiliency/.workshop/cleanup.sh
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/observability/resiliency/.workshop/terraform/vars.tf
  manifests/modules/observability/resiliency/high-availability/config/kustomization.yaml
  manifests/modules/observability/resiliency/high-availability/config/scale_and_affinity_patch.yaml
  manifests/modules/observability/resiliency/scripts/AZ-verify-clusters.sh
  manifests/modules/observability/resiliency/scripts/create-blueprint.sh
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  manifests/modules/observability/resiliency/scripts/node-failure.sh
  manifests/modules/observability/resiliency/scripts/pod-failure.sh
  manifests/modules/observability/resiliency/scripts/testing.sh
  manifests/modules/observability/resiliency/scripts/verify-cluster.sh
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/high-availability/02-pod-failure.md
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
  website/docs/observability/high-availability/index.md
  website/docs/observability/high-availability/tests/hook-suite.sh
  website/test-durations.json
Labels: content/observability

add chaos engineering to test
  .github/workflows/test-observability.yaml
Labels: none

fix: add chaos engineering to tests (#1145)
  .github/workflows/test-observability.yaml
Labels: none

test resiliency-changes
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/07-az-failure.md
Labels: content/observability

pre-commit changes
  manifests/modules/observability/resiliency/.workshop/terraform/outputs.tf
Labels: none

Update test-observability.yaml
  .github/workflows/test-observability.yaml
Labels: none

chore: fix minor typos
  website/docs/introduction/getting-started/microservices.md
  website/docs/introduction/navigating-labs.md
Labels: content/introduction

chore: Fix load balancer introduction text to properly set module expectations
  website/docs/fundamentals/exposing/aws-lb-controller.md
Labels: content/fundamentals

chore: Minor change to Helm install example so that text 'using the Helm chart we found above' makes sense
  website/docs/introduction/helm/index.md
Labels: content/introduction

cleanup and fis service-linked role
  lab/iam/policies/iam.yaml
  manifests/modules/observability/resiliency/.workshop/cleanup.sh
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
Labels: none

minor change
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/06-az-setup.md
Labels: content/observability

pod troubleshooting scenarios
  manifests/modules/troubleshooting/pod/crash/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/deployment.yaml.tpl
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/image/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/image/deployment.yaml
  manifests/modules/troubleshooting/pod/permissions/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/deployment.yaml.tpl
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/vars.tf
  website/docs/troubleshooting/pod/assets/rep-not-found.webp
  website/docs/troubleshooting/pod/assets/repo-found.webp
  website/docs/troubleshooting/pod/image_pull_1.md
  website/docs/troubleshooting/pod/image_pull_2.md
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/pod/pod_stuck.md
Labels: none

Update efs-csi-driver.md
  website/docs/fundamentals/storage/efs/efs-csi-driver.md
Labels: content/fundamentals

Update using-dynamo.md
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
Labels: content/security

Update using-dynamo.md
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
Labels: content/security

Update use-pod-identity.md
  website/docs/security/amazon-eks-pod-identity/use-pod-identity.md
Labels: content/security

Fixing log command
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

Update aws-lb-controller.md
  website/docs/fundamentals/exposing/aws-lb-controller.md
Labels: content/fundamentals

fix: ALB controller will be installed in the lab (#1156)
  website/docs/fundamentals/exposing/aws-lb-controller.md
Labels: content/fundamentals

fix: Update Karpenter log query command
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

update: Pod Identity language fixes (#1152)
  website/docs/security/amazon-eks-pod-identity/use-pod-identity.md
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
Labels: content/security

Added instructions for PR prefixes, PR check to validate
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr.yaml
Labels: none

Added PR check for content label
  .github/workflows/pr.yaml
  docs/reviewer_checklist.md
Labels: none

Fixed recommendation
  docs/reviewer_checklist.md
Labels: none

fix: Minor documentation updates; typos and other updates (#1150)
  website/docs/introduction/getting-started/microservices.md
  website/docs/introduction/helm/index.md
  website/docs/introduction/navigating-labs.md
Labels: content/introduction

Fix ap-southeast-1 link
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

Various fixes
  website/docs/automation/controlplanes/ack/configure-application.md
  website/docs/automation/controlplanes/crossplane/compositions/claims.md
  website/docs/automation/controlplanes/crossplane/compositions/creating-a-composition.md
  website/docs/automation/controlplanes/crossplane/compositions/index.md
  website/docs/automation/controlplanes/crossplane/compositions/testing.md
  website/docs/automation/controlplanes/crossplane/configure-application.md
  website/docs/automation/controlplanes/crossplane/how-it-works.md
  website/docs/automation/controlplanes/crossplane/index.md
  website/docs/automation/controlplanes/crossplane/resources.md
Labels: none

Resolve pre-commit
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

fix: Fix ap-southeast-1 CloudFormation link (#1157)
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

Debug log statement for Fargate scheduling
  website/docs/fundamentals/fargate/tests/hook-enabling.sh
Labels: content/fundamentals

Removed reference to old ASSUME_ROLE variable
  docs/authoring_content.md
Labels: none

update: Various Secrets Manager language fixes
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security
