Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Updating the IAM Policy fix to make explicity the right IAM permissions needed
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Updating ALB troubleshooting to use the new app UI home image
  website/docs/troubleshooting/alb/assets/alb-working.webp
Labels: none

Adding a command to export NODE_NAME, for situations where the initial crashed
  website/docs/troubleshooting/workernodes/three.md
Labels: none

Update alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_1.md
Labels: none

Update alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Update alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

Also migrate ArgoCD
  manifests/modules/automation/gitops/argocd/.workshop/cleanup.sh
  manifests/modules/automation/gitops/argocd/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/argocd/.workshop/terraform/outputs.tf
  manifests/modules/automation/gitops/argocd/.workshop/terraform/vars.tf
  manifests/modules/automation/gitops/argocd/gitea/values.yaml
  manifests/modules/automation/gitops/argocd/values.yaml
  manifests/modules/automation/gitops/flux/.workshop/terraform/vars.tf
  website/docs/automation/gitops/argocd/access_argocd.md
  website/docs/automation/gitops/argocd/app-of-apps/deploy_applications.md
  website/docs/automation/gitops/argocd/app-of-apps/index.md
  website/docs/automation/gitops/argocd/app-of-apps/setup.md
  website/docs/automation/gitops/argocd/codecommit.md
  website/docs/automation/gitops/argocd/deploy_application.md
  website/docs/automation/gitops/argocd/gitea.md
  website/docs/automation/gitops/argocd/index.md
  website/docs/automation/gitops/argocd/tests/hook-clone.sh
Labels: none

fix: Flow issue and missing punctuation marks for Q CLI lab (#1601)
  website/docs/aiml/q-cli/advance-troubleshooting.md
  website/docs/aiml/q-cli/basic-troubleshooting.md
Labels: none

Typo
  website/docs/introduction/helm/index.md
Labels: content/introduction

update: Migrated Helm lab to sample app chart (#1592)
  manifests/modules/introduction/helm/.workshop/cleanup.sh
  manifests/modules/introduction/helm/.workshop/terraform/outputs.tf
  manifests/modules/introduction/helm/.workshop/terraform/vars.tf
  manifests/modules/introduction/helm/values.yaml
  website/docs/introduction/helm/index.md
  website/docs/introduction/helm/tests/hook-install.sh
  website/docs/introduction/helm/tests/hook-replicas.sh
Labels: content/introduction

update: Updated messaging in the troubleshooting DNS conclusion (#1600)
  website/docs/troubleshooting/dns/4-check-vpc.md
Labels: none

fix: Typos in ALB troubleshooting lab (#1598)
  website/docs/troubleshooting/alb/index.md
Labels: none

fix: Permissions issues in troubleshooting storage lab (#1603)
  lab/iam/policies/iam.yaml
Labels: none

Updated the list of security group rules
  website/docs/troubleshooting/dns/4-check-vpc.md
Labels: none

Fixing timeout for prepenv for troubleshooting module DNS scenario
  website/docs/troubleshooting/dns/index.md
Labels: none

update: Migrated Flux and Argo CD labs from CodeCommit to Gitea (#1591)
  manifests/modules/automation/gitops/argocd/.workshop/cleanup.sh
  manifests/modules/automation/gitops/argocd/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/argocd/.workshop/terraform/outputs.tf
  manifests/modules/automation/gitops/argocd/.workshop/terraform/vars.tf
  manifests/modules/automation/gitops/argocd/gitea/values.yaml
  manifests/modules/automation/gitops/argocd/values.yaml
  manifests/modules/automation/gitops/flux/.workshop/cleanup.sh
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/outputs.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/vars.tf
  manifests/modules/automation/gitops/flux/gitea/values.yaml
  website/docs/automation/gitops/argocd/access_argocd.md
  website/docs/automation/gitops/argocd/app-of-apps/deploy_applications.md
  website/docs/automation/gitops/argocd/app-of-apps/index.md
  website/docs/automation/gitops/argocd/app-of-apps/setup.md
  website/docs/automation/gitops/argocd/codecommit.md
  website/docs/automation/gitops/argocd/deploy_application.md
  website/docs/automation/gitops/argocd/gitea.md
  website/docs/automation/gitops/argocd/index.md
  website/docs/automation/gitops/argocd/tests/hook-clone.sh
  website/docs/automation/gitops/flux/cluster_bootstrap.md
  website/docs/automation/gitops/flux/codecommit.md
  website/docs/automation/gitops/flux/deploy_application.md
  website/docs/automation/gitops/flux/gitea.md
  website/docs/automation/gitops/flux/index.md
  website/docs/automation/gitops/flux/tests/hook-clone.sh
Labels: none

Updating ALB troubleshooting to use the new app UI home image
  website/docs/troubleshooting/alb/assets/alb-working.webp
Labels: none

fix: Fixed alb fix 7 UI home image (#1604)
  website/docs/troubleshooting/alb/assets/alb-working.webp
Labels: none

update: Update load balancer lab sample output to be accurate (#1594)
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction, content/fundamentals

Adding a command to export NODE_NAME, for situations where the initial crashed
  website/docs/troubleshooting/workernodes/three.md
Labels: none

fix: Added the command to export the NODE_NAME variable (#1605)
  website/docs/troubleshooting/workernodes/three.md
Labels: none

fix: Fixing timeout for prepenv for troubleshooting module DNS scenario (#1608)
  website/docs/troubleshooting/dns/index.md
Labels: none

update: Add YAML file explanations for Automation Labs (#1599)
  website/docs/automation/controlplanes/ack/provision-resources.md
  website/docs/automation/controlplanes/crossplane/compositions/claims.md
  website/docs/automation/controlplanes/crossplane/compositions/creating-a-composition.md
  website/docs/automation/controlplanes/crossplane/resources.md
  website/docs/automation/gitops/argocd/app-of-apps/setup.md
  website/docs/automation/gitops/argocd/deploy_application.md
Labels: none

Update basic-troubleshooting.md
  website/docs/aiml/q-cli/basic-troubleshooting.md
Labels: none

Update eks-mcp.json
  manifests/modules/aiml/q-cli/setup/eks-mcp.json
Labels: none

Update basic-troubleshooting.md
  website/docs/aiml/q-cli/basic-troubleshooting.md
Labels: none

Remove dependency
  yarn.lock
Labels: none

update: EKS MCP server version change (#1614)
  manifests/modules/aiml/q-cli/setup/eks-mcp.json
  website/docs/aiml/q-cli/basic-troubleshooting.md
  yarn.lock
Labels: none

Updated the list of security group rules
  website/docs/troubleshooting/dns/4-check-vpc.md
Labels: none

removing the explicity IAM policy off the document
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: none

fix: Updated Grafana screenshots on OSS metrics lab
  website/docs/observability/open-source-metrics/assets/dashboard.webp
  website/docs/observability/open-source-metrics/assets/datasource.webp
Labels: content/observability

fix: Updated Grafana screenshots on OSS metrics lab (#1637)
  website/docs/observability/open-source-metrics/assets/dashboard.webp
  website/docs/observability/open-source-metrics/assets/datasource.webp
Labels: content/observability

Port Q CLI fix
  manifests/modules/aiml/q-cli/setup/eks-mcp.json
  website/docs/aiml/q-cli/basic-troubleshooting.md
Labels: none

fix: Updated Grafana screenshots on OSS metrics lab (#1637)
  website/docs/observability/open-source-metrics/assets/dashboard.webp
  website/docs/observability/open-source-metrics/assets/datasource.webp
Labels: content/observability

Updating links broken due to Autoscaling move
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/inferentia/karpenter.md
  website/docs/observability/high-availability/01-scale.md
  website/docs/observability/resource-view/workloads-view/policy_view.md
  website/docs/troubleshooting/workernodes/index.md
Labels: content/observability

Dont default collapse Compute section
  website/docs/fundamentals/compute/_category_.json
Labels: content/fundamentals

Fix test durations
  website/test-durations.json
Labels: none

Remove autoscaling workflow
  .github/workflows/test-autoscaling.yaml
Labels: none

Regroup fundamentals tests
  .github/workflows/test-fundamentals.yaml
Labels: none

fix: Cluster autoscaler thresholds need adjusted
  manifests/modules/autoscaling/compute/cluster-autoscaler/deployment.yaml
  manifests/modules/autoscaling/compute/overprovisioning/scale/deployment.yaml
  website/docs/fundamentals/compute/managed-node-groups/cluster-autoscaler/overprovisioning/scaling.md
Labels: content/fundamentals
