Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

Update setting-up.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

Update setting-up.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

Update setting-up.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

Update setting-up.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

Update adot.md
  website/docs/observability/open-source-metrics/adot.md
Labels: content/observability

docs: Update ascp.md (#1447)
  website/docs/security/secrets-management/secrets-manager/ascp.md
Labels: content/security

update: Various language fixes to Ray Serve lab (#1443)
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  website/docs/aiml/chatbot/add-mistral.md
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/mistral.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/setup.md
  website/docs/aiml/chatbot/using.md
  website/docs/aiml/index.md
  website/docs/costoptimization/index.md
  website/docs/costoptimization/savingsplans/assets/figure1.webp
  website/docs/costoptimization/savingsplans/assets/figure2.webp
  website/docs/costoptimization/savingsplans/assets/figure3.webp
  website/docs/costoptimization/savingsplans/estimatingandbuying.md
  website/docs/costoptimization/savingsplans/index.md
Labels: content/cost-optimization

Fix formatting
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
Labels: none

Add note on pause pod deployment
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

update: Added ExternalDNS to Ingress lab (#1413)
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/outputs.tf
  manifests/modules/exposing/ingress/.workshop/terraform/vars.tf
  manifests/modules/exposing/ingress/external-dns/ingress.yaml
  manifests/modules/exposing/ingress/external-dns/kustomization.yaml
  website/docs/fundamentals/exposing/ingress/external-dns.md
  website/docs/fundamentals/exposing/ingress/index.md
  website/static/img/services/route53.png
Labels: content/fundamentals

update: YAML breakdown for Overprovisioning section (#1449)
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

fix: Make OpenTelemetry collector config easier to read (#1450)
  website/docs/observability/open-source-metrics/adot.md
Labels: content/observability

new: Add module for CodePipeline EKS action.
  lab/iam/policies/labs2.yaml
  lab/iam/policies/labs3.yaml
  lab/scripts/installer.sh
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/cleanup.sh
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/main.tf
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/outputs.tf
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/vars.tf
  manifests/modules/automation/continuousdelivery/codepipeline/ci-ingress/ingress.yaml
  manifests/modules/automation/continuousdelivery/codepipeline/ci-ingress/kustomization.yaml
  website/docs/automation/continuousdelivery/codepipeline/assets/change_history.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ecr_action_input.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ecr_image.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/eks_action_logs.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ui_first_change.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ui_second_change.webp
  website/docs/automation/continuousdelivery/codepipeline/deploy_application.md
  website/docs/automation/continuousdelivery/codepipeline/index.md
  website/docs/automation/continuousdelivery/codepipeline/other_features.md
  website/docs/automation/continuousdelivery/codepipeline/pipeline_setup.md
  website/docs/automation/continuousdelivery/codepipeline/tests/hook-suite.sh
  website/docs/automation/continuousdelivery/index.md
Labels: none

Update renovate.json
  renovate.json
Labels: none

Fix ExternalDNS lab
  lab/iam/policies/labs3.yaml
  manifests/modules/exposing/ingress/.workshop/cleanup.sh
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
  manifests/modules/exposing/ingress/external-dns/ingress.yaml
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

feat: Banner promotions on eksworkshop.com homepage (#1266)
  website/src/components/HomepageBanner/index.js
  website/src/components/HomepageBanner/styles.module.css
  website/src/pages/index.js
Labels: none

chore: Update homepage promo link (#1448)
  website/src/components/HomepageBanner/index.js
Labels: none

add css styling to fix image render issue
  website/src/components/HomepageBanner/styles.module.css
Labels: none

Update index.md
  website/docs/fundamentals/managed-node-groups/basics/affinity/index.md
Labels: content/fundamentals

Update renovate.json
  renovate.json
Labels: none

Better tests for ExternalDNS
  website/docs/fundamentals/exposing/ingress/external-dns.md
  website/docs/fundamentals/exposing/ingress/tests/hook-dns-curl.sh
  website/docs/fundamentals/exposing/ingress/tests/hook-dns-logs.sh
Labels: content/fundamentals

Fix prepare timeout for zfs lab
  website/docs/fundamentals/storage/fsx-for-openzfs/index.md
Labels: content/fundamentals

Update index.md
  website/docs/fundamentals/managed-node-groups/basics/affinity/index.md
Labels: content/fundamentals

docs: Added YAML file explanations for 'Pod Affinity and Anti-Affinity' section (#1467)
  website/docs/fundamentals/managed-node-groups/basics/affinity/index.md
Labels: content/fundamentals

Update scheduling-graviton.md
  website/docs/fundamentals/managed-node-groups/graviton/scheduling-graviton.md
Labels: content/fundamentals

Update external-dns.md for new line after output
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

fix: correct code-terminal in smartMode
  website/src/remark/code-terminal.js
Labels: none

docs: Added YAML file explanations for 'Run pods on Graviton' section (#1481)
  website/docs/fundamentals/managed-node-groups/graviton/scheduling-graviton.md
Labels: content/fundamentals

Ensure Kyverno is ready before applying policy
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
Labels: content/networking

fix: correct code-terminal in smart mode (#1483)
  website/src/remark/code-terminal.js
Labels: none

Update external-dns.md for new line after output (#1482)
  website/docs/fundamentals/exposing/ingress/external-dns.md
Labels: content/fundamentals

Update cloud-bursting.md
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
Labels: content/networking

chore: Bump AWS TF provider
  manifests/.workshop/terraform/base.tf
Labels: none

chore: Bump AWS TF provider (#1489)
  manifests/.workshop/terraform/base.tf
Labels: none

update: Ensure Kyverno is ready before applying policy (#1487)
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
Labels: content/networking

update: Removed CI section from Flux lab
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/outputs.tf
  website/docs/automation/gitops/flux/ci.md
  website/docs/automation/gitops/flux/index.md
Labels: none

update: Removed CI section from Flux lab (#1490)
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/outputs.tf
  website/docs/automation/gitops/flux/ci.md
  website/docs/automation/gitops/flux/index.md
Labels: none

Disable mergify
  .mergify.yml
Labels: none

Improved maintainability by using chart, made consistent with other labs
  lab/iam/policies/labs3.yaml
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/cleanup.sh
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/main.tf
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/pipeline.yaml
  manifests/modules/automation/continuousdelivery/codepipeline/ci-ingress/ingress.yaml
  manifests/modules/automation/continuousdelivery/codepipeline/ci-ingress/kustomization.yaml
  manifests/modules/automation/continuousdelivery/codepipeline/repo/Dockerfile
  manifests/modules/automation/continuousdelivery/codepipeline/repo/values.yaml
  website/docs/automation/continuousdelivery/_category_.json
  website/docs/automation/continuousdelivery/codepipeline/assets/ecr_image.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline-complete.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline-deploy-detail.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline.webp
  website/docs/automation/continuousdelivery/codepipeline/deploy_application.md
  website/docs/automation/continuousdelivery/codepipeline/git.md
  website/docs/automation/continuousdelivery/codepipeline/index.md
  website/docs/automation/continuousdelivery/codepipeline/other_features.md
  website/docs/automation/continuousdelivery/codepipeline/pipeline_setup.md
  website/docs/automation/continuousdelivery/codepipeline/tests/hook-deployment.sh
Labels: none

Added explanation of git repo contents
  website/docs/automation/continuousdelivery/codepipeline/deploy_application.md
  website/docs/automation/continuousdelivery/codepipeline/git.md
Labels: none

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*
