Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/fundamentals/exposing/ingress/index.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/fundamentals/exposing/ingress/index.md
Labels: none

Update `website/i18n/kr/docusaurus-plugin-content-docs/current/fundamentals/exposing/ingress/multiple-ingress.md`
  website/i18n/kr/docusaurus-plugin-content-docs/current/fundamentals/exposing/ingress/multiple-ingress.md
Labels: none

Delete unused file
  website/docs/fundamentals/exposing/_category_.json
Labels: content/fundamentals

Update cluster.yaml
  cluster/eksctl/cluster.yaml
Labels: none

fix: Skip final RDS snapshot in SG for Pods
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/main.tf
Labels: none

fix: Skip final RDS snapshot in SG for Pods (#1218)
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/main.tf
Labels: none

Port skipping final snapshot
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/main.tf
Labels: none

fix: `make serve` does not build docusaurus site
  Makefile
  package.json
Labels: none

Fix serve command
  package.json
Labels: none

Fix eks addon coredns command to use lowercase
  manifests/modules/troubleshooting/dns/.workshop/cleanup.sh
  website/docs/troubleshooting/dns/step2-check-coredns.md
Labels: none

Update steering.md
  governance/steering.md
Labels: none

Change to 1.31
  cluster/eksctl/cluster.yaml
  cluster/terraform/variables.tf
  hack/lib/kubectl-version.sh
  lab/scripts/installer.sh
  lab/scripts/setup.sh
  renovate.json
  website/docusaurus.config.js
Labels: none

feat: Update EKS version to 1.31 (#1225)
  cluster/eksctl/cluster.yaml
  cluster/terraform/variables.tf
  hack/lib/kubectl-version.sh
  lab/scripts/installer.sh
  lab/scripts/setup.sh
  renovate.json
  website/docusaurus.config.js
Labels: none

fix: Add missing permissions to IDE role for EFS lab (#1199)
  lab/iam/policies/ec2.yaml
Labels: none

Add devenv files
  .gitignore
  devenv.lock
  devenv.nix
  devenv.yaml
  direnvrc
Labels: none

Adding Hyperlink to Modern Engineering on AWS
  website/docs/aiml/modern-engineering-on-aws/index.md
Labels: none

docs: Adding Hyperlink to Modern Engineering on AWS
  website/docs/aiml/modern-engineering-on-aws/index.md
Labels: none

fix: Fix IAM role for S3 Mountpoint lab
  lab/iam/policies/labs3.yaml
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
Labels: none

fix: Fix IAM role for S3 Mountpoint lab (#1227)
  lab/iam/policies/labs3.yaml
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
Labels: none

Disable chatbot test
  .github/workflows/test-aiml.yaml
Labels: none

fix: Now need to install CRDs in VPC Lattice lab
  website/docs/networking/vpc-lattice/setup.md
Labels: content/networking

fix: Now need to install CRDs in VPC Lattice lab (#1233)
  website/docs/networking/vpc-lattice/setup.md
Labels: content/networking

Update Workshop Name
  website/docs/aiml/genai-platform-aiml-delivery/index.md
  website/docs/aiml/modern-engineering-on-aws/index.md
Labels: none

Update Workshop Name
  website/docs/aiml/genai-platform-aiml-delivery/index.md
Labels: none

docs: Adding Hyperlink to Gen AI assisted Platform Engineering for AIML Delivery Workshop to MLOps Page (#1226)
  website/docs/aiml/genai-platform-aiml-delivery/index.md
Labels: none

Added FSxZ Terraform
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/vars.tf
Labels: none

fix: Install Terraform in precommit check
  .github/workflows/pr.yaml
Labels: none

fix: Install Terraform in precommit check (#1234)
  .github/workflows/pr.yaml
Labels: none

changes for mistral model
  manifests/modules/aiml/chatbot/gradio-mistral/gradio-ui.yaml
  manifests/modules/aiml/chatbot/gradio-mistral/kustomization.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-tran1.yaml
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/Dockerfile
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/kustomization.yaml
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/mistral1.py
  manifests/modules/aiml/chatbot/ray-service-neuron-mistral-chatbot/ray_service_mistral.yaml
  website/docs/aiml/chatbot/add-mistral.md
  website/docs/aiml/chatbot/gradio-mistral.md
  website/docs/aiml/chatbot/mistral.md
Labels: none

nodepool config
  manifests/modules/aiml/chatbot/nodepool/nodepool-tran1.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
Labels: none

Get eksctl version 0.202.0 from eksctlio
  lab/scripts/installer.sh
Labels: none

chore: Get eksctl from eksctlio (#1240)
  lab/scripts/installer.sh
Labels: none

update fsxn workshop module to new workshop format and change fs type to saz
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/outputs.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/vars.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/values.yaml
Labels: none

update fsxn output variables
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/outputs.tf
Labels: none

update fsxn module output variables index
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
Labels: none

update fsxn module iam naming conventio and fsxn SAZ attributes
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
Labels: none

update fsxn workshop walkthrough and add required IAM policies
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/labs4.yaml
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxn/.workshop/terraform/preprovision/main.tf
  manifests/modules/fundamentals/storage/fsxn/backend/fsxn-backend-nas.yaml
  manifests/modules/fundamentals/storage/fsxn/backend/fsxn-secret.yaml
  manifests/modules/fundamentals/storage/fsxn/backend/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxn/storageclass/kustomization.yaml
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
Labels: content/fundamentals

update cfn to run required IAM policies required for FSxN lab
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: none

Fix region name
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

chore: Trigger PR checks on other events
  .github/workflows/pr.yaml
Labels: none
