Repository aws-samples/eks-workshop-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: content/introduction, content/fundamentals, content/autoscaling, content/security, content/networking, content/observability, content/cost-optimization

.github/labeler.yml:

content/introduction:
  - environment/modules/introduction/**/*
  - website/docs/introduction/**/*

content/fundamentals:
  - environment/modules/fundamentals/**/*
  - website/docs/fundamentals/**/*

content/autoscaling:
  - environment/modules/autoscaling/**/*
  - website/docs/autoscaling/**/*

content/security:
  - environment/modules/security/**/*
  - website/docs/security/**/*

content/networking:
  - environment/modules/networking/**/*
  - website/docs/networking/**/*

content/observability:
  - environment/modules/observability/**/*
  - website/docs/observability/**/*

content/cost-optimization:
  - environment/modules/costoptimization/**/*
  - website/docs/costoptimization/**/*

issue-1382 fix : updated the s3pvclaim.yaml to read the region from env variable AWS_REGION and respective web changes
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
Labels: none

capitalized Pods and Daemonset
  website/docs/observability/logging/pod-logging/fluent-bit-cloudwatch.md
  website/docs/observability/logging/pod-logging/fluentbit-setup.md
Labels: content/observability

update: Simplified Kyverno configuration in Cloud Bursting lab, and minor updates to documentation in EKS Hybrid Nodes module (#1327)
  manifests/modules/networking/eks-hybrid-nodes/kyverno/policy.yaml
  manifests/modules/networking/eks-hybrid-nodes/kyverno/values.yaml
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
  website/docs/networking/eks-hybrid-nodes/connect-hybrid-node.md
  website/docs/networking/eks-hybrid-nodes/index.md
  website/docs/networking/eks-hybrid-nodes/routing-traffic.md
Labels: content/networking

Added hook for testing commands and changed arch diag
  website/docs/observability/logging/pod-logging/assets/fluentbit-architecture.webp
  website/docs/observability/logging/pod-logging/fluent-bit-cloudwatch.md
  website/docs/observability/logging/pod-logging/fluentbit-setup.md
  website/docs/observability/logging/pod-logging/tests/hook-pods-log.sh
Labels: content/observability

Delete website/docs/fundamentals/storage/fsx-for-netapp-ontap/.notest
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/.notest
Labels: content/fundamentals

updated example logs and added hook scripts for validation
  website/docs/observability/logging/pod-logging/fluent-bit-cloudwatch.md
  website/docs/observability/logging/pod-logging/fluentbit-setup.md
  website/docs/observability/logging/pod-logging/tests/hook-desc-cm.sh
  website/docs/observability/logging/pod-logging/tests/hook-get-all.sh
Labels: content/observability

changed fluent-bit to Fluent Bit
  website/docs/observability/logging/pod-logging/fluent-bit-cloudwatch.md
Labels: content/observability

Update main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
Labels: none

Update outputs.tf
  manifests/modules/exposing/ingress/.workshop/terraform/outputs.tf
Labels: none

adding LAB to ALB module and updating scenarios names
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_7.md
  website/docs/troubleshooting/alb/index.md
Labels: none

Update outputs.tf
  manifests/modules/exposing/ingress/.workshop/terraform/outputs.tf
Labels: none

Update vars.tf
  manifests/modules/exposing/ingress/.workshop/terraform/vars.tf
Labels: none

Update main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
Labels: none

Fix for issue - https://github.com/aws-samples/eks-workshop-v2/issues/1403
  website/docs/observability/opensearch/control-plane-logs.md
Labels: content/observability

Fix: The formatting in the "Before you start" section needs correction
  website/docs/troubleshooting/alb/index.md
Labels: none

fixing constructs highlight numbers
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/alb_fix_7.md
Labels: none

Fixing order
  website/docs/troubleshooting/alb/index.md
  website/docs/troubleshooting/cni/index.md
  website/docs/troubleshooting/dns/index.md
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/workernodes/index.md
Labels: none

Removing commented code from terraform files
  manifests/modules/troubleshooting/alb/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/cni/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/lab-setup.log
Labels: none

Fixing yaml highlight construct
  manifests/modules/troubleshooting/alb/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/alb/files/iam_issue_service_account_role.yaml
Labels: none

fix: allow s3 lab to work outside of us-west-2 (#1402)
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

docs: Fix for #1185 and #1403 (#1400)
  website/README.md
  website/docs/observability/logging/pod-logging/assets/fluentbit-architecture.webp
  website/docs/observability/logging/pod-logging/fluent-bit-cloudwatch.md
  website/docs/observability/logging/pod-logging/fluentbit-setup.md
  website/docs/observability/logging/pod-logging/tests/hook-desc-cm.sh
  website/docs/observability/logging/pod-logging/tests/hook-get-all.sh
  website/docs/observability/logging/pod-logging/tests/hook-pods-log.sh
  website/docs/observability/opensearch/control-plane-logs.md
Labels: content/observability

Fixing yaml highlight construct and Link to see the terraform apply
  manifests/modules/troubleshooting/alb/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/alb/files/iam_issue_service_account_role.yaml
  website/docs/troubleshooting/alb/alb_fix_5.md
  website/docs/troubleshooting/alb/index.md
Labels: none

Moving Pod scenarios to a single prepare-environment for all three labs to reduce provisioning time, and fixing typos
  manifests/modules/troubleshooting/pod/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_crash.yaml.tpl
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_permissions.yaml.tpl
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/main.tf
  website/docs/fundamentals/storage/fsx-for-openzfs/index.md
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
  website/docs/troubleshooting/pod/crash/index.md
  website/docs/troubleshooting/pod/image/index.md
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/pod/permissions/index.md
  website/docs/troubleshooting/pod/tests/hook-fix-1.sh
  website/docs/troubleshooting/pod/tests/hook-fix-2.sh
  website/docs/troubleshooting/pod/tests/hook-fix-3.sh
Labels: content/fundamentals, content/networking

Saving current changes in troubleshooting-module-all-scenarios
  manifests/modules/troubleshooting/workernodes/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/workernodes/one/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/one/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/one/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/three/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/workernodes/two/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/two/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/workernodes/yaml/configmaps-new.yaml
  manifests/modules/troubleshooting/workernodes/yaml/configmaps.yaml
  manifests/modules/troubleshooting/workernodes/yaml/daemonset.yaml
  manifests/modules/troubleshooting/workernodes/yaml/deployment.yaml
  manifests/modules/troubleshooting/workernodes/yaml/metrics-server.yaml
  manifests/modules/troubleshooting/workernodes/yaml/namespace.yaml
  manifests/modules/troubleshooting/workernodes/yaml/priority-class.yaml
  website/docs/troubleshooting/workernodes/index.md
  website/docs/troubleshooting/workernodes/one/index.md
  website/docs/troubleshooting/workernodes/three/index.md
  website/docs/troubleshooting/workernodes/three/tests/hook-fix-3-1.sh
  website/docs/troubleshooting/workernodes/three/tests/hook-fix-3-2.sh
  website/docs/troubleshooting/workernodes/two/index.md
  website/docs/troubleshooting/workernodes/two/tests/hook-fix-2-2.sh
Labels: none

Add module back
  website/docusaurus.config.js
Labels: none

Fix IAM policy
  lab/iam/policies/labs4.yaml
Labels: none

mergin pod scenarios prep-env into prep-env to reduce deployment time
  manifests/modules/troubleshooting/dns/.workshop/terrraform/lab-setup.sh
  manifests/modules/troubleshooting/dns/.workshop/terrraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/terrraform/outputs.tf
  manifests/modules/troubleshooting/dns/.workshop/terrraform/vars.tf
  manifests/modules/troubleshooting/pod/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_crash.yaml.tpl
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_image.yaml
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/crash/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/deployment.yaml.tpl
  manifests/modules/troubleshooting/pod/crash/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/image/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/image/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/deployment.yaml.tpl
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/pod/permissions/.workshop/terraform/vars.tf
  website/docs/troubleshooting/pod/container_creating.md
  website/docs/troubleshooting/pod/crash/tests/hook-fix-3.sh
  website/docs/troubleshooting/pod/image/tests/hook-fix-1.sh
  website/docs/troubleshooting/pod/permissions/tests/hook-fix-2.sh
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/pod/public_image.md
  website/docs/troubleshooting/pod/tests/hook-fix-3.sh
  website/test-durations.json
Labels: none

Fixing pod cleanup.sh execution
  manifests/modules/troubleshooting/pod/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_crash.yaml.tpl
  website/docs/troubleshooting/pod/container_creating.md
Labels: none

Fixing pod cleanup and hook
  manifests/modules/troubleshooting/pod/.workshop/cleanup.sh
  website/docs/troubleshooting/pod/tests/hook-fix-3.sh
Labels: none

merging workernodes into a single prep-env to optimize deployment
  .spelling
  manifests/modules/troubleshooting/workernodes/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/main.tf
  website/docs/troubleshooting/workernodes/index.md
  website/docs/troubleshooting/workernodes/one.md
  website/docs/troubleshooting/workernodes/tests/hook-fix-1-1.sh
  website/docs/troubleshooting/workernodes/tests/hook-fix-1-2.sh
  website/docs/troubleshooting/workernodes/tests/hook-fix-2-1.sh
  website/docs/troubleshooting/workernodes/tests/hook-fix-2-2.sh
  website/docs/troubleshooting/workernodes/tests/hook-fix-2-3.sh
  website/docs/troubleshooting/workernodes/tests/hook-fix-3-1.sh
  website/docs/troubleshooting/workernodes/tests/hook-suite.sh
  website/docs/troubleshooting/workernodes/three.md
  website/docs/troubleshooting/workernodes/three/tests/hook-suite.sh
  website/docs/troubleshooting/workernodes/two.md
  website/docs/troubleshooting/workernodes/two/tests/hook-suite.sh
Labels: none

removed CNI module and website
  manifests/modules/troubleshooting/cni/.workshop/cleanup.sh
  manifests/modules/troubleshooting/cni/.workshop/ssm.sh
  manifests/modules/troubleshooting/cni/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/cni/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/cni/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/cni/workload/deployment.yaml
  manifests/modules/troubleshooting/cni/workload/kustomization.yaml
  website/docs/troubleshooting/cni/cni_fix_1.md
  website/docs/troubleshooting/cni/cni_fix_5.md
  website/docs/troubleshooting/cni/cni_fix_9.md
  website/docs/troubleshooting/cni/index.md
  website/docs/troubleshooting/cni/ssm.sh
  website/docs/troubleshooting/cni/tests/hook-fix-1.sh
  website/docs/troubleshooting/cni/tests/hook-fix-5.sh
  website/docs/troubleshooting/cni/tests/hook-fix-9.sh
  website/docs/troubleshooting/cni/tests/hook-suite.sh
Labels: none

Preview mode notice for troubleshooting modules
  website/docs/troubleshooting/alb/index.md
  website/docs/troubleshooting/dns/index.md
  website/docs/troubleshooting/index.md
  website/docs/troubleshooting/pod/index.md
  website/docs/troubleshooting/workernodes/index.md
Labels: none

bump terraform to 5.95
  manifests/.workshop/terraform/base.tf
Labels: none

eks-workshop replaced with ENV var for cluster name on cleanup scripts (troubleshooting modules)
  manifests/modules/troubleshooting/dns/.workshop/cleanup.sh
  manifests/modules/troubleshooting/dns/.workshop/lab-setup.sh
  manifests/modules/troubleshooting/workernodes/.workshop/cleanup.sh
Labels: none

chore(deps): bump terraform to 5.95 (#1407)
  manifests/.workshop/terraform/base.tf
Labels: none

added cluster ENV into output files for troubleshooting modules
  manifests/modules/troubleshooting/alb/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/dns/.workshop/terrraform/outputs.tf
  manifests/modules/troubleshooting/pod/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/outputs.tf
Labels: none

Fix CRD cleanup
  manifests/modules/fundamentals/storage/fsxn/.workshop/cleanup.sh
Labels: none

Use cluster name variable to find FSXN file system ID
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
Labels: content/fundamentals

Wait for operator install
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
Labels: content/fundamentals

Update(main.tf): add current vpc
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
Labels: none
