Repository aws-samples/eks-workshop-v2, pull requests merged in 2023-11, with the labels that each got.

#738 Fixing time out issue during test
  website/docs/aiml/inferentia/compile.md
Labels: bug

#727 update: Change Crossplane lab to use DynamoDB instead of RDS
  manifests/modules/automation/controlplanes/crossplane/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/crossplane/.workshop/manifests/kustomization.yaml
  manifests/modules/automation/controlplanes/crossplane/.workshop/manifests/nlb.yaml
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/addon.tf
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/providers/aws-upbound/controller-config.yaml
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/providers/aws-upbound/provider-config.yaml
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/providers/aws-upbound/provider.yaml
  manifests/modules/automation/controlplanes/crossplane/application/deployment.yaml
  manifests/modules/automation/controlplanes/crossplane/application/dynamodb-crossplane-configmap.yaml
  manifests/modules/automation/controlplanes/crossplane/application/kustomization.yaml
  manifests/modules/automation/controlplanes/crossplane/compositions/application/deployment.yaml
  manifests/modules/automation/controlplanes/crossplane/compositions/application/nlb.yaml
  manifests/modules/automation/controlplanes/crossplane/compositions/claim/claim.yaml
  manifests/modules/automation/controlplanes/crossplane/compositions/composition/composition.yaml
  manifests/modules/automation/controlplanes/crossplane/compositions/composition/definition.yaml
  manifests/modules/automation/controlplanes/crossplane/compositions/composition/env-var-transformer.yaml
  manifests/modules/automation/controlplanes/crossplane/compositions/composition/kustomization.yaml
  manifests/modules/automation/controlplanes/crossplane/compositions/composition/options.env
  manifests/modules/automation/controlplanes/crossplane/compositions/composition/table.yaml
  manifests/modules/automation/controlplanes/crossplane/compositions/definition.yaml
  manifests/modules/automation/controlplanes/crossplane/managed/env-var-transformer.yaml
  manifests/modules/automation/controlplanes/crossplane/managed/kustomization.yaml
  manifests/modules/automation/controlplanes/crossplane/managed/options.env
  manifests/modules/automation/controlplanes/crossplane/managed/rds-dbgroup.yaml
  manifests/modules/automation/controlplanes/crossplane/managed/rds-instance.yaml
  manifests/modules/automation/controlplanes/crossplane/managed/rds-security-group.yaml
  manifests/modules/automation/controlplanes/crossplane/managed/table.yaml
  website/docs/automation/controlplanes/crossplane/assets/Crossplane-desired-current-ddb.png
  website/docs/automation/controlplanes/crossplane/assets/cart-items-present.png
  website/docs/automation/controlplanes/crossplane/assets/claim-architecture-drawing.png
  website/docs/automation/controlplanes/crossplane/assets/ddb-claim-architecture.png
  website/docs/automation/controlplanes/crossplane/assets/eks-workshop-crossplane.jpg
  website/docs/automation/controlplanes/crossplane/assets/eks-workshop-crossplane.png
  website/docs/automation/controlplanes/crossplane/compositions.md
  website/docs/automation/controlplanes/crossplane/how-it-works.md
  website/docs/automation/controlplanes/crossplane/index.md
  website/docs/automation/controlplanes/crossplane/resources.md
  website/docs/automation/controlplanes/crossplane/tests/hook-table.sh
Labels: content/automation

#592 new: Spot instances with Managed Node Groups
  cluster/eksctl/cluster.yaml
  cluster/terraform/eks.tf
  lab/bin/delete-nodegroup
  lab/scripts/installer.sh
  manifests/modules/fundamentals/mng/.workshop/cleanup.sh
  manifests/modules/fundamentals/mng/.workshop/terraform/addon.tf
  manifests/modules/fundamentals/mng/basics/.workshop/cleanup.sh
  manifests/modules/fundamentals/mng/basics/.workshop/terraform/addon.tf
  manifests/modules/fundamentals/mng/basics/taints/nodegroup.yaml
  manifests/modules/fundamentals/mng/basics/taints/nodeselector-w-toleration/deployment.yaml
  manifests/modules/fundamentals/mng/basics/taints/nodeselector-w-toleration/kustomization.yaml
  manifests/modules/fundamentals/mng/basics/taints/nodeselector-wo-toleration/deployment.yaml
  manifests/modules/fundamentals/mng/basics/taints/nodeselector-wo-toleration/kustomization.yaml
  manifests/modules/fundamentals/mng/spot/.workshop/cleanup.sh
  manifests/modules/fundamentals/mng/spot/.workshop/terraform/addon.tf
  manifests/modules/fundamentals/mng/spot/deployment/deployment.yaml
  manifests/modules/fundamentals/mng/spot/deployment/kustomization.yaml
  website/docs/fundamentals/managed-node-groups/_category_.json
  website/docs/fundamentals/managed-node-groups/basics/adding-nodes/index.md
  website/docs/fundamentals/managed-node-groups/basics/adding-nodes/tests/hook-add-node.sh
  website/docs/fundamentals/managed-node-groups/basics/adding-nodes/tests/hook-wait-node.sh
  website/docs/fundamentals/managed-node-groups/basics/affinity/index.md
  website/docs/fundamentals/managed-node-groups/basics/assets/added-nodes.png
  website/docs/fundamentals/managed-node-groups/basics/index.md
  website/docs/fundamentals/managed-node-groups/basics/taints/configuring-taints.md
  website/docs/fundamentals/managed-node-groups/basics/taints/implementing-tolerations.md
  website/docs/fundamentals/managed-node-groups/basics/taints/index.md
  website/docs/fundamentals/managed-node-groups/basics/taints/tests/hook-configure-taints.sh
  website/docs/fundamentals/managed-node-groups/basics/taints/tests/hook-pending-pod.sh
  website/docs/fundamentals/managed-node-groups/basics/tests/hook-suite.sh
  website/docs/fundamentals/managed-node-groups/basics/upgrades/index.md
  website/docs/fundamentals/managed-node-groups/index.md
  website/docs/fundamentals/managed-node-groups/spot/assets/managed-spot-arch.png
  website/docs/fundamentals/managed-node-groups/spot/create-spot-capacity.md
  website/docs/fundamentals/managed-node-groups/spot/index.md
  website/docs/fundamentals/managed-node-groups/spot/instance-diversification.md
  website/docs/fundamentals/managed-node-groups/spot/spot-workload.md
Labels: content/fundamentals

#722 new: Kubernetes events and OpenSearch
  hack/run-tests.sh
  manifests/modules/observability/opensearch/.workshop/cleanup.sh
  manifests/modules/observability/opensearch/.workshop/terraform/addon.tf
  manifests/modules/observability/opensearch/.workshop/terraform/addon_infrastructure.tf
  manifests/modules/observability/opensearch/dashboard/events-dashboard.ndjson
  manifests/modules/observability/opensearch/events-exporter/values.yaml
  manifests/modules/observability/opensearch/scenarios/base/kustomization.yaml
  manifests/modules/observability/opensearch/scenarios/base/namespace.yaml
  manifests/modules/observability/opensearch/scenarios/base/scenario-a.yaml
  manifests/modules/observability/opensearch/scenarios/base/scenario-b.yaml
  manifests/modules/observability/opensearch/scenarios/base/scenario-c.yaml
  manifests/modules/observability/opensearch/scenarios/fix/kustomization.yaml
  website/docs/observability/opensearch/access-opensearch.md
  website/docs/observability/opensearch/assets/eks-opensearch-overview.svg
  website/docs/observability/opensearch/assets/events-dashboard.png
  website/docs/observability/opensearch/assets/events-debug.png
  website/docs/observability/opensearch/assets/events-detail.png
  website/docs/observability/opensearch/assets/opensearch-confirm-1.png
  website/docs/observability/opensearch/assets/opensearch-confirm-2.png
  website/docs/observability/opensearch/assets/opensearch-dashboard-launch.png
  website/docs/observability/opensearch/assets/opensearch-login.png
  website/docs/observability/opensearch/assets/scenario-a.png
  website/docs/observability/opensearch/assets/scenario-b.png
  website/docs/observability/opensearch/assets/scenario-c.png
  website/docs/observability/opensearch/events.md
  website/docs/observability/opensearch/index.md
Labels: content/observability

#674 new: VPC CNI Network Policy lab
  cluster/eksctl/cluster.yaml
  cluster/terraform/eks.tf
  lab/scripts/installer.sh
  manifests/modules/networking/network-policies/.workshop/cleanup.sh
  manifests/modules/networking/network-policies/.workshop/terraform/addon.tf
  manifests/modules/networking/network-policies/apply-network-policies/allow-catalog-ingress-db.yaml
  manifests/modules/networking/network-policies/apply-network-policies/allow-catalog-ingress-webservice.yaml
  manifests/modules/networking/network-policies/apply-network-policies/allow-order-ingress-fail-debug.yaml
  manifests/modules/networking/network-policies/apply-network-policies/allow-order-ingress-success-debug.yaml
  manifests/modules/networking/network-policies/apply-network-policies/allow-ui-egress.yaml
  manifests/modules/networking/network-policies/apply-network-policies/default-deny.yaml
  manifests/modules/networking/network-policies/setup/ingress.yaml
  manifests/modules/networking/network-policies/setup/kustomization.yaml
  website/docs/networking/network-policies/debug.md
  website/docs/networking/network-policies/egress.md
  website/docs/networking/network-policies/index.md
  website/docs/networking/network-policies/ingress.md
  website/docs/networking/network-policies/setup.md
Labels: content/networking

#741 chore: Fix Flux CI tests, tweaked some language and explanations
  manifests/modules/automation/gitops/flux/.workshop/terraform/addon.tf
  manifests/modules/automation/gitops/flux/ci-ingress/ingress.yaml
  manifests/modules/automation/gitops/flux/ci-ingress/kustomization.yaml
  website/docs/automation/gitops/flux/ci.md
  website/docs/automation/gitops/flux/codecommit.md
  website/docs/automation/gitops/flux/deploy_application.md
Labels: content/automation

#748 update: User installs EBS CSI addon
  manifests/modules/fundamentals/storage/ebs/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/ebs/.workshop/terraform/addon.tf
  website/docs/fundamentals/storage/ebs/ebs-csi-driver.md
  website/docs/fundamentals/storage/ebs/index.md
Labels: content/fundamentals

#750 update: Container Insights Prometheus with ADOT
  manifests/modules/observability/container-insights/.workshop/terraform/addon.tf
  manifests/modules/observability/container-insights/adot/opentelemetrycollector.yaml
  website/docs/observability/container-insights/assets/cw-dashboard.jpg
  website/docs/observability/container-insights/assets/dashboard-edit-metrics.jpg
  website/docs/observability/container-insights/assets/dashboard-metrics.jpg
  website/docs/observability/container-insights/visualize-application-metrics-cloudwatch.md
Labels: content/observability

#756 update: Create VPC CNI section under networking
  website/docs/networking/index.mdx
  website/docs/networking/vpc-cni/_category_.json
  website/docs/networking/vpc-cni/custom-networking/.notest
  website/docs/networking/vpc-cni/custom-networking/assets/vpc-secondary-networking.png
  website/docs/networking/vpc-cni/custom-networking/configure-vpc-cni.md
  website/docs/networking/vpc-cni/custom-networking/deploy-sample-application.md
  website/docs/networking/vpc-cni/custom-networking/index.md
  website/docs/networking/vpc-cni/custom-networking/provision-new-node-group.md
  website/docs/networking/vpc-cni/custom-networking/tests/hook-suite.sh
  website/docs/networking/vpc-cni/custom-networking/vpc.md
  website/docs/networking/vpc-cni/index.mdx
  website/docs/networking/vpc-cni/network-policies/debug.md
  website/docs/networking/vpc-cni/network-policies/egress.md
  website/docs/networking/vpc-cni/network-policies/index.md
  website/docs/networking/vpc-cni/network-policies/ingress.md
  website/docs/networking/vpc-cni/network-policies/setup.md
  website/docs/networking/vpc-cni/prefix/configure.md
  website/docs/networking/vpc-cni/prefix/consume.md
  website/docs/networking/vpc-cni/prefix/index.md
  website/docs/networking/vpc-cni/prefix/prefix_flow.jpeg
  website/docs/networking/vpc-cni/prefix/prefix_subnets.png
  website/docs/networking/vpc-cni/prefix/tests/hook-suite.sh
  website/docs/networking/vpc-cni/security-groups-for-pods/add-sg.md
  website/docs/networking/vpc-cni/security-groups-for-pods/assets/error.png
  website/docs/networking/vpc-cni/security-groups-for-pods/assets/oidc.png
  website/docs/networking/vpc-cni/security-groups-for-pods/assets/success.png
  website/docs/networking/vpc-cni/security-groups-for-pods/index.md
  website/docs/networking/vpc-cni/security-groups-for-pods/inspecting-pod.md
  website/docs/networking/vpc-cni/security-groups-for-pods/introduction.md
  website/docs/networking/vpc-cni/security-groups-for-pods/tests/hook-suite.sh
  website/docs/networking/vpc-cni/security-groups-for-pods/using-rds.md
Labels: content/networking

#685 upgrade gateway-api-controller to 0.0.16
  manifests/modules/networking/vpc-lattice/.workshop/terraform/addon.tf
  manifests/modules/networking/vpc-lattice/abtesting/nlb.yaml
  website/docs/networking/vpc-lattice/lattice-ab-testing.md
  website/docs/networking/vpc-lattice/setup.md
Labels: content/networking
