Repository aws-samples/eks-workshop-v2, pull requests merged in 2023-04, with the labels that each got.

#424 Spelling mistake
  website/docs/introduction/index.mdx
Labels: content/introduction

#430 Update Fargate CPU/Memory link to use EKS doc
  website/docs/fundamentals/fargate/sizing.md
Labels: content/fundamentals

#429 Spelling correction
  website/docs/fundamentals/managed-node-groups/taints/implementing-tolerations.md
Labels: content/fundamentals

#425 Fix number of replicas field
  website/docs/introduction/kustomize/index.md
Labels: content/introduction

#427 Update statement regarding 3rd checkout replica
  website/docs/fundamentals/managed-node-groups/affinity/index.md
Labels: content/fundamentals

#432 Edits to improve grammar, flow and consistency
  website/docs/fundamentals/storage/ebs/statefulset.md
Labels: content/fundamentals

#441 Move order of Networking modules to prioritize prefix delegation
  website/docs/networking/prefix/index.md
  website/docs/networking/security-groups-for-pods/index.md
Labels: automation/e2e-tests, content/networking

#370 Update using-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/using-dynamo.md
Labels: content/security

#435 Add note about Cloud9 ownership
  website/docs/introduction/assets/cloud9-arn.png
  website/docs/introduction/assets/cloud9-environments.png
  website/docs/introduction/ide.md
  website/docs/misc/assets/cloud9-arn.png
  website/docs/misc/assets/cloud9-environments.png
  website/docs/misc/assets/environment.png
  website/docs/misc/cloud9-access.md
Labels: content/introduction

#448 fix: Bump AMI version to 1.23.15
  terraform/modules/cluster/variables.tf
Labels: automation/e2e-tests

#449 Fixes tip and link in ide.md file
  website/docs/introduction/ide.md
Labels: content/introduction

#453 Adding verbiage about -f --follow option for logs output
  website/docs/introduction/getting-started/first.md
Labels: content/introduction

#459 Update commands and expected return values
  website/docs/fundamentals/managed-node-groups/index.md
Labels: content/fundamentals

#446 Correct the wrong private subnets value
  website/docs/networking/custom-networking/vpc.md
Labels: content/networking

#461 add networking video to workshop
  website/docs/networking/index.mdx
Labels: automation/e2e-tests, content/networking
