Repository aws-samples/eks-workshop-v2, pull requests merged in 2023-02, with the labels that each got.

#288 fix: Quick fixes for Security Module
  environment/workspace/modules/introduction/kustomize/deployment.yaml
  environment/workspace/modules/security/Guardduty/mount/privileged-pod-example.yaml
  environment/workspace/modules/security/pss-psa/baseline-namespace/deployment.yaml
  environment/workspace/modules/security/pss-psa/privileged-workload/deployment.yaml
  environment/workspace/modules/security/sealed-secrets/deployment.yaml
  terraform/templates/iam_policy.json
  website/docs/introduction/kustomize/index.md
  website/docs/security/guardduty/findings/anonymous-user/finding-3.2.md
  website/docs/security/guardduty/findings/anonymous-user/finding2.md
  website/docs/security/guardduty/findings/anonymous-user/finding3.md
  website/docs/security/guardduty/findings/finding1.md
  website/docs/security/guardduty/findings/finding4.md
  website/docs/security/guardduty/findings/finding5.md
  website/docs/security/guardduty/findings/finding7.md
  website/docs/security/iam-roles-for-service-accounts/add_irsa.md
  website/docs/security/iam-roles-for-service-accounts/index.md
  website/docs/security/iam-roles-for-service-accounts/introduction.md
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/iam-roles-for-service-accounts/verifying-dynamo.md
  website/docs/security/pod-security-standards/baseline.md
  website/docs/security/pod-security-standards/index.md
  website/docs/security/pod-security-standards/privileged.md
  website/docs/security/sealed-secrets/exploring-secrets.md
  website/docs/security/sealed-secrets/index.md
Labels: automation/e2e-tests, content/security, content/introduction

#296 fix: Cloud9 bootstrap process should run idempotently
  environment/installer.sh
  terraform/ide.tf
  terraform/modules/cluster/codecommit.tf
  terraform/modules/cluster/efs.tf
  terraform/modules/ide/cloud9.tf
  terraform/modules/ide/scripts/bootstrap.sh
Labels: automation/e2e-tests

#330 A couple of clarification
  Makefile
  website/docs/introduction/index.mdx
  website/docs/introduction/setup/your-account.md
  website/static/img/resource-view/service-endpoint.png
Labels: content/introduction

#331 Fix small typos
  environment/workspace/modules/fundamentals/storage/ebs/statefulset-mysql.yaml
  environment/workspace/modules/observability/container-insights/adot/opentelemetrycollector.yaml
  website/docs/automation/gitops/flux/deploy_application.md
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/index.md
  website/docs/fundamentals/exposing/ingress/adding-ingress.md
  website/docs/fundamentals/managed-node-groups/adding-nodes/index.md
  website/docs/fundamentals/managed-node-groups/affinity/index.md
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
  website/docs/introduction/getting-started/first.md
  website/docs/observability/open-source-metrics/adot.md
  website/docs/observability/open-source-metrics/amp-ws.md
Labels: content/fundamentals, content/autoscaling, content/observability, content/introduction
