Repository aws-samples/eks-workshop-v2, pull requests merged in 2023-05, with the labels that each got.

#422 adding VPC Lattice section
  environment/workspace/modules/networking/vpc-lattice/abtesting/deploymentv2.yaml
  environment/workspace/modules/networking/vpc-lattice/abtesting/kustomization.yaml
  environment/workspace/modules/networking/vpc-lattice/abtesting/servicev2.yaml
  environment/workspace/modules/networking/vpc-lattice/controller/deploy-namesystem.yaml
  environment/workspace/modules/networking/vpc-lattice/controller/deploy-resources.yaml
  environment/workspace/modules/networking/vpc-lattice/controller/eks-workshop-gw.yaml
  environment/workspace/modules/networking/vpc-lattice/controller/gatewayclass.yaml
  environment/workspace/modules/networking/vpc-lattice/controller/kustomization.yaml
  environment/workspace/modules/networking/vpc-lattice/controller/recommended-inline-policy.json
  environment/workspace/modules/networking/vpc-lattice/routes/checkout-route.yaml
  website/docs/networking/vpc-lattice/assets/checkout1.png
  website/docs/networking/vpc-lattice/assets/checkout2.png
  website/docs/networking/vpc-lattice/assets/checkoutroute.png
  website/docs/networking/vpc-lattice/assets/fundamentals-mapping.png
  website/docs/networking/vpc-lattice/assets/latticeprefix.png
  website/docs/networking/vpc-lattice/assets/preview-app.png
  website/docs/networking/vpc-lattice/assets/servicenetwork.png
  website/docs/networking/vpc-lattice/assets/shippingoptions.png
  website/docs/networking/vpc-lattice/assets/vpc_lattice_building_blocks.png
  website/docs/networking/vpc-lattice/cleanup.md
  website/docs/networking/vpc-lattice/fundamentals-mapping.png
  website/docs/networking/vpc-lattice/gatewayapicontroller.md
  website/docs/networking/vpc-lattice/index.md
  website/docs/networking/vpc-lattice/latticeabtesting.md
  website/docs/networking/vpc-lattice/setup.md
  website/docs/networking/vpc-lattice/traditionalabtesting.md
Labels: content/networking

#472 Corrected a wrong file path
  website/docs/security/guardduty/findings/finding7.md
Labels: content/security

#466 Update index.md
  website/docs/fundamentals/managed-node-groups/index.md
Labels: content/fundamentals

#411 feat: Argo CD lab with App of Apps pattern example
  environment/bin/reset-environment
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/Chart.yaml
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/templates/assets.yaml
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/templates/carts.yaml
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/templates/catalog.yaml
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/templates/checkout.yaml
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/templates/orders.yaml
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/templates/other.yaml
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/templates/rabbitmq.yaml
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/templates/ui.yaml
  environment/workspace/modules/automation/gitops/argocd/app-of-apps/values.yaml
  environment/workspace/modules/automation/gitops/argocd/apps-kustomization/assets/kustomization.yaml
  environment/workspace/modules/automation/gitops/argocd/apps-kustomization/carts/kustomization.yaml
  environment/workspace/modules/automation/gitops/argocd/apps-kustomization/catalog/kustomization.yaml
  environment/workspace/modules/automation/gitops/argocd/apps-kustomization/checkout/kustomization.yaml
  environment/workspace/modules/automation/gitops/argocd/apps-kustomization/orders/kustomization.yaml
  environment/workspace/modules/automation/gitops/argocd/apps-kustomization/other/kustomization.yaml
  environment/workspace/modules/automation/gitops/argocd/apps-kustomization/rabbitmq/kustomization.yaml
  environment/workspace/modules/automation/gitops/argocd/apps-kustomization/ui/deployment-patch.yaml
  environment/workspace/modules/automation/gitops/argocd/apps-kustomization/ui/kustomization.yaml
  website/docs/automation/gitops/argocd/app-of-apps/assets/argocd-app-of-apps.png
  website/docs/automation/gitops/argocd/app-of-apps/assets/argocd-ui-app-of-apps.png
  website/docs/automation/gitops/argocd/app-of-apps/assets/argocd-ui-apps-synced.png
  website/docs/automation/gitops/argocd/app-of-apps/assets/argocd-ui-apps-unknown.png
  website/docs/automation/gitops/argocd/app-of-apps/deploy_applications.md
  website/docs/automation/gitops/argocd/app-of-apps/index.md
  website/docs/automation/gitops/argocd/app-of-apps/setup.md
  website/docs/automation/gitops/argocd/app-of-apps/tests/hook-deploy.sh
  website/docs/automation/gitops/argocd/app-of-apps/tests/hook-update.sh
  website/docs/automation/gitops/argocd/app-of-apps/update_applications.md
  website/docs/automation/gitops/argocd/assets/argocd-sync.png
  website/docs/automation/gitops/argocd/cleanup/index.md
  website/docs/automation/gitops/argocd/tests/hook-suite.sh
Labels: content/automation

#452 feat: OSS application metrics
  Makefile
  environment/bin/reset-environment
  terraform/modules/cluster/addons.tf
  terraform/modules/cluster/container-insights-adot.tf
  terraform/modules/cluster/templates/dashboards/order-service-metrics-dashboard.json
  terraform/modules/cluster/templates/grafana.yaml
  website/docs/misc/cloud9-access.md
  website/docs/observability/open-source-metrics/application-metrics.md
  website/docs/observability/open-source-metrics/assets/editPanel.png
  website/docs/observability/open-source-metrics/assets/order-service-metrics-dashboard.png
  website/docs/observability/open-source-metrics/assets/promqlQuery.png
  website/docs/observability/open-source-metrics/assets/query.png
  website/docs/observability/open-source-metrics/assets/retailMetrics.png
  website/docs/observability/open-source-metrics/assets/totalOrderPrice.png
  website/docs/observability/open-source-metrics/assets/totalOrders.png
  website/docs/observability/open-source-metrics/assets/watchCount.png
  website/src/components/Terminal/index.tsx
Labels: content/observability
