Repository aws-samples/eks-workshop-v2, pull requests merged in 2023-03, with the labels that each got.

#318 Nominate Christina Andonov as maintainer for Automation WG
  governance/steering.md
Labels: governance

#329 adding observability maintainer
  governance/steering.md
Labels: governance

#349 Fixed a typo in line 110 that had a grep command
  website/docs/introduction/getting-started/first.md
Labels: content/introduction

#348 Fix issues with variables in GuardDuty module
  website/docs/security/guardduty/findings/anonymous-user/finding-3.2.md
Labels: content/security

#346 Fix tag filter for AWS Console link
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
Labels: content/fundamentals

#337 Update configMap_view.md
  website/docs/observability/resource-view/config-secret-view/configMap_view.md
Labels: content/observability

#352 removed 'deployment/assets' from the kubectl exec command on line 79 as it gives wrong output
  website/docs/fundamentals/storage/efs/deployments.md
Labels: content/fundamentals

#363 fix: Test utility should properly handle blocks with no commands
  test/util/src/lib/gatherer/gatherer.ts
  test/util/src/lib/markdownsh.ts
  test/util/src/lib/shell/shell.ts
  test/util/test-content/basics/empty.md
  test/util/tests/fixtures/basic/a.md
  test/util/tests/fixtures/basic/b.md
  test/util/tests/fixtures/basic/empty/block.md
  test/util/tests/fixtures/basic/nested/index.md
  test/util/tests/gatherer.test.ts
Labels: automation/e2e-tests

#364 chore: Support for TF 1.4
  .github/workflows/ci.yaml
  .github/workflows/e2e-dispatch.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/test-cleanup.yaml
  terraform/main.tf
  terraform/modules/cluster/providers.tf
  terraform/modules/ide/main.tf
  test/terraform/main.tf
Labels: automation/e2e-tests

#365 Update index.md
  website/docs/fundamentals/exposing/loadbalancer/index.md
Labels: content/fundamentals

#366 Update index.md
  website/docs/fundamentals/exposing/ingress/index.md
Labels: content/fundamentals

#368 Instructions to update lab environment
  website/docs/introduction/setup/your-account.md
Labels: automation/e2e-tests, content/introduction

#369 Revert video to ReactControls
  website/docs/introduction/index.mdx
Labels: content/introduction

#378 chore: Update `.gitignore` to ignore macos genrated `.DS_store` files
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .pre-commit-config.yaml
  website/docs/autoscaling/workloads/index.md
  website/docs/introduction/index.mdx
Labels: content/autoscaling, content/introduction

#347 Update adot.md
  website/docs/observability/open-source-metrics/adot.md
Labels: content/observability

#388 fix: Add missing try entries in IDE environment variable block
  terraform/ide.tf
Labels: automation/e2e-tests

#410 fix: Remove problematic blueprints addon
  terraform/modules/cluster/addons.tf
Labels: automation/e2e-tests
