Repository aws-samples/eks-workshop-v2, pull requests merged in 2024-11, with the labels that each got.

#1167 fix: No empty line at end of terminal copy
  website/src/components/Terminal/index.tsx
Labels: content/other

#1170 chore: Removed Cloud9 from documentation
  website/docs/introduction/navigating-labs.md
  website/docs/introduction/setup/your-account/index.md
Labels: content/other

#1173 update: Various language fixes to EFS lab
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
  website/docs/fundamentals/storage/efs/deployments.md
  website/docs/fundamentals/storage/efs/efs-csi-driver.md
  website/docs/fundamentals/storage/efs/index.md
Labels: content/fundamentals

#1179 fix: Policy view spelling error
  website/docs/observability/resource-view/workloads-view/policy_view.md
Labels: content/observability
