Repository aws-samples/eks-workshop-v2, pull requests merged in 2024-09, with the labels that each got.

#1107 update: Simplify Resource View section
  website/docs/observability/resource-view/addon_view.md
  website/docs/observability/resource-view/authentication/index.md
  website/docs/observability/resource-view/authentication/service-accounts.md
  website/docs/observability/resource-view/authorization/index.md
  website/docs/observability/resource-view/authorization/role-bindings.md
  website/docs/observability/resource-view/authorization/roles.md
  website/docs/observability/resource-view/cluster-view/index.md
  website/docs/observability/resource-view/cluster-view/namespace_view.md
  website/docs/observability/resource-view/cluster-view/nodes_view.md
  website/docs/observability/resource-view/config-secret-view/index.md
  website/docs/observability/resource-view/config-secret-view/secret_view.md
  website/docs/observability/resource-view/extensions/custom-resource-definitions.md
  website/docs/observability/resource-view/extensions/index.md
  website/docs/observability/resource-view/extensions/webhook-configurations.md
  website/docs/observability/resource-view/index.md
  website/docs/observability/resource-view/observability_view.md
  website/docs/observability/resource-view/service-networking-view/index.md
  website/docs/observability/resource-view/storage-view/csi_drivers.md
  website/docs/observability/resource-view/storage-view/csi_node.md
  website/docs/observability/resource-view/storage-view/index.md
  website/docs/observability/resource-view/storage-view/persistent-volume-claim.md
  website/docs/observability/resource-view/storage-view/persistent-volume.md
  website/docs/observability/resource-view/storage-view/storage-classes.md
  website/docs/observability/resource-view/storage-view/volume_attachement.md
  website/docs/observability/resource-view/workloads-view/_category_.json
  website/docs/observability/resource-view/workloads-view/auth_authz_view.md
  website/docs/observability/resource-view/workloads-view/cluster_view.md
  website/docs/observability/resource-view/workloads-view/daemonset_view.md
  website/docs/observability/resource-view/workloads-view/deployment_view.md
  website/docs/observability/resource-view/workloads-view/extensions_view.md
  website/docs/observability/resource-view/workloads-view/index.md
  website/docs/observability/resource-view/workloads-view/pods_view.md
  website/docs/observability/resource-view/workloads-view/policy_view.md
  website/docs/observability/resource-view/workloads-view/replicaset_view.md
  website/docs/observability/resource-view/workloads-view/secret_config_view.md
  website/docs/observability/resource-view/workloads-view/service_view.md
  website/docs/observability/resource-view/workloads-view/storage_view.md
  website/static/img/resource-view/eks-overview.jpg
  website/static/img/resource-view/eks-overview.png
  website/static/img/resource-view/find-add-ons.jpg
  website/static/img/resource-view/observability-view.jpg
  website/static/img/resource-view/pod-detail-structured.jpg
  website/static/img/resource-view/select-add-ons.jpg
Labels: content/observability

#1110 fix: Resolve IAM issues in AI/ML chatbot lab
  lab/iam/policies/labs2.yaml
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/outputs.tf
  manifests/modules/aiml/chatbot/.workshop/terraform/vars.tf
  manifests/modules/aiml/chatbot/nodepool/nodepool-inf2.yaml
  manifests/modules/aiml/chatbot/nodepool/nodepool-x86.yaml
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
  website/docs/aiml/chatbot/gradio.md
  website/docs/aiml/chatbot/nodepool.md
Labels: content/aiml

#1059 update: Changes to EKS cluster logging instructions
  website/docs/observability/logging/cluster-logging/assets/logging-cluster-control-plane-logging-tab.webp
  website/docs/observability/logging/cluster-logging/assets/logging-cluster-enable-control-plane-logging.webp
  website/docs/observability/logging/cluster-logging/assets/logging-cluster-observability-tab.webp
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
Labels: content/observability

#1082 update: Add references to Observability Accelerator
  .spelling
  website/docs/observability/assets/cloud-native-architecture.webp
  website/docs/observability/assets/oss-architecture.webp
  website/docs/observability/index.md
  website/docs/observability/kubecost/index.md
  website/docs/observability/logging/cluster-logging/enable-eks-logging.md
  website/docs/observability/logging/cluster-logging/log-insights.md
  website/docs/observability/logging/pod-logging/index.md
  website/docs/observability/open-source-metrics/index.md
Labels: content/observability

#1112 update: Upgrade Karpenter lab to v1
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/outputs.tf
  manifests/modules/autoscaling/compute/karpenter/.workshop/terraform/vars.tf
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodeclass.yaml
  manifests/modules/autoscaling/compute/karpenter/nodepool/nodepool.yaml
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/compute/karpenter/node-provisioning.md
  website/docs/autoscaling/compute/karpenter/setup-provisioner.md
Labels: content/autoscaling

#1115 update: Better explain load balancer and ingress YAML
  website/docs/fundamentals/exposing/ingress/adding-ingress.md
  website/docs/fundamentals/exposing/loadbalancer/adding-lb.md
Labels: content/fundamentals

#1117 fix: Resolve instability with SG for Pods lab cleanup
  manifests/modules/networking/securitygroups-for-pods/.workshop/cleanup.sh
Labels: content/security

#1118 fix: Improve reliability of custom networking cleanup
  manifests/modules/networking/custom-networking/.workshop/cleanup.sh
Labels: content/security

#1119 fix: Fix grammar to avoid confusion
  website/docs/introduction/helm/index.md
Labels: content/introduction
