Repository aws-samples/eks-workshop-v2, pull requests merged in 2024-10, with the labels that each got.

#1136 fix: Make sure NLBs are provisioned
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/security/eks-pod-identity/.workshop/terraform/main.tf
  manifests/modules/security/irsa/.workshop/terraform/main.tf
  website/docs/security/amazon-eks-pod-identity/verifying-dynamo.md
  website/docs/security/iam-roles-for-service-accounts/verifying-dynamo.md
Labels: content/other

#1111 update: AI/ML Inferentia lab also uses Trainium instances
  manifests/modules/aiml/inferentia/.workshop/cleanup.sh
  manifests/modules/aiml/inferentia/.workshop/terraform/main.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/outputs.tf
  manifests/modules/aiml/inferentia/.workshop/terraform/vars.tf
  manifests/modules/aiml/inferentia/compiler/compiler.yaml
  manifests/modules/aiml/inferentia/compiler/trace.py
  manifests/modules/aiml/inferentia/inference/inference.py
  manifests/modules/aiml/inferentia/inference/inference.yaml
  manifests/modules/aiml/inferentia/nodepool/nodepool.yaml
  website/docs/aiml/inferentia/compile.md
  website/docs/aiml/inferentia/index.md
  website/docs/aiml/inferentia/inference.md
  website/docs/aiml/inferentia/karpenter.md
Labels: content/aiml

#1140 update: Various over-provisioning language fixes
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/how-it-works.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/index.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/scaling.md
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

#1143 update: Various Kyverno language fixes
  manifests/modules/security/kyverno/.workshop/terraform/main.tf
  website/docs/security/kyverno/baseline-pss.md
  website/docs/security/kyverno/creating-policy.md
  website/docs/security/kyverno/index.md
  website/docs/security/kyverno/reports.md
  website/docs/security/kyverno/restricting-images.md
Labels: content/security

#1157 fix: Fix ap-southeast-1 CloudFormation link
  website/docs/introduction/setup/your-account/index.md
Labels: content/introduction

#1158 update: Updated ACK/Crossplane app re-configuration
  manifests/modules/automation/controlplanes/ack/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/outputs.tf
  manifests/modules/automation/controlplanes/ack/app/carts-serviceAccount.yaml
  manifests/modules/automation/controlplanes/ack/app/config.properties
  manifests/modules/automation/controlplanes/ack/app/kustomization.yaml
  manifests/modules/automation/controlplanes/ack/dynamodb/deployment.yaml
  manifests/modules/automation/controlplanes/ack/dynamodb/dynamodb-ack-configmap.yaml
  manifests/modules/automation/controlplanes/ack/dynamodb/kustomization.yaml
  manifests/modules/automation/controlplanes/ack/mq/fieldexports/env-var-transformer.yaml
  manifests/modules/automation/controlplanes/ack/mq/fieldexports/kustomization.yaml
  manifests/modules/automation/controlplanes/ack/mq/fieldexports/mq-ack-options.env
  manifests/modules/automation/controlplanes/ack/mq/fieldexports/mq-configmap-orders.yaml
  manifests/modules/automation/controlplanes/ack/mq/fieldexports/mq-fieldexports-orders.yaml
  manifests/modules/automation/controlplanes/ack/mq/k8s/env-var-transformer.yaml
  manifests/modules/automation/controlplanes/ack/mq/k8s/kustomization.yaml
  manifests/modules/automation/controlplanes/ack/mq/k8s/mq-ack-options.env
  manifests/modules/automation/controlplanes/ack/mq/k8s/mq-broker.yaml
  manifests/modules/automation/controlplanes/ack/mq/k8s/mq-security-group.yaml
  manifests/modules/automation/controlplanes/ack/mq/roles/env-var-transformer.yaml
  manifests/modules/automation/controlplanes/ack/mq/roles/kustomization.yaml
  manifests/modules/automation/controlplanes/ack/mq/roles/mq-ack-options.env
  manifests/modules/automation/controlplanes/ack/mq/roles/mq-iam-role.yaml
  manifests/modules/automation/controlplanes/ack/rds/application/deployment.yaml
  manifests/modules/automation/controlplanes/ack/rds/application/kustomization.yaml
  manifests/modules/automation/controlplanes/ack/rds/application/nlb.yaml
  manifests/modules/automation/controlplanes/ack/rds/fieldexports/env-var-transformer.yaml
  manifests/modules/automation/controlplanes/ack/rds/fieldexports/kustomization.yaml
  manifests/modules/automation/controlplanes/ack/rds/fieldexports/rds-ack-options.env
  manifests/modules/automation/controlplanes/ack/rds/fieldexports/rds-fieldexports.yaml
  manifests/modules/automation/controlplanes/ack/rds/fieldexports/rds-secret.yaml
  manifests/modules/automation/controlplanes/ack/rds/k8s/env-var-transformer.yaml
  manifests/modules/automation/controlplanes/ack/rds/k8s/kustomization.yaml
  manifests/modules/automation/controlplanes/ack/rds/k8s/rds-ack-options.env
  manifests/modules/automation/controlplanes/ack/rds/k8s/rds-dbgroup.yaml
  manifests/modules/automation/controlplanes/ack/rds/k8s/rds-instance.yaml
  manifests/modules/automation/controlplanes/ack/rds/k8s/rds-security-group.yaml
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/outputs.tf
  manifests/modules/automation/controlplanes/crossplane/app/carts-serviceAccount.yaml
  manifests/modules/automation/controlplanes/crossplane/app/config.properties
  manifests/modules/automation/controlplanes/crossplane/app/kustomization.yaml
  manifests/modules/automation/controlplanes/crossplane/application/deployment.yaml
  manifests/modules/automation/controlplanes/crossplane/application/dynamodb-crossplane-configmap.yaml
  manifests/modules/automation/controlplanes/crossplane/application/kustomization.yaml
  website/docs/automation/controlplanes/ack/configure-application.md
  website/docs/automation/controlplanes/ack/how-it-works.md
  website/docs/automation/controlplanes/ack/index.md
  website/docs/automation/controlplanes/ack/provision-resources.md
  website/docs/automation/controlplanes/ack/tests/hook-create-secret.sh
  website/docs/automation/controlplanes/crossplane/compositions.md
  website/docs/automation/controlplanes/crossplane/compositions/claims.md
  website/docs/automation/controlplanes/crossplane/compositions/creating-a-composition.md
  website/docs/automation/controlplanes/crossplane/compositions/index.md
  website/docs/automation/controlplanes/crossplane/compositions/testing.md
  website/docs/automation/controlplanes/crossplane/configure-application.md
  website/docs/automation/controlplanes/crossplane/how-it-works.md
  website/docs/automation/controlplanes/crossplane/index.md
  website/docs/automation/controlplanes/crossplane/resources.md
Labels: content/automation

#1159 update: Various Secrets Manager language fixes
  docs/authoring_content.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security

#1149 fix: Resiliency changes testing changes
  lab/iam/policies/iam.yaml
  manifests/modules/observability/resiliency/.workshop/cleanup.sh
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/outputs.tf
  manifests/modules/observability/resiliency/scripts/get-pods-by-az.sh
  website/docs/observability/high-availability/03-node-failure-no-fis.md
  website/docs/observability/high-availability/04-node-failure-partial-fis.md
  website/docs/observability/high-availability/05-node-failure-complete-fis.md
  website/docs/observability/high-availability/06-az-setup.md
  website/docs/observability/high-availability/07-az-failure.md
Labels: content/observability
