Repository aws-samples/eks-workshop-v2, pull requests merged in 2024-04, with the labels that each got.

#886 update: Fix ACK lab provisioning
  manifests/modules/automation/controlplanes/ack/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
Labels: content/automation

#892 update: Fix reference to StatefulSet in EFS lab
  website/docs/fundamentals/storage/efs/deployments.md
Labels: content/fundamentals

#893 update: Fix typos in Spot instance diversification description
  website/docs/fundamentals/managed-node-groups/spot/instance-diversification.md
Labels: content/fundamentals

#895 update: Watch all pods during cluster autoscaler scale out
  website/docs/autoscaling/compute/cluster-autoscaler/test-ca.md
Labels: content/autoscaling

#897 update: Fix typo in cluster autoscaler over-provisioning seciton
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/how-it-works.md
Labels: content/autoscaling

#911 update: Update flux module for 2.2.3
  website/docs/automation/gitops/flux/ci.md
  website/docs/automation/gitops/flux/cluster_bootstrap.md
Labels: content/automation

#898 update: Fix test explaining resources in cluster over-provisioning section
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling

#913 fix: Remove duplicate text in FSx ONTAP introduction
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/index.md
Labels: content/fundamentals

#795 fix: Set EKS cluster name in Terraform self-service instructions
  website/docs/introduction/setup/your-account/using-terraform.md
Labels: content/introduction
