Repository aws-samples/eks-workshop-v2, pull requests merged in 2024-02, with the labels that each got.

#817 feat: Update to 1.29
  cluster/eksctl/cluster.yaml
  cluster/terraform/variables.tf
  docs/eks_version_upgrades.md
  hack/lib/kubectl-version.sh
  hack/upgrade-k8s.sh
  lab/scripts/installer.sh
  lab/scripts/setup.sh
  website/docusaurus.config.js
Labels: automation/e2e-tests

#818 fix: Fix Guardduty cleanup page order
  website/docs/security/guardduty/cleanup.md
Labels: content/security

#789 new: EKS Pod Identity lab
  manifests/base-application/carts/deployment.yaml
  manifests/modules/security/eks-pod-identity/.workshop/cleanup.sh
  manifests/modules/security/eks-pod-identity/.workshop/terraform/addon.tf
  manifests/modules/security/eks-pod-identity/dynamo/carts-configMap.yaml
  manifests/modules/security/eks-pod-identity/dynamo/config.properties
  manifests/modules/security/eks-pod-identity/dynamo/kustomization.yaml
  website/docs/security/amazon-eks-pod-identity/assets/error.png
  website/docs/security/amazon-eks-pod-identity/assets/success.png
  website/docs/security/amazon-eks-pod-identity/index.md
  website/docs/security/amazon-eks-pod-identity/introduction.md
  website/docs/security/amazon-eks-pod-identity/tests/hook-enable-dynamo.sh
  website/docs/security/amazon-eks-pod-identity/tests/hook-enable-pod-identity.sh
  website/docs/security/amazon-eks-pod-identity/tests/hook-suite.sh
  website/docs/security/amazon-eks-pod-identity/understanding.md
  website/docs/security/amazon-eks-pod-identity/use-pod-identity.md
  website/docs/security/amazon-eks-pod-identity/using-dynamo.md
  website/docs/security/amazon-eks-pod-identity/verifying-dynamo.md
  website/docs/security/guardduty/cleanup.md
  website/docs/security/guardduty/enabling.md
  website/docs/security/guardduty/index.md
  website/docs/security/guardduty/log-monitoring/admin-default-sa.md
  website/docs/security/guardduty/log-monitoring/exposed_dashboard.md
  website/docs/security/guardduty/log-monitoring/index.md
  website/docs/security/guardduty/log-monitoring/privileged_container_mount.md
  website/docs/security/guardduty/log-monitoring/unsafe-kube-system.md
  website/docs/security/guardduty/runtime-monitoring/crypto-runtime.md
  website/docs/security/guardduty/runtime-monitoring/index.md
  website/docs/security/iam-roles-for-service-accounts/understanding.md
  website/docs/security/kyverno/baseline-pss.md
  website/docs/security/kyverno/creating-policy.md
  website/docs/security/kyverno/index.md
  website/docs/security/kyverno/reports.md
  website/docs/security/kyverno/restricting-images.md
  website/docs/security/pod-security-standards/baseline.md
  website/docs/security/pod-security-standards/index.md
  website/docs/security/pod-security-standards/privileged.md
  website/docs/security/pod-security-standards/restricted.md
  website/docs/security/secrets-management/exploring-secrets.md
  website/docs/security/secrets-management/index.md
  website/docs/security/secrets-management/sealed-secrets/index.md
  website/docs/security/secrets-management/sealed-secrets/installing-sealed-secrets.md
  website/docs/security/secrets-management/sealed-secrets/managing-sealing-keys.md
  website/docs/security/secrets-management/sealed-secrets/sealing-secrets.md
  website/docs/security/secrets-management/sealed-secrets/working.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security

#820 [FIX] Update ADOT version, fix VPC Lattice module cleanup, karpenter test
  manifests/modules/networking/vpc-lattice/.workshop/cleanup.sh
  manifests/modules/observability/container-insights/.workshop/terraform/addon.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/addon.tf
  website/docs/autoscaling/compute/karpenter/node-provisioning.md
Labels: content/autoscaling, content/networking, content/observability
