Repository aws-samples/eks-workshop-v2, pull requests merged in 2024-12, with the labels that each got.

#1192 chore: Establish root package.json file
  .github/workflows/pr.yaml
  .github/workflows/publish-content.yaml
  .github/workflows/publish-snapshot.yaml
  .github/workflows/release.yaml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  Makefile
  docs/authoring_content.md
  hack/lib/common-env.sh
  hack/publish-content.sh
  hack/publish-snapshot.sh
  hack/serve.sh
  netlify.toml
  package.json
  website/netlify-build.sh
  website/package-lock.json
  website/package.json
  website/src/theme/DocSidebarItem/Category/index.js
  yarn.lock
Labels: content/other

#1193 chore: Update EKS blueprints addons TF module to v1.19
  manifests/modules/aiml/chatbot/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/crossplane/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/autoscaling/compute/cluster-autoscaler/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/hpa/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/keda/.workshop/terraform/main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
  manifests/modules/exposing/load-balancer/.workshop/terraform/main.tf
  manifests/modules/networking/network-policies/.workshop/terraform/main.tf
  manifests/modules/networking/vpc-lattice/.workshop/terraform/main.tf
  manifests/modules/observability/container-insights/.workshop/terraform/main.tf
  manifests/modules/observability/kubecost/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/observability/resiliency/.workshop/terraform/main.tf
  manifests/modules/security/eks-pod-identity/.workshop/terraform/main.tf
  manifests/modules/security/irsa/.workshop/terraform/main.tf
Labels: content/other

#1180 update: Install ACK with helm chart
  manifests/modules/automation/controlplanes/ack/.workshop/cleanup.sh
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/main.tf
  manifests/modules/automation/controlplanes/ack/.workshop/terraform/outputs.tf
  website/docs/automation/controlplanes/ack/how-it-works.md
  website/docs/automation/controlplanes/ack/index.md
  website/docs/automation/controlplanes/ack/introduction.md
Labels: content/automation

#1162 docs: Update authoring_content.md with fix for issue #1160
  docs/authoring_content.md
Labels: content/other

#1176 new: Added a new lab 'Mountpoint for S3'
  .spelling
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/vars.tf
  manifests/modules/fundamentals/storage/s3/deployment/deployment.yaml
  manifests/modules/fundamentals/storage/s3/deployment/kustomization.yaml
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
  website/docs/fundamentals/storage/mountpoint-s3/10-ephemeral-container-storage.md
  website/docs/fundamentals/storage/mountpoint-s3/20-introduction-to-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
  website/docs/fundamentals/storage/mountpoint-s3/assets/assets-emptydir.webp
  website/docs/fundamentals/storage/mountpoint-s3/assets/assets-s3.webp
  website/docs/fundamentals/storage/mountpoint-s3/index.md
Labels: content/fundamentals

#1197 update: Added note related to CoreDNS autoscaling
  website/docs/autoscaling/workloads/cluster-proportional-autoscaler/install.md
Labels: content/autoscaling
