Repository aws-samples/eks-workshop-v2, pull requests merged in 2024-01, with the labels that each got.

#774 new: Control plane logs to OpenSearch
  manifests/modules/observability/opensearch/.workshop/cleanup.sh
  manifests/modules/observability/opensearch/.workshop/terraform/addon.tf
  manifests/modules/observability/opensearch/.workshop/terraform/lambda/logs-to-opensearch.js
  manifests/modules/observability/opensearch/opensearch-dashboards.ndjson
  website/docs/observability/opensearch/assets/eks-control-plane-logs-dashboard.png
  website/docs/observability/opensearch/assets/eks-control-plane-logs-detail.png
  website/docs/observability/opensearch/assets/eks-control-plane-logs-overview.svg
  website/docs/observability/opensearch/assets/eks-control-plane-logs-scheduler.png
  website/docs/observability/opensearch/assets/opensearch-dashboard-launch.png
  website/docs/observability/opensearch/control-plane-logs.md
  website/docs/observability/opensearch/events.md
  website/docs/observability/opensearch/index.md
  website/docs/observability/opensearch/pod-logs.md
  website/docs/observability/opensearch/tests/hook-cluster-logging.sh
Labels: content/observability

#796 update: Added link to Karpenter Workshop
  website/docs/autoscaling/compute/karpenter/further.md
  website/src/components/LaunchButton/index.tsx
  website/src/components/LaunchButton/styles.module.css
  website/src/theme/MDXComponents.js
Labels: content/autoscaling

#800 new: Policy-as-code with Kyverno
  cluster/terraform/vpc.tf
  manifests/modules/security/kyverno/.workshop/cleanup.sh
  manifests/modules/security/kyverno/.workshop/terraform/addon.tf
  manifests/modules/security/kyverno/baseline-policy/baseline-policy.yaml
  manifests/modules/security/kyverno/images/restrict-registries.yaml
  manifests/modules/security/kyverno/simple-policy/add-labels-mutation-policy.yaml
  manifests/modules/security/kyverno/simple-policy/require-labels-policy.yaml
  manifests/modules/security/kyverno/simple-policy/ui-labeled/deployment.yaml
  manifests/modules/security/kyverno/simple-policy/ui-labeled/kustomization.yaml
  website/docs/security/guardduty/cleanup.md
  website/docs/security/guardduty/enabling.md
  website/docs/security/guardduty/index.md
  website/docs/security/guardduty/log-monitoring/admin-default-sa.md
  website/docs/security/guardduty/log-monitoring/exposed_dashboard.md
  website/docs/security/guardduty/log-monitoring/index.md
  website/docs/security/guardduty/log-monitoring/privileged_container_mount.md
  website/docs/security/guardduty/log-monitoring/unsafe-kube-system.md
  website/docs/security/guardduty/runtime-monitoring/crypto-runtime.md
  website/docs/security/guardduty/runtime-monitoring/index.md
  website/docs/security/kyverno/assets/.gitkeep
  website/docs/security/kyverno/assets/aws-logo.png
  website/docs/security/kyverno/assets/ky-arch.png
  website/docs/security/kyverno/assets/psa-pss.jpeg
  website/docs/security/kyverno/baseline-pss.md
  website/docs/security/kyverno/creating-policy.md
  website/docs/security/kyverno/index.md
  website/docs/security/kyverno/reports.md
  website/docs/security/kyverno/restricting-images.md
  website/docs/security/pod-security-standards/assets/k8s-admission-controllers.png
  website/docs/security/pod-security-standards/assets/using-pss-psa.png
  website/docs/security/pod-security-standards/baseline.md
  website/docs/security/pod-security-standards/index.md
  website/docs/security/pod-security-standards/privileged.md
  website/docs/security/pod-security-standards/restricted.md
  website/docs/security/secrets-management/exploring-secrets.md
  website/docs/security/secrets-management/index.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security
