Repository aws-samples/eks-workshop-v2, pull requests merged in 2025-02, with the labels that each got.

#1240 chore: Get eksctl from eksctlio
  lab/scripts/installer.sh
Labels: content/other

#1256 fix: Login to ECR Public in Karpenter lab
  website/docs/autoscaling/compute/karpenter/configure.md
Labels: content/autoscaling

#1257 fix: Update wait command in VPC Lattice lab
  devenv.nix
  website/docs/networking/vpc-lattice/configuring-routes.md
Labels: content/networking

#1258 fix: Use metrics server addon in HPA lab
  manifests/modules/autoscaling/workloads/hpa/.workshop/terraform/main.tf
  manifests/modules/autoscaling/workloads/hpa/.workshop/terraform/vars.tf
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/index.md
  website/docs/autoscaling/workloads/horizontal-pod-autoscaler/metric-server.md
Labels: content/autoscaling

#1260 fix: Better verbiage for WhenEmptyOrUnderutilized in Karpenter lab
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

#1266 feat: Banner promotions on eksworkshop.com homepage
  website/src/components/HomepageBanner/index.js
  website/src/components/HomepageBanner/styles.module.css
  website/src/pages/index.js
Labels: enhancement, content/other

#1263 new: Amazon FSx for OpenZFS module
  lab/iam/policies/labs2.yaml
  manifests/modules/fundamentals/storage/fsxz/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/vars.tf
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fs-deployment.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fsxz-fs-pvc.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-vol/fsxz-vol-pvc.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-vol/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-vol/vol-deployment.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/fsxz-fs-sc.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-vol/fsxz-vol-sc.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-vol/kustomization.yaml
  website/docs/fundamentals/storage/fsx-for-openzfs/assets/assets-emptydir.webp
  website/docs/fundamentals/storage/fsx-for-openzfs/assets/assets-fsxz.webp
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/ephemeral-container-storage.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-openzfs/index.md
  website/docs/fundamentals/storage/index.md
  website/test-durations.json
Labels: content/fundamentals
