Repository aws-samples/eks-workshop-v2, pull requests merged in 2025-01, with the labels that each got.

#1218 fix: Skip final RDS snapshot in SG for Pods
  manifests/modules/networking/securitygroups-for-pods/.workshop/terraform/preprovision/main.tf
Labels: content/networking

#1225 feat: Update EKS version to 1.31
  cluster/eksctl/cluster.yaml
  cluster/terraform/variables.tf
  hack/lib/kubectl-version.sh
  lab/scripts/installer.sh
  lab/scripts/setup.sh
  renovate.json
  website/docusaurus.config.js
Labels: content/other

#1227 fix: Fix IAM role for S3 Mountpoint lab
  lab/iam/policies/labs3.yaml
  manifests/modules/fundamentals/storage/s3/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/s3/.workshop/terraform/main.tf
Labels: content/fundamentals

#1233 fix: Now need to install CRDs in VPC Lattice lab
  website/docs/networking/vpc-lattice/setup.md
Labels: content/networking

#1234 fix: Install Terraform in precommit check
  .github/workflows/pr.yaml
Labels: content/other
