Repository aws-samples/eks-workshop-v2, pull requests merged in 2025-06, with the labels that each got.

#1467 docs: Added YAML file explanations for 'Pod Affinity and Anti-Affinity' section
  website/docs/fundamentals/managed-node-groups/basics/affinity/index.md
Labels: content/fundamentals

#1489 chore: Bump AWS TF provider
  manifests/.workshop/terraform/base.tf
Labels: content/other

#1487 update: Ensure Kyverno is ready before applying policy
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
Labels: content/networking

#1490 update: Removed CI section from Flux lab
  manifests/modules/automation/gitops/flux/.workshop/terraform/main.tf
  manifests/modules/automation/gitops/flux/.workshop/terraform/outputs.tf
  website/docs/automation/gitops/flux/ci.md
  website/docs/automation/gitops/flux/index.md
Labels: content/automation
