Repository aws-samples/eks-workshop-v2, pull requests merged in 2025-09, with the labels that each got.

#1614 update: EKS MCP server version change
  manifests/modules/aiml/q-cli/setup/eks-mcp.json
  website/docs/aiml/q-cli/basic-troubleshooting.md
  yarn.lock
Labels: content/aiml

#1639 fix: Fix replicas needed for over-provisioning
  manifests/modules/autoscaling/compute/overprovisioning/scale/deployment.yaml
  website/docs/fundamentals/compute/managed-node-groups/cluster-autoscaler/overprovisioning/scaling.md
Labels: content/fundamentals

#1602 update: Updating the IAM Policy fix to share the right IAM permissions used
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: content/troubleshooting

#1606 Fixing typo in the Lab Troubleshooting > ALB Controller > ALB not creating > Step 3
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/alb/alb_fix_5.md
Labels: content/troubleshooting
