Repository aws-samples/eks-workshop-v2, pull requests merged in 2025-08, with the labels that each got.

#1549 update: Various fixes to account setup procedure
  cluster/eksctl/cluster.yaml
  website/docs/introduction/setup/aws-event.md
  website/docs/introduction/setup/index.md
  website/docs/introduction/setup/your-account/cleanup.md
  website/docs/introduction/setup/your-account/index.md
  website/docs/introduction/setup/your-account/using-eksctl.md
  website/docs/introduction/setup/your-account/using-terraform.md
  website/src/remark/include-yaml.js
Labels: content/introduction

#1553 fix: Troubleshooting - Updates for 1.33 and sample app v1
  manifests/modules/troubleshooting/pod/.workshop/terraform/deployment_image.yaml
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/pod/public_image.md
Labels: content/troubleshooting

#1559 update: Fix typo in chat bot lab explanation
  website/docs/aiml/chatbot/nodepool.md
Labels: content/aiml

#1560 update: Better explain YAML files for Exposing applications labs #1389
  website/docs/fundamentals/exposing/ingress/multiple-ingress.md
  website/docs/fundamentals/exposing/loadbalancer/index.md
  website/docs/fundamentals/storage/ebs/statefulset-with-ebs.md
Labels: content/fundamentals

#1586 update: YAML file explanations: Networking labs
  manifests/modules/networking/network-policies/apply-network-policies/example-network-policy.yaml
  website/docs/networking/eks-hybrid-nodes/connect-hybrid-node.md
  website/docs/networking/vpc-cni/network-policies/debug.md
  website/docs/networking/vpc-cni/network-policies/egress.md
  website/docs/networking/vpc-cni/network-policies/index.md
  website/docs/networking/vpc-cni/network-policies/ingress.md
  website/docs/networking/vpc-cni/prefix/consume.md
  website/docs/networking/vpc-cni/security-groups-for-pods/add-sg.md
  website/docs/networking/vpc-lattice/configuring-routes.md
  website/docs/networking/vpc-lattice/service-network.md
Labels: content/networking

#1588 update: YAML file explanations: Security Labs #1394
  website/docs/security/cluster-access-management/kubernetes-rbac.md
  website/docs/security/guardduty/log-monitoring/privileged_container_mount.md
  website/docs/security/kyverno/baseline-pss.md
  website/docs/security/kyverno/creating-policy.md
  website/docs/security/kyverno/restricting-images.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
Labels: content/security

#1568 update: YAML file explanations for Observability Labs
  website/docs/observability/open-source-metrics/adot.md
Labels: content/observability

#1550 new: Q CLI with EKS MCP server
  manifests/modules/aiml/q-cli/.workshop/cleanup.sh
  manifests/modules/aiml/q-cli/.workshop/terraform/main.tf
  manifests/modules/aiml/q-cli/.workshop/terraform/outputs.tf
  manifests/modules/aiml/q-cli/.workshop/terraform/templates/rules.md
  manifests/modules/aiml/q-cli/.workshop/terraform/vars.tf
  manifests/modules/aiml/q-cli/setup/eks-mcp.json
  manifests/modules/aiml/q-cli/troubleshoot/dynamo/carts-configMap.yaml
  manifests/modules/aiml/q-cli/troubleshoot/dynamo/config.properties
  manifests/modules/aiml/q-cli/troubleshoot/dynamo/kustomization.yaml
  manifests/modules/aiml/q-cli/troubleshoot/failing-pod.yaml
  website/docs/aiml/index.md
  website/docs/aiml/q-cli/advance-troubleshooting.md
  website/docs/aiml/q-cli/assets/list-mcp-tools.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-1-5.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-1.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-2.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-3.jpg
  website/docs/aiml/q-cli/assets/q-cli-response-4.jpg
  website/docs/aiml/q-cli/basic-troubleshooting.md
  website/docs/aiml/q-cli/index.md
  website/docs/aiml/q-cli/q-cli-setup.md
  website/docs/aiml/q-cli/retrieve-cluster-details.md
Labels: content/aiml

#1592 update: Migrated Helm lab to sample app chart
  manifests/modules/introduction/helm/.workshop/cleanup.sh
  manifests/modules/introduction/helm/.workshop/terraform/outputs.tf
  manifests/modules/introduction/helm/.workshop/terraform/vars.tf
  manifests/modules/introduction/helm/values.yaml
  website/docs/introduction/helm/index.md
  website/docs/introduction/helm/tests/hook-install.sh
  website/docs/introduction/helm/tests/hook-replicas.sh
Labels: content/introduction

#1600 update: Updated messaging in the troubleshooting DNS conclusion
  website/docs/troubleshooting/dns/4-check-vpc.md
Labels: content/troubleshooting

#1605 fix: Added the command to export the NODE_NAME variable
  website/docs/troubleshooting/workernodes/three.md
Labels: content/troubleshooting
