Repository aws-samples/eks-workshop-v2, pull requests merged in 2025-03, with the labels that each got.

#1323 fix: Fixing Updated URL link for Linked Workshop.
  website/docs/aiml/genai-platform-aiml-delivery/index.md
Labels: content/aiml

#1322 new: EKS Hybrid Nodes Module
  .spelling
  cluster/eksctl/cluster.yaml
  cluster/terraform/eks.tf
  cluster/terraform/variables.tf
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/base.yaml
  lab/iam/policies/ec2.yaml
  lab/iam/policies/iam.yaml
  lab/iam/policies/ssm.yaml
  manifests/modules/networking/eks-hybrid-nodes/.workshop/cleanup.sh
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/main.tf
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/outputs.tf
  manifests/modules/networking/eks-hybrid-nodes/.workshop/terraform/vars.tf
  manifests/modules/networking/eks-hybrid-nodes/cilium-bgp.yaml
  manifests/modules/networking/eks-hybrid-nodes/cilium-values.yaml
  manifests/modules/networking/eks-hybrid-nodes/deployment.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/deployment.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/ingress.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/kustomization.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/namespace.yaml
  manifests/modules/networking/eks-hybrid-nodes/kustomize/service.yaml
  manifests/modules/networking/eks-hybrid-nodes/kyverno/policy.yaml
  manifests/modules/networking/eks-hybrid-nodes/kyverno/values.yaml
  manifests/modules/networking/eks-hybrid-nodes/nodeconfig.yaml
  testing/Dockerfile
  website/docs/networking/eks-hybrid-nodes/assets/lab_environment.png
  website/docs/networking/eks-hybrid-nodes/cloud-bursting.md
  website/docs/networking/eks-hybrid-nodes/connect-hybrid-node.md
  website/docs/networking/eks-hybrid-nodes/index.md
  website/docs/networking/eks-hybrid-nodes/routing-traffic.md
Labels: content/networking

#1261 fix: [docs] adding a comma for better readability
  website/docs/aiml/inferentia/compile.md
Labels: content/aiml

#1343 fix: Use StackName to be unique in account
  hack/build-ide-cfn.sh
  lab/cfn/eks-workshop-vscode-cfn.yaml
Labels: content/fundamentals

#1350 chore: Removed old EKS Blueprints Terraform references
  manifests/modules/observability/logging/pods/.workshop/terraform/main.tf
  manifests/modules/observability/oss-metrics/.workshop/terraform/main.tf
  manifests/modules/security/secrets-manager/.workshop/terraform/main.tf
Labels: content/other
