Repository aws-samples/eks-workshop-v2, pull requests merged in 2025-07, with the labels that each got.

#1412 new: Add module for CodePipeline EKS action
  lab/iam/policies/labs2.yaml
  lab/iam/policies/labs3.yaml
  lab/scripts/installer.sh
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/cleanup.sh
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/main.tf
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/outputs.tf
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/pipeline.yaml
  manifests/modules/automation/continuousdelivery/codepipeline/.workshop/terraform/vars.tf
  manifests/modules/automation/continuousdelivery/codepipeline/repo/Dockerfile
  manifests/modules/automation/continuousdelivery/codepipeline/repo/values.yaml
  website/docs/automation/continuousdelivery/_category_.json
  website/docs/automation/continuousdelivery/codepipeline/assets/change_history.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ecr_action_input.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ecr_image.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/eks_action_logs.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline-complete.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline-deploy-detail.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/pipeline.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ui_first_change.webp
  website/docs/automation/continuousdelivery/codepipeline/assets/ui_second_change.webp
  website/docs/automation/continuousdelivery/codepipeline/deploy_application.md
  website/docs/automation/continuousdelivery/codepipeline/git.md
  website/docs/automation/continuousdelivery/codepipeline/index.md
  website/docs/automation/continuousdelivery/codepipeline/other_features.md
  website/docs/automation/continuousdelivery/codepipeline/pipeline_setup.md
  website/docs/automation/continuousdelivery/codepipeline/tests/hook-deployment.sh
  website/docs/automation/continuousdelivery/codepipeline/tests/hook-suite.sh
  website/docs/automation/continuousdelivery/index.md
Labels: content/automation

#1503 feat: Add dismissable notification with configurable content
  website/src/components/GlobalNotification/index.js
  website/src/components/GlobalNotification/styles.module.css
  website/src/config/notification.json
  website/src/theme/Root/index.js
Labels: content/other

#1507 fix: read build env to show/hide notification
  hack/publish-content.sh
  website/docusaurus.config.js
  website/src/components/GlobalNotification/index.js
  website/src/config/notification.json
Labels: content/other

#1538 chore: Added local IDE for testing
  Makefile
  docs/authoring_content.md
  hack/ide.sh
  hack/shell.sh
  lab/Dockerfile
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/scripts/code-server.sh
  lab/scripts/entrypoint.sh
  lab/scripts/setup.sh
Labels: content/other

#1545 update: Better explain YAML files for the Storage labs
  website/docs/fundamentals/storage/efs/deployment-with-efs.md
  website/docs/fundamentals/storage/efs/efs-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/deployment-with-fsxn.md
  website/docs/fundamentals/storage/fsx-for-netapp-ontap/fsxn-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
Labels: content/fundamentals

#1547 update: Various language fixes for Secrets Manager lab
  website/docs/security/secrets-management/secrets-manager/ascp.md
  website/docs/security/secrets-management/secrets-manager/create-secret.md
  website/docs/security/secrets-management/secrets-manager/external-secrets.md
  website/docs/security/secrets-management/secrets-manager/index.md
  website/docs/security/secrets-management/secrets-manager/mounting-secrets.md
Labels: content/security
