Repository aws-samples/eks-workshop-v2, pull requests merged in 2025-04, with the labels that each got.

#1326 fix: Add missing description to frontmatter for EKS Hybrid Nodes module
  website/docs/networking/eks-hybrid-nodes/index.md
Labels: content/networking

#1383 fix: karpenter log grep updated in Karpenter lab
  website/docs/autoscaling/compute/karpenter/consolidation.md
Labels: content/autoscaling

#1399 fix: test suite checks for karpenter disruption log
  website/docs/autoscaling/compute/karpenter/consolidation.md
  website/docs/autoscaling/compute/karpenter/tests/hook-grep.sh
Labels: content/autoscaling

#1402 fix: allow s3 lab to work outside of us-west-2
  manifests/modules/fundamentals/storage/s3/deployment/s3pvclaim.yaml
  website/docs/fundamentals/storage/mountpoint-s3/30-persistent-object-storage-with-mountpoint-for-amazon-s3.md
Labels: content/fundamentals

#1400 docs: Fix for #1185 and #1403
  website/README.md
  website/docs/observability/logging/pod-logging/assets/fluentbit-architecture.webp
  website/docs/observability/logging/pod-logging/fluent-bit-cloudwatch.md
  website/docs/observability/logging/pod-logging/fluentbit-setup.md
  website/docs/observability/logging/pod-logging/tests/hook-desc-cm.sh
  website/docs/observability/logging/pod-logging/tests/hook-get-all.sh
  website/docs/observability/logging/pod-logging/tests/hook-pods-log.sh
  website/docs/observability/opensearch/control-plane-logs.md
Labels: content/observability

#1407 chore(deps): bump terraform to 5.95
  manifests/.workshop/terraform/base.tf
Labels: content/other, changes/terraform

#1408 fix: Use delete-all-if-crd-exists for cleanup
  manifests/modules/networking/eks-hybrid-nodes/.workshop/cleanup.sh
Labels: content/networking

#1415 fix: command is returning error
  website/docs/security/cluster-access-management/managing.md
Labels: content/security

#1414 update: Troubleshooting module - permissions
  lab/cfn/eks-workshop-vscode-cfn.yaml
  lab/iam/iam-role-cfn.yaml
  lab/iam/policies/troubleshoot.yaml
  manifests/modules/troubleshooting/alb/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/terrraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/cleanup.sh
  website/docs/troubleshooting/alb/alb_fix_7.md
  website/docs/troubleshooting/alb/tests/hook-fix-7.sh
  website/docs/troubleshooting/pod/container_creating.md
  website/docs/troubleshooting/pod/private_image.md
  website/docs/troubleshooting/pod/public_image.md
  website/docs/troubleshooting/workernodes/one.md
  website/docs/troubleshooting/workernodes/two.md
Labels: content/troubleshooting

#1416 fix: Minor edits to MNG affinity docs
  website/docs/fundamentals/managed-node-groups/basics/affinity/index.md
Labels: content/fundamentals
