Repository aws-samples/eks-workshop-v2, pull requests merged in 2025-05, with the labels that each got.

#1417 fix: Troubleshooting worker node issue
  lab/iam/policies/troubleshoot.yaml
  manifests/modules/troubleshooting/dns/.workshop/cleanup.sh
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/cleanup.sh
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/workernodes/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/workernodes/yaml/configmaps.yaml
  website/docs/troubleshooting/workernodes/one.md
  website/docs/troubleshooting/workernodes/three.md
  website/docs/troubleshooting/workernodes/two.md
Labels: content/troubleshooting

#1424 fix: Troubleshooting module all scenarios - pods permission
  manifests/modules/troubleshooting/pod/.workshop/terraform/main.tf
Labels: content/troubleshooting

#1429 fix: troubleshooting minor fixes to cleanup and misc
  manifests/modules/troubleshooting/dns/.workshop/terraform/lab-setup.sh
  manifests/modules/troubleshooting/dns/.workshop/terraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/terraform/outputs.tf
  manifests/modules/troubleshooting/dns/.workshop/terraform/vars.tf
  manifests/modules/troubleshooting/dns/.workshop/terrraform/main.tf
  manifests/modules/troubleshooting/dns/.workshop/terrraform/outputs.tf
  website/docs/troubleshooting/alb/alb_fix_1.md
  website/docs/troubleshooting/dns/index.md
Labels: content/troubleshooting

#1428 update: Streamlined FSxZ module flow
  lab/iam/policies/labs4.yaml
  manifests/modules/fundamentals/storage/fsxz/.workshop/cleanup.sh
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/main.tf
  manifests/modules/fundamentals/storage/fsxz/.workshop/terraform/outputs.tf
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fs-deployment.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/fsxz-fs-pvc.yaml
  manifests/modules/fundamentals/storage/fsxz/deployment-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/fsxz-fs-sc.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-fs/kustomization.yaml
  manifests/modules/fundamentals/storage/fsxz/storageclass-vol/fsxz-vol-sc.yaml
  website/docs/fundamentals/storage/fsx-for-openzfs/deployment-with-fsxz.md
  website/docs/fundamentals/storage/fsx-for-openzfs/ephemeral-container-storage.md
  website/docs/fundamentals/storage/fsx-for-openzfs/fsxz-csi-driver.md
  website/docs/fundamentals/storage/fsx-for-openzfs/index.md
Labels: content/fundamentals

#1448 chore: Update homepage promo link
  website/src/components/HomepageBanner/index.js
Labels: content/other

#1447 docs: Update ascp.md
  website/docs/security/secrets-management/secrets-manager/ascp.md
Labels: documentation, content/security

#1443 update: Various language fixes to Ray Serve lab
  manifests/modules/aiml/chatbot/.workshop/cleanup.sh
  website/docs/aiml/chatbot/add-mistral.md
  website/docs/aiml/chatbot/expose.md
  website/docs/aiml/chatbot/index.md
  website/docs/aiml/chatbot/mistral.md
  website/docs/aiml/chatbot/nodepool.md
  website/docs/aiml/chatbot/setup.md
  website/docs/aiml/chatbot/using.md
  website/docs/aiml/index.md
  website/docs/costoptimization/index.md
  website/docs/costoptimization/savingsplans/assets/figure1.webp
  website/docs/costoptimization/savingsplans/assets/figure2.webp
  website/docs/costoptimization/savingsplans/assets/figure3.webp
  website/docs/costoptimization/savingsplans/estimatingandbuying.md
  website/docs/costoptimization/savingsplans/index.md
Labels: content/aiml

#1413 update: Added ExternalDNS to Ingress lab
  manifests/modules/exposing/ingress/.workshop/terraform/main.tf
  manifests/modules/exposing/ingress/.workshop/terraform/outputs.tf
  manifests/modules/exposing/ingress/.workshop/terraform/vars.tf
  manifests/modules/exposing/ingress/external-dns/ingress.yaml
  manifests/modules/exposing/ingress/external-dns/kustomization.yaml
  website/docs/fundamentals/exposing/ingress/external-dns.md
  website/docs/fundamentals/exposing/ingress/index.md
  website/static/img/services/route53.png
Labels: content/fundamentals

#1449 update: YAML breakdown for Overprovisioning section
  website/docs/autoscaling/compute/cluster-autoscaler/overprovisioning/setting-up.md
Labels: content/autoscaling
